%p 
  Christian is based in 
  %strong 
    Halifax, Nova Scotia
  and can produce quality solutions for you and your business. Services include:
%ul
  %li Web consulting
  %li Ruby on Rails development
  %li Enterprise Java&nbsp;&amp;&nbsp;Android development
  %li Database design
%p 
  Please send me an
  %strong
    %a{title: "Email me", href: "mailto:chrisdewolf@gmail.com"} email
  with an outline of your project.