%h1 Store
- if current_user
  %h3 Welcome, #{current_user.full_name}! 
  = link_to 'Sign out', destroy_user_session_path, method: :delete
- else
  = link_to 'Log in', user_session_path
  |
  = link_to 'Sign up', new_user_registration_path
%br

