@import '../colormind';

body {
  color: $white;
  //background-image: radial-gradient(circle farthest-corner at 45px 45px , #000000 0%, #303030 50%, #000000 95%) !important;
  background: rgb(111,133,193) !important; /* Old browsers */
  background: -moz-linear-gradient(left,    rgba(111,133,193,1) 0%, rgba(56,66,102,1) 100%) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(111,133,193,1) 0%, rgba(56,66,102,1) 100%) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,     rgba(111,133,193,1) 0%, rgba(56,66,102,1) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.characters {
  background-image: image-url('snapback-chars.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 10rem;
  background-attachment: fixed;
}

a {
  color: $sky-cyan;
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6, tr, th, a, li, ul {
  font-family: CMUSerifRoman;
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 2em;
}

#sb-header {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 85%;
  margin: 0 auto;
}

#snapback-content {
  max-width: 650px;
  text-align: center;
  margin: 0 auto;
}

.product-text {
  color: white;
}

.promo-header {
  color: white;
}

.menu {
  color: white;
}

#user-wrapper {
  background-color: $black;
  color: $white !important;
  font-family: "Courier New", monospace !important;

  a {
    color: $l-ghost-green;
    font-family: "Courier New", monospace !important;
  }
}

#snapback-footer-bar {
  border: 2px $white solid;
  max-width: 300px;
  border-radius: 30px;
  margin: 30px auto 0 auto;
}

.snapback-image {
  border-radius: 100px;
}

#snapback-logo-wrapper {
  display: inline-block;
}

.header-words {
  margin-top: 0px;
  h1, p {
    font-family: "Courier New", monospace !important;
  }
  h1 {
    color: $white !important;
    font-weight: 100;
    font-size: 3em;
  }
  p {
    color: $l-purple-smoke !important;
  }
}

#mobile-title {
  h1, p {
    font-family: "Courier New", monospace !important;
    color: $white !important;
    font-weight: 100;
  }
}

.ghost-align {
  vertical-align: top;
  margin-top: 40px !important;
  margin-left: 10px !important;
  width: 60%;
}

///  BOOK STUFF

.snapback-book {
  margin-top: 30px !important;
  li.front {
    background-image: image-url("ghostcrime-icon.png");
  }
}

.book-title {
  text-align: center;
  color: #000000;
  font-family: "Courier New", monospace !important;
}

.book-header {
  color: #000000;
  text-align: left;
  margin: 10px;
  font-family: "Courier New", monospace !important;
}

.book-para {
  color: #000000;
  text-align: justify;
  margin: 0px 10px 0px 10px;
  text-indent: 20px;
}

.no-indent {
  text-indent: 0 !important;
}

.ital {
  display: inline-block;
  font-style: italic;
}


@media screen and (min-width: 320px) {

  .snapback-title-image {
    width: 320px;
  }

}

@media screen and (min-width: 601px) {

  .snapback-title-image {
    width: 350px;
  }

}

