
%h1 Listing All Players

%table.small-width
  %thead
    %tr
      %th Username
      %th Item downloads
      %th

  %tbody
    - @players.each do |woods_player|
      %tr
        %td= woods_player.username
        %td= woods_player.item_download_count
        %td= link_to 'Stats', woods_player

%br

= render "admin/admin_link"
