%h1 Listing woods_boxes

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @woods_boxes.each do |woods_box|
      %tr
        %td= link_to 'Show', woods_box
        %td= link_to 'Edit', edit_woods_box_path(woods_box)
        %td= link_to 'Destroy', woods_box, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Box', new_woods_box_path
