%h2 Snapback Vol.1 released!

%p
  Last weekend I showed up to
  = link_to "Hal-Con", 'http://www.hal-con.ca', target: 'blank', class: 'blog-link'
  with a table full of newly-minted copies of
  = succeed "," do
    %strong Snapback
  and I tell you, did the occasional person ever stop to look at them! In all seriousness, I did move a good number, and it was a successful weekend.

%p
  But then shortly after, I succumbed to some November sadness, as is expected, and I only just got around to producing an eBook version of the damn thing. So the PDF is up here now, and if you want a physical copy, you can order one of those, too. There's $5 shipping on that link, so if you're local and want to just pick it up from me, let me know when you order and I'll reimburse you the $5. God I'm accommodating.

%p
  And as for the eBook, a deal mechanism is in place, so if you buy
  %strong Snapback
  and
  %string Ghostcrime
  eBooks together, you get $2 off the purchase! I'm just
  %em throwing
  money away. For literacy, though.
