%h2 A Dream of Spring

%p I'm sure winter has been hard on all of us here in the Maritimes. Between the biting cold & the hours of darkness, I wouldn't blame anyone for losing the motivation to write.

%p
  On that subject, I haven't been doing a ton of that this winter, but nevertheless, I'm going to be selling the books I've previously written at this year's
  = link_to "Spring Geequinox.", "http://geequinox.ca/", target: 'blank', class: 'blog-link'
  Why don't you drop on by? It's the weekend of April 22nd, and on the Sunday I'll be running a panel on Go.

%p
  I am still planning to have Volume 2 of
  %strong Snapback
  done for Hal-Con this fall, though. If you haven't read Volume 1, the eBook is only $0.99. Or half-price if you also buy
  = succeed "!" do
    %strong Ghostcrime
  A whole dollar is pretty steep, I know.
