%h2 Between contracts

%p
  There's nothing like the pseudo-holiday of self-employment. Since my contract as CTO of
  = link_to "Pursu.it", "http://www.pursu.it", target: "blank", class: "blog-link"
  came to an end last Friday, I've been jetting around the country, specifically to cities in BC. That province has got it together.

%p
  But now I am back in Halifax and ready to buckle down again. I've got to finalize the edits for
  %strong Snapback
  before I publish it, and there's some web stuff for friends to polish off. But other than that? I bought an
  = link_to "irresponsible number of books", "https://twitter.com/dewolfchristian/status/762756730619043841", target: "blank", class: "blog-link"
  on the west coast, mostly sci-fi, so I'll probably just read until it's fall.

%p
  Unless, of course, you need me to build you a data-rich web application! Or, if you have an old/broken app that needs a breath of life, that's what I do best.
  %strong
    %a{title: "Email me", href: "mailto:chrisdewolf@gmail.com", class: "blog-link"} Let me know.
