%h2 2nd edition of Ghostcrime printed!

%p It's not that the first edition was bad. The margins were slightly too small, so you really had to open them up to get into the middle of the page. The covers were a little dark, maybe. Wasn't a barcode on the back cover.

%p But this next edition. Oh man. Does it ever fix all of those problems!

%p Right now they're gathering a little dust in the office, but soon the first bunches are going out to local bookstores, where their new barcodes will be scanned by skeptical proprietors. I'm also putting aside a bunch for Hal-Con 2016, which I recently found out I've got a table at. See you in 5 months? I don't usually make plans this far in advance.
