%h2 New tie-in for Ghostcrime!
%p
  These days, you might expect a tech-savvy (or well-funded) novelist to release a tie-in game along with their new book. While I've got a game in the works to go with the re-release of my cat thriller
  %strong Gray,
  I'm going a slightly different direction with
  %strong Ghostcrime.

%p
  The first difference you'll notice is that I'm only doing this now, and I released
  %strong Ghostcrime
  a good 10 months ago. Listen, I had other stuff going on, okay? I hadn't even built the eBook store yet.

%p
  But also, instead of a tie-in game, I've built a tie-in CRM!

%p
  This application keeps track of your contacts, your obligations to them, upcoming meetings, and recurring tasks you need to remember. It also keeps track of all the books you're reading right now and ideas you've had, nudging you to complete them when you'd ordinarily go do something else, like watch TV.

%p
  Now, unlike the sad protagonist of
  %strong Ghostcrime,
  you can sort your life out with technology's help! It's called
  = succeed "." do
    = link_to "ghostCRM", "http://www.ghostcrm.ca", class: "blog-link"

%p
  That's the joke.
