%h2 Snapback sent to print!

%p
  It's exciting times here in the living room that has become my studio -- after months of writing and years of editing, dithering, re-working, giving up, un-giving up, etc., Volume 1 of
  %strong Snapback
  has been sent off to print! I'll be selling it for $10 at
  = link_to "Hal-Con", 'http://www.hal-con.ca', target: 'blank', class: 'blog-link'
  in two weeks. The eBook will also be available, if I can muster up the energy to produce it.

%p
  The foundation of the story took a long time to get right, but I'll be able to 'churn out' further volumes much faster now, and publish them digital-only. Volume 2 is about 2/3rds done at this point, and will probably be available early next year.

%p
  I guess another reason I'm excited for this to be out is that I built a 'price combos' deal system into this online store last year, when I only had
  %strong Ghostcrime
  for sale. But now, with more than one book, I can bundle them together and offer discounts, making use of carefully-written, well-tested code from last November! Why am I even a writer. It is clearly more torturous than programming.
