%h2 Word on the Street

%p
  Hello readers! If you do, in fact, enjoy reading, I'd be surprised if you didn't come down to the most prominent book festival in the region and elsewhere,
  = succeed "!" do
    = link_to "Word on the Street", 'http://thewordonthestreet.ca/halifax/', target: 'blank', class: 'blog-link'

%p
  I'll be at the
  = link_to "Hal-Con", 'http://www.hal-con.ca', target: 'blank', class: 'blog-link'
  table with some other local nerds, so head over, say hello, and maybe even pick up a copy of
  %strong Ghostcrime.
  And if you don't actually enjoy reading, I'll know. I can sense these things.

%p
  Oh, and in completely unrelated badger news: I finally migrated my
  = link_to 'badger blog', thisbadger_path, class: 'blog-link'
  from its almost 7-year home on Blogspot to this site! Now's a great time to catch up on our adventures. What, do you not like badgers either? I find that hard to believe.
