%h1 Listing Itemsets

%table
  %thead
    %tr
      %th
      %th

  %tbody
    - @itemsets.each do |i|
      %tr
        %td= i.name

= link_to "Back to story manager", manage_woods_story_path(@story)
