%h1 Listing Itemsets

%table.small-width
  %thead
    %tr
      %th
      %th

  %tbody
    - @itemsets.each do |i|
      %tr
        %td= i.name
        %td= link_to "View", woods_story_itemset_path(@story, i)

= link_to "Back to story manager", manage_woods_story_path(@story)
