@import '../colormind';

.crm-panel {
  margin: 0 auto 25px auto;
  padding: 15px;
  border-radius: 40px;
  background-color: $white;
  width: 90%;
  text-align: center;
}

.crm-table {
  background-color:  $slate-gray;
  tr:nth-child(odd)  { background-color: $purple-smoke; }
  tr:nth-child(even) { background-color: $l-purple-smoke; }
  th {
    text-align: center;
  }
  border-radius: 5px;
}

.thirds-table {
  td {
    width: 33%;
  }
}

#store-footer-bar {
  background-color: $ghost-green;
  color: $white;
  border-radius: 30px;
  width: 300px;
  margin: 0 auto;
}

.meeting-row {
  background-color: $ice-blue !important;
}

.obligation-row {
  background-color: $l-back-purple !important;
}

.task-row {
  background-color: $blue-smoke !important;
}

.meeting-color {
  color: darken($ice-blue, 10%);
}

.obligation-color {
  color: darken($l-back-purple, 10%);
}

.task-color {
  color: darken($alt-smoke-gray, 20%);
}

.contact-color {
  color: $ghost-green;
}

.idea-color {
  color: $flower-pink;
}

.book-color {
  color: $pumpkin-orange;
}

.settings-color {
  color: $slate-gray;
}

.closed-color {
  color: darken($alt-smoke-gray, 20%);
}

.meeting-table {
  tr:nth-child(odd)  { background-color: $ice-blue; }
  tr:nth-child(even) { background-color: $soft-cyan; }
}

.obligation-table {
  tr:nth-child(odd)  { background-color: $l-back-purple; }
  tr:nth-child(even) { background-color: lighten($l-back-purple, 5%); }
}

.task-table {
  tr:nth-child(odd)  { background-color: $blue-smoke; }
  tr:nth-child(even) { background-color: $alt-smoke-gray; }
}

.contact-table {
  tr:nth-child(odd)  { background-color: $l-ghost-green;}
  tr:nth-child(even) { background-color: lighten($l-ghost-green, 30%); }
}

.contact-table {
  tr:nth-child(odd)  { background-color: $l-ghost-green;}
  tr:nth-child(even) { background-color: lighten($l-ghost-green, 30%); }
}

.idea-table {
  tr:nth-child(odd)  { background-color: lighten($flower-pink, 10%); }
  tr:nth-child(even) { background-color: lighten($flower-pink, 20%); }
}

.book-table {
  tr:nth-child(odd)  { background-color: lighten($pumpkin-orange, 15%); }
  tr:nth-child(even) { background-color: lighten($pumpkin-orange, 30%); }
}

.radius {
  select {
    border-radius: 2px;
  }
}

#crm-logo-wrapper {
  display: inline-block;
  height: 75px;
  width: 75px;
}

@media screen and (min-width: 320px) {

  #user-wrapper {
    position: absolute;
  }


  #mynameis {
    width: 170px;
    font-size: 0.75em;
  }

  #imake {
    font-size: 0.75em;
  }

}

@media screen and (min-width: 800px) {

  #user-wrapper {
    position: static;
  }

  .crm-panel {
    width: 700px;
  }

  #mynameis {
    width: 280px;
    font-size: 1em;
  }

  #imake {
    font-size: 1em;
  }
}
