@import '../colormind';

.crm-panel {
  margin: 0 auto 25px auto;
  padding: 15px;
  border-radius: 40px;
  background-color: $white;
  width: 90%;
  text-align: center;
}

.crm-table {
  background-color:  $slate-gray;
  tr:nth-child(odd)  { background-color: $purple-smoke; }
  tr:nth-child(even) { background-color: $l-purple-smoke; }
  th {
    text-align: center;
  }
}

.thirds-table {
  td {
    width: 33%;
  }
}

#footer-bar {
  background-color: $ghost-green;
  color: $white;
}

.meeting-row {
  background-color: $ice-blue !important;
}

.obligation-row {
  background-color: $l-back-purple !important;
}

.task-row {
  background-color: $blue-smoke !important;
}

.meeting-color {
  color: darken($ice-blue, 10%);
}

.obligation-color {
  color: darken($l-back-purple, 10%);
}

.task-color {
  color: darken($alt-smoke-gray, 20%);
}

.contact-color {
  color: $ghost-green;
}

.idea-color {
  color: $flower-pink;
}

.book-color {
  color: $pumpkin-orange;
}

.reminder-color {
  color: $slate-gray;
}

.meeting-table {
  tr:nth-child(odd)  { background-color: $ice-blue; }
  tr:nth-child(even) { background-color: $soft-cyan; }
}

.obligation-table {
  tr:nth-child(odd)  { background-color: $l-back-purple; }
  tr:nth-child(even) { background-color: $purple-smoke; }
}

.task-table {
  tr:nth-child(odd)  { background-color: $blue-smoke; }
  tr:nth-child(even) { background-color: $alt-smoke-gray; }
}

.contact-table {
  tr:nth-child(odd)  { background-color: $l-ghost-green;}
  tr:nth-child(even) { background-color: lighten($l-ghost-green, 30%); }
}

.contact-table {
  tr:nth-child(odd)  { background-color: $l-ghost-green;}
  tr:nth-child(even) { background-color: lighten($l-ghost-green, 30%); }
}

.idea-table {
  tr:nth-child(odd)  { background-color: lighten($flower-pink, 10%); }
  tr:nth-child(even) { background-color: lighten($flower-pink, 20%); }
}

.book-table {
  tr:nth-child(odd)  { background-color: lighten($pumpkin-orange, 15%); }
  tr:nth-child(even) { background-color: lighten($pumpkin-orange, 30%); }
}


@media screen and (min-width: 800px) {

  .crm-panel {
    width: 700px;
  }

}
