%h1 Welcome to ghostCRM!

%p
  Keep track of your personal obligations as well as your dreams and goals.

%p
  = link_to 'Sign in', main_app.user_session_path
  or
  = link_to 'Sign up',  main_app.new_user_registration_path
  to begin organizing your shambles of a life.

%br
%br
%p
  = link_to 'Back to ChristianDeWolf.com', main_app.root_path
