%h1 Listing woods_finds

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @woods_finds.each do |woods_find|
      %tr
        %td= link_to 'Show', woods_find
        %td= link_to 'Edit', edit_woods_find_path(woods_find)
        %td= link_to 'Destroy', woods_find, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Find', new_woods_find_path
