#badger-nav

  = link_to "Archives", archives_badger_index_path, class: 'bit-larger'

  = image_tag "badger.ico", width: '8px', height: '8px'

  = link_to "ChristianDeWolf.com", root_path, class: 'bit-larger'
