#badger-nav
  = link_to "Read from the beginning", read_badger_index_path, class: 'bit-larger'

  = image_tag "badger.ico", width: '8px', height: '8px'

  = link_to "Bookstore", root_path, class: 'bit-larger'
