#header
  .left-header{style: "display: inline-block;"}
    .left.face
      %a{ href: thisbadger_path }= image_tag( "badger-circle.png", alt: "I Found This Badger" )

    %h1#mynameis I Found This Badger

  = render "layouts/userbar"
