%div{style: "text-align: left;"}

  #tags-holder
    %span#tags-tag.radical-diminutive.embolden Tags:

    - locals[:post][:tags].each do |tag|
      %span= link_to tag, tag_badger_index_path + "?name=" + tag, class: "tag-link"

  %br
