#crm-footer-bar.center
  %h5.menu Wolf Butler Art & Software (c) #{Time.now().year}
  %span.diminutive= link_to "Terms of Use", main_app.terms_of_use_policies_path
  %span.diminutive.purpler -
  %span.diminutive= link_to "Privacy Policy", main_app.privacy_policies_path
