#header
  .left-header{style: "display: inline-block;"}
    #crm-logo-wrapper
      .left.face
        %a{ href: crm_path }= image_tag( "ghostcrm-logo.png", alt: "ghostCRM", class: "header-image" )

    %h1#mynameis ghostCRM
    %p#imake.subtitle.soft Sort your goddamn life out

  = render "layouts/userbar"
