#header
  %table
    %tr
      %td
        #logo-wrapper
          .left.face
            %h1 CRM
          - if current_assistant
            %h1#mynameis= current_assistant.name
          - else
            %h1#mynameis Digital Assistant
          %p#imake.subtitle.soft Sort your goddamn life out

      %td
        = render "layouts/userbar"
