#header
  %table
    %tr
      %td
        #logo-wrapper
          .left.face
            %h1 CRM

          %h1#mynameis ghostCRM
          %p#imake.subtitle.soft Sort your goddamn life out

      %td
        = render "layouts/userbar"
