#header
  %table
    %tr
      %td
        #logo-wrapper
          .left.face
            %a{ href: crm_path }= image_tag( "ghostcrm-logo.png", alt: "ghostCRM" )

          %h1#mynameis ghostCRM
          %p#imake.subtitle.soft Sort your goddamn life out

      %td
        = render "layouts/userbar"
