%h1 Listing woods_moverules

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @woods_moverules.each do |woods_moverule|
      %tr
        %td= link_to 'Show', woods_moverule
        %td= link_to 'Edit', edit_woods_moverule_path(woods_moverule)
        %td= link_to 'Destroy', woods_moverule, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Moverule', new_woods_moverule_path
