@import '../colormind';

#fade-wrapper {
  background-color: $white;
}

#content {
  background-color: $white;
}

body {
  background-color: $white;
}

h1, h2, h3, h4, h5, h6, p, a, ul, li {
  color: $black;
}

li, ul {
  text-align: left;
}

#nav-desktop, #nav-mobile {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black !important;
  border-radius: 6px;
  border-style: solid;
  border-width: 2px;
  border-color: #2E2E2E;
  margin-bottom: 20px;
  box-shadow: -5px 5px 5px 0px #000000;
}

#nav-desktop { max-width: 300px; }
#nav-mobile  { max-width: 625px; }

#nav-desktop a, #nav-mobile a {
  color: $white;
}

.product-description {
  color: $gray;
}

#ink-accent-bar {
  min-height: 400px;
  background-color: $black;
  max-width: 100%;
  min-width: 100%;
  position: fixed;
  bottom: 0;
  z-index: -800;
}

.top-button {
  color: $black;
}

hr {
  border-color: $white;
  background-color: $black;
}

#mobile-divider {
  display: none;
}
