* {
  margin: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: black;
}

.hidden {
  display: none;
}

#fadeWrapper {
  max-width: 100%;
  min-width: 100%;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, tr, th, a, li, ul {
  font-family: CochinLT;
}

p {
  font-family: CochinLT;
}

p, h1, h2, h3, h4, h5, h6, tr, .cursory {
  cursor: default;
}

.pointer {
  cursor: pointer;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4, h5, h6, tr, th, a, li, ul {
  font-size: 24px;
}

p {
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.site-width {
  max-width: 1050px;
  min-width: 625px;
}

tr, th {
  color: white;
  text-align: center;
  width: 33%;
}

a {
  color: #8E3EA9;
  text-align: left;
}

li {
  color: white;
  text-align: left;
}

ul {
  color: white;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

nav, nav-mobile {
  z-index: 999;
  align: top;
}

nav {
  float: left;
  margin-right: 25px;
  max-width: 300px;
}

nav-mobile {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

/* Desktop layout */
@media screen and (min-width: 1040px) {
  nav {
  }
  nav-mobile {
    display: none;
  }
  #content {
    width: 100%;
  }
  #mobile-divider {
    display:none;
  }
  #products-link {
    display: none;
  }
}

/* Mobile layout */
@media screen and (max-width: 1040px) {
  nav {
    display: none;
  }
  nav-mobile {
    display: block;
  }
  #content {
    width: 80%;
  }
  #mobile-divider {
    display:block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
  }
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto ;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

.header {
  margin-left: 20%;
  margin-bottom: 15px;
}

.footer, .push {
  height: 7em;
  text-align: center;
}

.container {
  margin-left: 10%;
  margin-right: 10%;
}

#content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}

.product-icon {
  margin-bottom: 30px;
}

.prose-wrapper {
  text-align: left;
  text-indent: 35px;
}

.prose-wrapper img {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Colourizers */
.whitener {
  color: white;
}

.blackener {
  color: black;
}

.grayer {
  color: gray;
}

.purpler {
  color: #8E3EA9;
}

.oranger {
  color: #FB9400 !important;
}

.platinum {
  color: #88A8B0;
}

/*B&W*/
.swell {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.swell:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
}

#left-control, #right-control {
  cursor: pointer;
}

.fractalfic-logo-modifier {
  filter: brightness(225%);
  -webkit-filter: brightness(225%);
}

.df-table {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto ;
}

.df-cell {
  padding: 32px;
}

.left {
  text-align: left;
}

#gray-cover {
  vertical-align: none;
  float: right;
}

#top-links {
  float: right;
  margin-top: 70px;
  margin-right: 55px;
  text-align: right;
}

.top-button {
  text-decoration: none;
  text-align: right;
}

.no-dec {
  text-decoration: none;
}

.flow {
  display: inline;
  max-width: 300px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.para p, .para h1, .para h2, .para h3, .para h4, .para h5, .para h6 {
  text-align: left;
}

.para img {
  text-align: center;
  margin-left: auto;
  margin-right: auto ;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto ;
}

.para li {
  margin-bottom: 20px;
}

.CochinLT {
  font-family: CochinLT;
  font-weight: normal;
  font-style: normal;
}

.Courier {
  font-family: "Courier New", monospace;
  font-weight: normal;
  font-style: normal;
}

.diminutive {
  font-size: 20px;
}

.ultra-diminutive {
  font-size: 10px;
}
