@import '../colormind';

* {
  margin: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: $black;
}

.right {
  float: right;
}

.hidden {
  display: none;
}

#fadeWrapper {
  max-width: 100%;
  min-width: 100%;
}

.justify {
  text-align: justify !important;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, tr, th, a, li, ul {
  font-family: CMUSerifRoman;
  font-weight: normal;
  font-style: normal;
}

p {
  font-family: CMUSerifRoman;
  font-weight: normal;
  font-style: normal;
}

p, h1, h2, h3, h4, h5, h6, tr, .cursory {
  cursor: default;
}

hr {
  margin: 35px 0;
}

.pointer {
  cursor: pointer;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4, h5, h6, tr, th, a, li, ul {
  font-size: 24px;
}

p {
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 16px;
}

tr, th {
  color: $white;
  text-align: center;
  width: 33%;
}

a {
  color: $servile-purple;
  text-align: left;
}

li {
  color: $white;
  text-align: left;
}

ul {
  color: $white;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

#blog {
  p {
    text-align: justify !important;
  }
}

.swell, .skoosh {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}


.swell:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
}

.blog-title {
  color: $servile-purple;
  margin-left: 20px;
  font-weight: bold;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto ;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

.header {
  margin-left: 20%;
  margin-bottom: 15px;
}

.footer, .push {
  height: 10em;
  text-align: center;
}

#content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}

.product-icon {
  margin-bottom: 30px;
}

.prose-wrapper {
  text-align: left;
  text-indent: 35px;
}

.prose-wrapper img {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Colourizers */
.whitener {
  color: $white;
}

.blackener {
  color: $black;
}

.grayer {
  color: $gray;
}

.purpler {
  color: $servile-purple;
}

.oranger {
  color: $pumpkin-orange !important;
}

.platinum {
  color: $platinum-blue;
}

/*B&W*/

#left-control, #right-control {
  cursor: pointer;
}

.fractalfic-logo-modifier {
  filter: brightness(225%);
  -webkit-filter: brightness(225%);
}

.df-table {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto ;
}

.df-cell {
  padding: 32px;
}

.datemargin {
  margin: -44px 0 0 20px;
}

.left {
  text-align: left;
}

#gray-cover {
  vertical-align: none;
  float: right;
}

#top-links {
  float: right;
  margin-top: 70px;
  margin-right: 55px;
  text-align: right;
}

.top-button {
  text-decoration: none;
  text-align: right;
}

.no-dec {
  text-decoration: none;
}

.flow {
  display: inline;
  max-width: 300px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.para p, .para h1, .para h2, .para h3, .para h4, .para h5, .para h6 {
  text-align: left;
}

.para img {
  text-align: center;
  margin-left: auto;
  margin-right: auto ;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto ;
}

.para li {
  margin-bottom: 20px;
}

.CMUSerifRoman {
  font-family: CMUSerifRoman;
  font-weight: normal;
  font-style: normal;
}

.courier {
  font-family: "Courier New", monospace;
  font-weight: normal;
  font-style: normal;
}

.diminutive {
  font-size: 20px;
}

.ultra-diminutive {
  font-size: 10px;
}

.radical-diminutive {
  font-size: 65%;
}

#category-holder, #tags-holder {
  display: inline-block;
  text-align: left !important;
  font-size: 1.2em;
  margin-top: 15px;
}

#tags-holder {
  margin-left: 20px;
}

.tag-link, .category-link {
  font-weight: bold;
  text-decoration: underline;
}

.category-link {
  font-size: 90% !important;
}

.tag-link {
  font-size: 80% !important;
}

a.tag-link {
  color: $bright-purple !important;
}

a.category-link {
  color: $link-blue !important;
}

nav, #nav-mobile {
  z-index: 999;
  align: top;
}

nav {
  float: left;
  margin-right: 25px;
  max-width: 300px;
}

#nav-mobile {
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  min-width: 300px;
}

#wb-being-scaled {
  cursor: pointer;
  text-align: center;
}

// specific images

.silver-image {
  width: 600px;
  height: 414px;
}

.precious-image {
  height: 325px;
  width: 433px;
}

#df-cover-image {
  height: 300px;
  width: 500px;
}

#blackink-cover-image {
  width: 600px;
  height: 600px;
}

#snapback-cover-image {
  width: 650px;
  height: 492px;
}

#snapback-title-image {
  width: 600px;
  height: 162px;
}
#snapback-illustrated-image {
  width: 600px;
  height: 50px;
}
#ghostcrime-cover-image {
  width: 500px;
  height: 443px;
}
#gc-ordernow-button {
  width: 344px;
  height: 94px;
}
#blog-goban-image {
  width: 600px;
  height: 444px;
}
#mobile-gray-cover {
  display: none;
}
// DF
#df-comic-image {
  width: 700px;
  height: 541px;
}
#df-alpha-image {
  width: 497px;
  height: 438px;
}
#df-android-image {
  width: 400px;
  height: 240px;
}
#diamond-find-lp {
  width: 725px;
  height: 537px;
}
#df-terminus {
  width: 725px;
  height: 271px;
}
#df-fractalfic {
  width: 715px;
  height: 557px;
}
#df-binarywoods {
  width: 600px;
  height: 636px;
}
#about-image {
  width: 500px;
  height: 375px;
}

/////////////////////////////////////////////////
/* Mobile layout */

// A MEDIUM SIZE
@media screen and (max-width: 1039px) {
  #content {
    width: 80%;
  }
  .site-width {
    max-width: 1050px;
    min-width: 625px;
  }
  nav {
    display: block;
  }
  #nav-mobile {
    display: none;
  }

  #snapback-cover-image {
    width: 325px;
    height: 246px;
  }
  #snapback-title-image {
    width: 300px;
    height: 81px;
  }
  #snapback-illustrated-image {
    width: 300px;
    height: 27px;
  }
  #ghostcrime-cover-image {
    width: 333px;
    height: 295px;
  }
  #gc-ordernow-button {
    width: 258px;
    height: 70px;
  }
  #blackink-cover-image {
    width: 350px;
    height: 350px;
  }
  .silver-image {
    width: 333px;
    height: 230px;
  }
  .precious-image {
    height: 225px;
    width: 300px;
  }
  #mobile-gray-cover {
    display: block;
  }

  #gray-cover {
    display: none;
  }
  #blog-goban-image {
    width: 300px;
    height: 222px;
  }
  // DF
  #df-comic-image {
    width: 350px;
    height: 271px;
  }
  #df-alpha-image {
    width: 249px;
    height: 219px;
  }
  #df-android-image {
    width: 200px;
    height: 120px;
  }
  #diamond-find-lp {
    width: 387px;
    height: 268px;
  }
  #df-terminus {
    width: 387px;
    height: 135px;
  }
  #df-fractalfic {
    width: 357px;
    height: 278px;
  }
  #df-binarywoods {
    width: 300px;
    height: 318px;
  }
  #about-image {
    width: 250px;
    height: 187px;
  }
}


// THE SECOND SMALLEST
@media screen and (max-width: 800px) {
  nav {
    display: none;
  }
  #nav-mobile {
    display: block;
  }
  #content {
    width: 80%;
  }
  #mobile-divider {
    display:block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
  }
  .site-width {
    min-width: 300px;
  }

  #title-img, #reserve-title-img {
    height: 120px;
    width: 246px;
    margin-top: 10px;
  }

  #ink-title-img {
    height: 140px;
    width: 246px;
  }

  #top-links {
    display: inline-block;
    float: none;
    margin: 70px 0 20px 40px;
    text-align: center;
  }

  .smart-image {
    max-width: 450px;
    max-height: 300px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  p, h4, h5, h6, tr, th, a, li, ul {
    font-size: 16px;
  }

  .silver-image {
    width: 333px;
    height: 230px;
  }

  #snapback-cover-image {
    width: 325px;
    height: 246px;
  }
  #snapback-title-image {
    width: 300px;
    height: 81px;
  }
  #snapback-illustrated-image {
    width: 300px;
    height: 27px;
  }
}



// THE VERY SMALLEST
@media screen and (max-width: 530px) {
  .header {
    margin: 0 auto;
    text-align: center;
  }

  #top-links {
    margin-top: 10px;
    margin-left: 0;
  }

  .top-button {
    display: inline-block;
    margin: 0 10px;
  }

  #df-cover-image {
    height: 180px;
    width: 300px;
  }
  #blackink-cover-image {
    width: 300px;
    height: 300px;
  }
  #df-comic-image {
    width: 300px;
    height: 232px;
  }
  #diamond-find-lp {
    width: 300px;
    height: 207px;
  }
  #df-terminus {
    width: 300px;
    height: 104px;
  }
  #df-fractalfic {
    width: 300px;
    height: 234px;
  }
  #df-binarywoods {
    width: 300px;
    height: 318px;
  }
}



/* Desktop layout */
@media screen and (min-width: 1040px) {
  .site-width {
    max-width: 1050px;
    min-width: 625px;
  }
  nav {
    display: block;
  }
  #nav-mobile {
    display: none;
  }
  #content {
    width: 100%;
  }
  #mobile-divider {
    display:none;
  }
  #products-link {
    display: none;
  }
}

