@import '../colormind';

* {
  margin: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

body { background-color: $black; }

.no-bullets { list-style: none; }
.left  { text-align: left; }
.right { float: right; }
.hidden { display: none; }

#fade-wrapper {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}

#blog {
  margin: 0 auto;
}

.super-wrapper {
  margin: 0 auto;
}

#nav-desktop, #nav-mobile {
  z-index: 999;
  align: top;
}

#nav-desktop {
  float: left;
  margin-right: 25px;
  max-width: 300px;
}

#nav-mobile {
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  min-width: 300px;
}

.justify { text-align: justify !important; }

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, tr, th, a, li, ul {
  font-family: CMUSerifRoman;
  font-weight: normal;
  font-style: normal;
}

p {
  font-family: CMUSerifRoman;
  font-weight: normal;
  font-style: normal;
}

p, h1, h2, h3, h4, h5, h6, tr, .cursory {
  cursor: default;
}

hr {
  margin: 35px 0;
}

.pointer {
  cursor: pointer;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4, h5, h6, tr, th, a, li, ul {
  font-size: 24px;
}

p {
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 16px;
}

tr, th {
  color: $white;
  text-align: center;
  width: 33%;
}

a {
  color: $servile-purple;
  text-align: left;
}

li {
  color: $white;
  text-align: left;
}

ul {
  color: $white;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

#blog {
  p {
    text-align: justify !important;
  }
}

.swell, .skoosh {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}


.swell:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
}

.blog-permalink {
  text-align: center;
  text-decoration: none !important;
  h2 {
    cursor: pointer;
  }
}

.blog-title {
  color: $servile-purple;
  font-size: 1.75em;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto ;
}

#top-bar {
  margin-left: 20%;
  margin-bottom: 15px;
  text-align: left;
}

#footer-bar {
  clear: both;
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  border: 2px white solid;
  border-radius: 50px;
}

#swappable-content {
  margin: 0 auto;
  text-align: center;
  display: block;
}

.product-icon {
  margin-bottom: 30px;
}

.prose-wrapper {
  text-align: left;
  text-indent: 35px;
}

.prose-wrapper img {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.archive-post-link {
  margin-bottom: 5px;
}

.archives-link {
  margin: 30px auto;
  font-size: 1.25rem;
}

// recommendation engine

.recommendations-wrapper {
  margin-top: 30px;
}

.other-posts {
  color: white;
}

.recommended-posts {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.thumb-post-link {
  text-align: center;
  max-width: 200px;
  display: inline;
  margin: 0 10px 15px 10px;
  cursor: pointer;
}

/* Colourizers */
.whitener  { color: $white; }
.blackener { color: $black; }
.grayer    { color: $gray; }
.purpler   { color: $servile-purple; }
.oranger   { color: $pumpkin-orange !important; }
.platinum  { color: $platinum-blue; }

/*B&W*/

#left-control, #right-control {
  cursor: pointer;
}

.fractalfic-logo-modifier {
  filter: brightness(225%);
  -webkit-filter: brightness(225%);
}

.datemargin {
  margin: -44px 0 0 20px;
}

.top-button {
  text-decoration: none;
  text-align: right;
  font-size: 1rem;
}

.no-dec {
  text-decoration: none;
}

.flow {
  display: inline;
  max-width: 300px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.para p, .para h1, .para h2, .para h3, .para h4, .para h5, .para h6 {
  text-align: left;
}

.para img {
  text-align: center;
  margin-left: auto;
  margin-right: auto ;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto ;
}

.para li {
  margin-bottom: 20px;
}

.CMUSerifRoman {
  font-family: CMUSerifRoman;
  font-weight: normal;
  font-style: normal;
}

.courier {
  font-family: "Courier New", monospace;
  font-weight: normal;
  font-style: normal;
}

.diminutive { font-size: 20px; }
.ultra-diminutive { font-size: 10px; }
.radical-diminutive { font-size: 65%; }

#category-holder, #tags-holder {
  display: inline-block;
  text-align: left !important;
  font-size: 1.2em;
  margin-top: 15px;
}

#tags-holder {
  margin-left: 20px;
}

.tag-link, .category-link {
  font-weight: bold;
  text-decoration: underline;
}

.category-link {
  font-size: 90% !important;
}

.tag-link {
  font-size: 80% !important;
}

a.tag-link {
  color: $bright-purple !important;
}

a.category-link {
  color: $link-blue !important;
}

#wb-being-scaled {
  cursor: pointer;
  text-align: center;
}

///// RESPONSIVE /////////

// THE VERY SMALLEST
@media screen and (min-width: 320px) {

  #nav-desktop { display: none; }
  #nav-mobile  { display: block; }

  #top-bar {
    margin: 0 auto;
    text-align: center;
  }

  #swappable-content {
    width: 90%;
    float: none;
  }

  #footer-bar {
    width: 90%;
  }

  .butler-title-image {
    max-width: 320px;
  }

  #top-links {
    margin: 0 auto;
    margin-top: 10px;
    max-width: 320px;
    display: flex;
    justify-content: center;
  }

  .top-button {
    display: inline-block;
    margin: 0 10px;
    font-size: 0.8rem;
  }

  .blog-image {
    max-width: 275px;
  }

  .butler-cover-image {
    max-width: 275px;
  }

  #snapback-title-image {
    max-width: 275px;
  }

  #snapback-illustrated-image {
    max-width: 275px;
  }

}

// THE SECOND SMALLEST, STILL MOBILE
@media screen and (min-width: 530px) {
  .super-wrapper {
    max-width: 799px;
  }
  .butler-title-image {
    max-width: 320px;
  }
  #nav-desktop { display: none; }
  #nav-mobile  { display: block; }

  #swappable-content {
    width: 90%;
    float: none;
  }

  .top-button {
    font-size: 1rem;
  }

  #footer-bar {
    width: 60%;
  }

  #mobile-divider {
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
  }

  .major-content-wrapper {
    display: block;
  }

  #title-img, #reserve-title-img {
    height: 120px;
    width: 246px;
    margin-top: 10px;
  }

  #ink-title-img {
    height: 140px;
    width: 246px;
  }

  #top-links {
    display: inline-block;
    float: none;
    margin: 20px 0;
    text-align: center;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  p, h4, h5, h6, tr, th, a, li, ul {
    font-size: 16px;
  }

  .blog-image {
    max-width: 400px;
  }

  .butler-cover-image {
    max-width: 400px;
  }

  #snapback-title-image {
    max-width: 450px;
  }
  #snapback-illustrated-image {
    max-width: 450px;
  }

}



// MEDIUM SIZE - TABLET & LAPTOP
@media screen and (min-width: 800px) {
  .super-wrapper {
    max-width: 1039px;
  }

  #swappable-content {
    width: 90%;
    float: right;
    max-width: 530px;
  }

  #footer-bar {
    width: 50%;
  }

  #nav-desktop { display: inline; }
  #nav-mobile  { display: none; }

  .major-content-wrapper {
    display: flex;
  }

  .blog-image {
    max-width: 530px;
  }

  .butler-cover-image {
    max-width: 530px;
  }

  #snapback-title-image {
    max-width: 530px;
  }
  #snapback-illustrated-image {
    max-width: 530px;
  }

  #gc-ordernow-button {
    width: 258px;
    height: 70px;
  }
}


/* Desktop layout */
@media screen and (min-width: 1040px) {
  .super-wrapper {
    max-width: 1050px;
  }

  #top-links {
    float: right;
    margin-top: 70px;
    margin-right: 55px;
    text-align: right;
  }

  #nav-desktop { display: inline; }
  #nav-mobile  { display: none; }

  #swappable-content {
    max-width: 725px;
    width: 90%;
    float: right;
  }

  #footer-bar {
    width: 40%;
  }

  #mobile-divider {
    display:none;
  }
  #products-link {
    display: none;
  }

  .blog-image {
    max-width: 700px;
  }
  .butler-cover-image {
    max-width: 700px;
  }

  // specific images

  #snapback-title-image {
    max-width: 600px;
  }
  #snapback-illustrated-image {
    max-width: 600px;
  }

  #gc-ordernow-button {
    width: 344px;
    height: 94px;
  }

}
