#fadeWrapper {
  background-color: black;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

h4 {
  color: white;
}

h5 {
  color: #8E3EA9;
}

h6 {
  color: #88A8B0;
}

p {
  color: white;
}

nav {
  background-color: black;
}

.top-button {
  color: #FB9400;
}

hr {
  border-color: gray;
}
