@import '../colormind';

#fade-wrapper {
  background-color: $black;
}

h1, h2, h3, h4, p {
  color: $white;
}

h5 {
  color: $servile-purple;
}

h6 {
  color: $platinum-blue;
}

#nav-desktop, #nav-mobile {
  background-color: $black;
}

.top-button {
  color: $pumpkin-orange;
}

hr {
  border-color: $gray;
}

a.tag-link {
  color: $platinum-blue !important;
  margin-right: 2px;
}

a.category-link {
  color: $pumpkin-orange !important;
}

#posted-in {
  color: $gray;
}

#tags-tag {
  color: $gray;
}
