#fadeWrapper {
  background-color: black;
}

h1 {
  color: white;
}

h2 {
  color: #FF8A00;
}

h3 {
  color: #88A8B0;
}

h4 {
  color: white;
}

h5 {
  color: #88A8B0;
}

h6 {
  color: white;
}

p {
  font-size: 20px;
  color: white;
}

a {
  color: #88A8B0;
}

li {
  color: #88A8B0;
  text-align: left;
}

ul {
  color: #88A8B0;
  text-align: left;
}

/* Input box controls */
label {
  color: white;
  text-align: center;
}
select {
  color: #ffffff;
  border: #ffffff;
}
textarea {
  color: #ffffff;

}
input {
  color: #a2c2ca;
}

/*
nav img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}*/

.option {
  color: white;
  text-align: center;
}

.product-description {
  color: white;
}

.top-button {
  color: #88A8B0;
}

hr {
  border-color: white;
}
