%h1 Listing woods_possibleitems

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @possibleitems.each do |woods_possibleitem|
      %tr
        %td= link_to 'Show', woods_possibleitem
        %td= link_to 'Edit', edit_woods_possibleitem_path(woods_possibleitem)
        %td= link_to 'Destroy', woods_possibleitem, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Possibleitem', new_woods_possibleitem_path
