%h2 Advanced Melon Techniques

%p
  Hello. I've been doing a bit of
  = link_to "melon-driven marketing", "https://www.m3lon.com", class: "blog-link"
  recently, so if you're visiting because of that, high-five. Now that you're here, perhaps you'll consider buying a book.
  It's been said that
  %strong
    = link_to "Ghostcrime", ghostcrime_path, class: "blog-link"
  is very funny.

%p
  Speaking of marketing, I've been doing more work on
  %strong
    = link_to "ScaleQuail", scalequail_path, class: "blog-link"
  lately, and I'm deep in advertising hell, as you can probably tell from the recent melon initiative. Please bear with me for a few weeks as I actually post tweets.
