%h2 Snapback Vol.2 released

%p
  The second instalment of the
  %strong Snapback
  series is now available! It features 20 new illustrations from
  = succeed "," do
    = link_to "Dawn Davis", "http://www.playerprophet.com"
  and, if you can believe it, even more laughs and Go intrigue than the first one.

%p
  Right now it's just in PDF, for logistical reasons (it takes less work to produce it from the print-ready PDF than an ePub) but I'll have the ePub up this week most likely. As always, purchasing the digital version gives you access to all digital formats.
