%h2 A Snapback Review

%p
  On the subject of events that make me feel like a legitimate author, Halifax alt-weekly
  = link_to "The Coast", 'http://www.thecoast.ca/halifax/review-snapback-volume-1-fuseki/Content?oid=5831366', target: 'blank', class: 'blog-link'
  just published a review of
  = succeed "!" do
    %strong Snapback
  Thanks to Adam Fiske for writing those words.

%p
  The book is available now in paperback, ePub, and PDF.
  %em And
  there's still a $2 discount if you buy the digital edition along with
  = succeed "," do
    %strong Ghostcrime
  a thing I wrote that
  = link_to "also", 'https://www.goodreads.com/book/show/27874907-ghostcrime', target: 'blank', class: 'blog-link'
  has reviews.

%p Buy them for yourself, or as solstice-holiday gifts! You... do know you're obligated to spend money on people you love, right?
