%h2 New stuff in the works

%p
  Didn't do a ton over the winter, although I did spend January bringing a dormant project nearly to completion. In the next month or so, I should be putting out a new free game in the same style as
  %a{href: diamondfind_path, class: 'blog-link'}
    = succeed "." do
      %strong Diamond Find

%p
  I also figured out what my major project will be for this year, and it's a departure from my usual. It's still going to be a comedy, but it'll draw more upon real technical knowledge than my regular cyber-fantasies. More updates later.

%p
  In other news, I'll be selling books at the
  = link_to "Spring Geequinox", "http://geequinox.ca/", class: 'blog-link'
  again this year, April 14-15th. Come down to the Halifax Forum and take a look at Volume 2 of
  %a{href: snapback_shimari_path, class: 'blog-link'}
    = succeed "," do
      %strong Snapack
  just released this fall.

%p
  I'll also have a new version of
  = succeed "," do
    %strong wolfOS
  my proprietary convention-table operating system. If you didn't see its debut at Hal-Con, it granted coupon codes to whoever could hack into its secure datavault. Maybe this year it'll have a bigger screen? I haven't done up a realistic budget yet.
