%h2 Snapback Vol.2 released

%p
  The second instalment of the
  %strong Snapback
  series is now available! It features 20 new illustrations from
  = succeed "," do
    = link_to "Dawn Davis", "http://www.playerprophet.com"
  and, if you can believe it, even more laughs and Go intrigue than the first one.

%p
  Time to start writing Volume 3 I guess... unless I somehow get sucked back into Dwarf Fortress for a few months. I hope that doesn't happen.
