%h2 Metal that's also funny

%p Sometimes, concepts are just funny to some people. For instance, my brother has this thing where he thinks people in oversized mascot suits smoking inside the suit is inherently funny. He's not wrong.

%p I bring this up because I believe that precious metals have an inherent comedy about them. Don't get me wrong — I think noble gases are pretty hilarious too — but metal is easier to print on, so it's more feasible as a creative medium. I've also got a thing about magnets. The concept of them just kills me. I can't explain it very well.

%p
  Anyway, I've got a new
  = link_to "metallic comedy project that involves magnetism", comedygold_path, class: "blog-link"
  available if you want to understand better.
