%h2 Spring Cleaning

%p
  Happy spring, everyone! Geequinox was great, and I was really pleased that a few people stopped when they saw I was selling books. Even moreso that no one said, "I hate books! I hate reading!". That's right, person-at-Hal-Con; I'll never forget you.

%p
  Sort-of-chilling jokes aside, I sold a bunch of copies, and the people who bought them seemed like the type who'd enjoy them. Hopefully they're also the type to
  = succeed "." do
    = link_to "leave reviews on Goodreads", "http://www.goodreads.com/book/show/27874907-ghostcrime", target: "blank", class: 'blog-link'
  I've got international markets to enter here.

%p
  Since the convention, I've been doing some seasonal cleaning in preparation for the coming months. There'll be a few new releases, including the second edition of
  %span.embolden Ghostcrime
  and the long-awaited
  %span.embolden Snapback
  serial novel. Better set aside some time in your digital calendar for reading, because, if nothing else, it's a good habit to get into.
