%h2 Snapback for free!?

%p
  A deal as hot as my wretched workspace -- a digital copy of
  %strong Snapback: Fuseki
  is now free when you create an account on this site!

%p
  Of course, that's just one benefit of signing up. You'll also be given free access to
  = succeed "," do
    %strong ghostCRM
  which will help you to prevent your life from falling apart around you, and you'll be able to save your progress (and diamonds) as you play through
  = succeed "," do
    %strong Diamond Find
  the most comprehensive diamond-finding adventure ever built. Who knew.

%p
  If those aren't reasons enough, I can't help you.
