%h2 Still More Interactive Fiction

%p
  Long-time fans may remember
  %strong
    = succeed "," do
      = link_to "Diamond Find", diamondfind_path, class: "blog-link"
  my massive text-based diamond-locating simulator. Even longer-time fans (basically just my family at this point) might remember that I once put out a book called
  %strong
    = link_to "Gray", gray_path, class: "blog-link"
  which is, I have to say, my worst, and thankfully out-of-print.

%p
  Long story short, I wrote a sequel to
  Gray
  using the
  Diamond Find
  engine!

%p
  I'd originally planned to fix
  Gray
  and release them both at once, but in the end it wasn't worth it. Anyway,
  %strong
    = link_to "The Calico Brief", thecalicobrief_path, class: "blog-link"
  is finally ready to play. It's far better than
  Gray
  ever was, and you don't need to have read the book to understand what's going on. It's... probably better if you haven't.
