%h2 A webstore upgrade

%p
  This was a long time coming, but I made some upgrades to this very eBook store. Now there are specific pages for each eBook, featuring 3D representations of the books themselves with samples you can flip through! We're living in the future.

%p
  Things are also looking slightly better, which I'm hoping will improve sales. SPEAKING OF SALES, there is a discount if you buy
  %strong Ghostcrime
  and
  %strong Snapback Vol. 1
  together. Do it. Come on. Buy buy buy buy buy buy read read read read read read
  %em read read read.

%p You also might notice the new Digital Popularity Indexes above. These give you valuable real-time business insight into my digital publishing operation. Data, it's said, drives success.
