%h2 A Holiday Sale

%p
  Not a lot to report re: new stuff, but now, just in time for gift-holidays, you can get all three of my books -- that is,
  %strong Ghostcrime
  and the first two volumes of
  = succeed "," do
    %strong Snapback
  in a bundle for just $40 plus tax. I'll even pay the shipping within Canada.

%p
  Buy buy buy buy buy buy buy read read read read read read read read
  %em read read read
