%h2 Christian "@" Geequinox 2016!

%p I'm mostly a recluse, but occasionally I try to get out and interact with my readership. And while meeting all three of them is pretty overwhelming, it's also very rewarding.

%p
  So come down to
  = link_to "Spring Geequinox 2016", "http://geequinox.ca/", target: 'blank', class: 'blog-link'
  at the Halifax Forum on April 23rd and 24th and say 'Hi', and if you buy a copy of
  %strong
    Ghostcrime,
  I completely understand.

%p
  Each copy comes with a free gift!  The remaining first editions won't last long.
