%h2 November News

%p
  With the air cooling down outside, I've been prompted to think about what I'm going to be working on this winter, as it's often a good time to hunker down and get a big project done.

%p
  At some point I should dig into
  %strong Snapback, Volume 3
  if I want to stick to the yearly release schedule, but I also want a bit of time away from that world, so I'm looking at other things.

%p
  I've been chipping away at another interactive fiction project in the same vein as
  %strong
    = succeed "." do
      = link_to "Diamond Find", diamondfind_path, class: "blog-link"
  It improves on the underlying BinaryWoods engine, but won't be quite as staggeringly ambitious in size. With a few good weekends and maybe a burst at Christmas, I can probably get it done before the new year. So far: it's good.

%p
  I'll also be working on the
  = link_to "ScaleQuail", scalequail_path, class: "blog-link"
  project, in order to "scale up" the business and increase distribution of my current offerings. Keep an eye on that, and I'll be making noise around the holidays to remind you that they make great gifts.

%p Until then, let me know if you want to collaborate on anything.
