%h2 Important quail bulletin

%p
  This has been in the works since a productive bout of "work mania" this summer, but today,
  = link_to "ScaleQuail", scalequail_path, class: "blog-link"
  is live!

%p
  %strong ScaleQuail
  is a blog about scaling up one's comedy business so that it may compete in the world marketplace as a profitable laughter entity. Follow along at home if you've got a comparable startup!

%p
  = link_to "Amber Solberg", "http://www.ambersolberg.com", class: "blog-link"
  did the excellent quail art.
