#computers-nav
  = link_to "Archives", archives_computers_path, class: 'bit-larger'
  - image_tag "computers.ico", width: '8px', height: '8px'
  = link_to "ChristianDeWolf.com", root_path, class: 'bit-larger'
