#header
  .left-header{style: "display: inline-block;"}
    .left.face{style: "margin-top: -15px;"}
      %a{ href: root_path }= image_tag( "computers-logo.png", alt: "Do you like COMPUTERS" )

    %h1#mynameis Do you like COMPUTERS

  = render "layouts/userbar"
