#blackink
  .center
    = image_tag 'butler/blackink-0.jpg', class: 'graveyard-image'

    %p In October of 2012, I gave this book of comics to two friends as a wedding gift. Because nothing can erase the bond of a true partnership -- or black ink.

    %p The comics from Black Ink did not go viral, but those friends are still married.

    %p.center= link_to "Back to Graveyard", graveyard_index_path, class: 'niceblue'
