#badstartup-nav
  = link_to "Archives", archives_badstartup_index_path, class: 'bit-larger'
  - image_tag "badstartup.ico", width: '8px', height: '8px'
  = link_to "ChristianDeWolf.com", root_path, class: 'bit-larger'
