#header
  .left-header{style: "display: inline-block;"}
    .left.face{style: "margin-top: -15px;"}
      %a{ href: badstartup_path }= image_tag( "badstartup-circle.png", alt: "Bad Startup -- the startup that's actually good" )

    %h1#mynameis Bad Startup

  = render "layouts/userbar"
