/*
 *= require ../main.css.scss
 */

.background {
  background: rgb(118,61,209); /* Old browsers */
  background: -moz-linear-gradient(right, rgba(118,61,209,1) 0%, rgba(147,161,201,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(right, rgba(118,61,209,1) 0%,rgba(147,161,201,1) 100%); /* Chrome10-118,Safari5.1-6 */
  background: linear-gradient(to left, rgba(118,61,209,1) 0%,rgba(147,161,201,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#binaryheader {
  width: 100%;
  background: #fff;
}

#wrapper {
  max-width:      1050px;
  min-width:      625px;
  margin-top:     50px;
  margin-left:    auto;
  margin-right:   auto;
  padding-top:    50px;
  padding-bottom: 50px;
  padding-left:   40px;
  padding-right:  40px;
}

.panel {
  box-shadow: 0 0 10px #777;
  z-index:        0;
  background:     #fff;
}

#story-pane {
  padding: 10px;
}

#choice-pane {
  padding: 10px;
}

.binary-button {

}
