/*
 *= require ../main.css.scss
 */

body {
  color: #252525;
}

a {
  color: #340D5C;
  text-decoration: none !important;
}

.background {
  background: rgb(182,181,227); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(182,181,227,1) 0%, rgba(102,100,192,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(182,181,227,1) 0%,rgba(102,100,192,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(182,181,227,1) 0%,rgba(102,100,192,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  // SLATE
  // background: rgb(0,0,0); /* Old browsers */
  // background: -moz-linear-gradient(right, rgba(0,0,0,1) 0%, rgba(184,220,227,1) 100%); /* FF3.6-15 */
  // background: -webkit-linear-gradient(right, rgba(0,0,0,1) 0%,rgba(184,220,227,1) 100%); /* Chrome10-118,Safari5.1-6 */
  // background: linear-gradient(to left, rgba(0,0,0,1) 0%,rgba(184,220,227,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#binaryheader {
  width: 100%;
  background: #fff;
}

#woods-wrapper {
  max-width:      1050px;
  min-width:      625px;
  margin-left:    auto;
  margin-right:   auto;
  padding-top:    0;
  padding-bottom: 50px;
  padding-left:   40px;
  padding-right:  40px;
}

.rounded {
  border-radius: 30px;
  border: 0px solid;
}

.panel {
  box-shadow: 0 0 10px #777;
  z-index:        0;
  background:     #fff;
}

#nodepanel, #findpanel {
  width: 600px;
}

.pane {
  padding: 10px;
  opacity: 1;
}

.binary-button {
  border-radius: 10px;
  border: 0px solid;
  min-height: 80px;
  font-size: 125%;
  min-width: 40%;
  cursor: pointer;
}

.minory-button {
  border-radius: 10px;
  border: 0px solid;
  min-height: 20px;
  min-width: 80px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-left: 100px;
  color: #ffffff;
  background-color: #000000;
}

.bright-button {
  border-radius: 40px;
  min-height: 80px;
  font-size: 125%;
  cursor: pointer;
  background-color: #F0F8FF;
  border: 1px solid #000000;
  margin-top: 10px;
}

.minory-button:disabled {
  color: #bfbfbf;
}

.lineheight-spacer {
  margin: 1em 0;
  line-height: 120%;
}

.woods-table {
  width: 30%;
  padding: 0;
  tr:nth-child(odd)  { background-color: #E6E6E6; }
  tr:nth-child(even) { background-color: #D6D6D6; }
  th { background-color: #ffffff;
       padding: 0; }
  td { padding: 0;
       border: 0; }
  border-radius: 3px;
}

.item-selectbox {
  height: 250px;
}

.colourbox {
  font-size: 125%;
  border: 0px solid;
  border-radius: 5px;
  margin: 5px;
}

#colourtest {
  width: 500px;
}

#colouredpanel {
  border: 0px solid;
  border-radius: 5px;
  margin: 5px;
  width: 500px;
  padding: 10px;
}

#highscore-table {
  td {
    width: 50%;
  }
  border: 1px solid #000000;
  border-radius: 20px;
  text-align: center;
  background-color: #E2CFFA;
  width: 300px;
  padding-bottom: 20px;
}

#storyinfopanel {
  margin-top: 20px;
  border: 1px solid #000000;
  border-radius: 20px;
  text-align: center;
  background-color: #CFDAFA;
  width: 300px;
  padding-bottom: 6px;
}

.megapink {
  color: #E2CFFA;
  text-decoration: underline !important;
}

.megablue {
  color: #CDD7F3;
  text-decoration: underline !important;
}
