/*
 *= require ../main.css.scss
 */

body {
  color: #252525;
}

.background {
  background: rgb(0,0,0); /* Old browsers */
  background: -moz-linear-gradient(right, rgba(0,0,0,1) 0%, rgba(184,220,227,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(right, rgba(0,0,0,1) 0%,rgba(184,220,227,1) 100%); /* Chrome10-118,Safari5.1-6 */
  background: linear-gradient(to left, rgba(0,0,0,1) 0%,rgba(184,220,227,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#binaryheader {
  width: 100%;
  background: #fff;
}

#wrapper {
  max-width:      1050px;
  min-width:      625px;
  margin-left:    auto;
  margin-right:   auto;
  padding-top:    0;
  padding-bottom: 50px;
  padding-left:   40px;
  padding-right:  40px;
}

.rounded {
  border-radius: 30px;
  border: 0px solid;
}

.panel {
  box-shadow: 0 0 10px #777;
  z-index:        0;
  background:     #fff;
}

.pane {
  padding: 10px;
  opacity: 1;
}

.binary-button {
  border-radius: 10px;
  border: 0px solid;
  min-height: 80px;
  font-size: 125%;
  min-width: 40%;
  cursor: pointer;
}

.minory-button {
  border-radius: 10px;
  border: 0px solid;
  min-height: 20px;
  min-width: 80px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-left: 100px;
  color: #ffffff;
  background-color: #000000;
}

.minory-button:disabled {
  color: #bfbfbf;
}

.lineheight-spacer {
  margin: 1em 0;
  line-height: 120%;
}

.woods-table {
  width: 30%;
  tr:nth-child(odd)  { background-color: #c1dee3; }
  tr:nth-child(even) { background-color: #c1d3e3; }
  th { background-color: #ffffff; }
  th { border-radius: 3px; }
  td { border-radius: 3px; }
}

.item-selectbox {
  height: 250px;
}
