%h1.badger-title Leaks

%p There was a big snow, then it rained, and the puddles all froze. Then it snowed some more, and there was a big rain, and that froze, too, and apart from turning every sidewalk in Halifax into a jagged deathtrap, it's left an icy mass on my building's roof. Last week, my ceiling sprung a leak over the window frame in the bedroom.

%p I set up some towels over the curtains and texted the superintendent. He said he'd be over the next day, but around 4am, I became aware of a bigger problem -- halfway across the room, the ceiling had started dripping onto Jesse's badger bed.

%p Jesse was not taking it well.

%p After pacifying him with my light-blue towel, which he's always been fond of, I sent a more urgent message to the super. He told me the property manager would come first thing in the morning, which, while a relief, presented another problem.

%p I don't have a badger written into the lease. Though cats are permitted, I learned definitively one Hallowe'en years ago that Jesse does not tolerate costumes.

%p In the morning, when I heard the knock on the door, I hastily put him in the closet.

%p I'd only done this once before, during a date I'd organized for myself -- and when Jesse made a brilliant escape, completely ruining the evening, I learned a valuable, painful lesson: that one should never confine a badger to a closet. But these were desperate times.

%p "Show me the leak," said the property manager, skipping the formalities. He clearly still resented me for the time I'd requested an access key to the storage room. I led him into the bedroom after making him take off his boots.

%p As he inspected the bubbles on my ceiling, I heard Jesse growling at the closet door. I tried to cover like it was my stomach, and lamented the lack of grocery stores nearby. The property manager ignored this, and said he would get some people out to clean off the roof. This, he said, would stop the leaks.

%p I asked him if it would still leak when it rained, through these new cracks.

%p "No," he said forcefully. "No. It won't." Although I recognized this as a Power Lie, I didn't call him out on it. I took the opportunity to again show him my rotted window frame, but he dismissed it as too big of a job before leaving.

%p When I finally opened the closet door, the remains of my ultra-thermal sleeping bag poured out into the room, followed by my frenzied badger. I'd been sleeping under thin sheets for months when I had a sleeping bag in there the whole time? Terrible. I deserved the injuries I got that morning.

%p Some men came and smashed up the ice on the roof for most of the day, and though it took a lot of organ meat for Jesse to forgive me for the closet thing, all my other towels were soaked through, so I had to use the light-blue one to clean up a puddle underneath the curtains.

%p The sidewalks must be especially bad right now, because the emergency room is packed tonight.
