It is winter again.

The city hasn't gotten destroyed by snow yet, like last year, but the cold gets in my bones, and I find myself washing dishes recreationally just to soak in the hot water.  Jesse, too, is feeling it, and is spending a lot of time making nests out of my clothes. With sweaters now just a temporary concept, I find myself, on these icy evenings, fondly remembering days of warmth gone by.

This past summer was particularly enjoyable. Although I didn't get out paragliding, I kept busy; I managed to leave the apartment a few times a week, actually finished a book I'd been working on, and together Jesse and I beat the heat with shaved ice, his drizzled with cow blood.

Over those happy months, however, Jesse's palate became a lot more refined. It all started one Sunday morning. While preparing an ambitious brunch for Summer Friends, I failed to properly guard the food, and Jesse helped himself to twenty-five dollars worth of lox. Since then, he's been on the hunt for more delicacies -- goat's cheese, baklava, the prosciutto I bought to celebrate the completion of my book's digital distribution system.  This animal is insatiable for quality; it seems that nothing less than a shrimp ring will satisfy his appetites now. Last time I offered him kidney, I got a claw dangerously close to the jugular.

As such, he's been getting up on the counter a lot.

While previous attempts to set boundaries for this badger have proven fruitless, I knew I had to draw a hard line here. The counter should be, after all, a haven of food safety, and if I allow filthy badger paws near the place where I prepare stews, it'd only be a matter of time before there's fur in the borscht.

So the next time I saw him climbing up the drawer handles, I took a deep breath.

"Off the counter, Jesse," I said, and by the twitch of his ear, I could tell that, even without formal language training, he knew what I meant.

"Off," I repeated, pointing to the floor. Jesse snarled.  Not one to back down in my own kitchen, I approached the simmering badger, prepared to enforce the rule with firm yet gentle authority.

Altitude, however, was in his favour, and Jesse launched himself from the counter. Without a sweater for protection, I proved a soft target, and he stuck to my ribs better than the stew I'd made with the beefheart he hadn't wanted.

I think I went into shock? Everything got a whole lot colder, anyway. Luckily, a Winter Friend dropped by with a delivery of sweaters, and got me all patched up. And some of the sweaters even had hoods, at least for a few days.

Jesse is allowed on the counter now. He also gets a wedge of Camembert at breakfast.
