%p
  If anything is clear, it's that my badger is getting ahead in years. His fur is tinged ashy grey, and it's not as sleek as before, even with his rich diet of oily meats. Jesse's favourite for years has been paté, specifically the kind with the jelly.

%p
  I'll let you know if anything exciting happens, or if my new landlord ever finds out about him, but until then, Jesse and I are happy and healthy. You can
  = link_to "read our stories from the beginning", read_badger_index_path
  if you're interested.
