%h1.badger-title Blanket Statements

%p This apartment is still very cold but I recently acquired an electric heating pad, much like those used in electric blankets, and it has found a home under a regular blanket on my lap. As this is normally Jesse’s spot, there have been, as you can imagine, some tensions.

%p I was working on a database one cold morning when I decided I needed to get the pad out. My hands were chilly, and every time I would write a new query, I would have to pause and question my will to continue living. I could hear Jesse in the kitchen attempting to get into the garbage, so I knew it was safe to remove the pad from its hiding place. I quietly opened my sock drawer, after putting on some music to cover up the associated sounds, and slid the main portion of the pad under my lap-sized cat quilt. As I bent down to unplug my lava lamp, I heard the sound of a cookie package tearing and some happy snuffling, so I relaxed a little, and, with the pad plugged in, dialled up the heat to the maximum allowed by industry standards.

%p Jesse might have known something was going on when he heard the music, as it is not usual that I put on late-period Depeche Mode before noon, but responded instantly to the sound of the dial, tearing himself away from the cookie crumbs and running down the hall, coming to a sliding stop in front of the doorway. He had been getting into the garbage a lot lately and was developing a noticeable inertia, cute at first but now downright terrifying. He snarled, the scrap of a Mr. Christie logo stuck on his claws. I tried to not look guilty but the cord was impossible to hide, and Jesse is a perceptive, territorial animal.

%p My cat quilt was spared and despite the safety instructions on the heating pad which practically guarantee a fire for one reason or another, no fire was started. However, in my haste to hide the more covert but less effective barley bag from his rage, I ended up with a gash which I think actually needed stitches? It was elliptical at any rate. I considered calling Heather for her nursing advice but that website I had designed for her hadn’t gotten a lot of views and things were a little icy between us.

%p “Jesse,” I said, pressing an old Terry Fox Run t-shirt into the wound, “how can you be my only heat source when you’re always tearing open the garbage?” I removed the shreds of fabric and plastic from his paws and set him down in my lap. He stayed there happily until lunch time, though, and I finally finished that database I was working on.

%p After lunch I accidentally erased all my data with a bad update query, but I blame myself for that.
