%h1.badger-title I found this badger

%p I live in an area that one would normally not expect to find or even see a badger - I definitely wouldn't call it "wooded", although there is a park with some good trees nearby. But I was on one of my walks, sticking almost religiously to sidewalk, and there it was, on the sidewalk, just bristling at me!

%p I had brought a towel in a plastic bag for Emergencies and was able to classify this as such, but I did not want to go near the beast, just in case it was rabid. I began to back away slowly, vowing to reconnect to my walking route at the soonest possible convenience, but the badger softened immediately, like a shaving brush in premium oil. It crept after me, and when I noticed the lack of foam in its snuffle, I without any further concern wrapped the animal in my towel (soft, light blue) and carried it home. It did not struggle, and seemed to enjoy the towel's scent. I encountered one passer-by on my way and when she looked at my badger, and then my face, quizzically, I told her I was sorry and hurried away.

%p That was five days ago and so much has happened since then that I must tell you! He has turned my otherwise normal life upside down, and I have named him Jesse.
