%h1.badger-title A knock at the door

%p The Authorities were quick to discover my badger.

%p “Are you ‘Chris?’” one of them asked, his face one-third covered by federal-issue sunglasses.

%p “Yes,” I said, shielding my eyes from the glare. “I am Chris.”

%p “Are you in possession of,” he asked, consulting his clipboard, “one… Jesse?”

%p Internet police. The other man had an eBay pin affixed to the lapel of his suit.

%p “No,” I said, holding Jesse behind my back with both hands. “No badgers on the premises.”

%p “We never said Jesse was a badger.”

%p I tried not to wince as Jesse bit into my hand, the skin still sticky from when I had brushed the honey jar with my knuckle.

%p “You didn’t need to,” I said. “You’re reading my accounts, obviously.”

%p “We… don’t have access to your accounts.”

%p “My accounts of Jesse the Badger.”

%p “Oh. They were brought to our attention, yes.”

%p “They are fictional, you realize.”

%p The man removed his sunglasses. He had green eyes.

%p “Fictional.”

%p “Indeed!”

%p Jesse scratched the back of my shirt with his long claws, tearing through easily and catching himself on my belt. I felt a trickle of blood and squirmed, and the Internet Policeman definitely noticed something was wrong.

%p “If Jesse the badger is, as you say, indeed, fictional, can you say the same for your light-blue towel!?”

%p I had foolishly left my Emergency towel in full view on my armchair. His partner cracked a smile but said nothing. I recovered.

%p “That towel is true.”

%p “So I see.”

%p We looked at each other for a few more seconds before anyone spoke. Jesse had attacked the blood and I had to bite my lip to keep from screaming.

%p “We’ll be back with a warrant,” the man said, and the two of them walked off, down the stairs to the street. I closed the door with my shoulder and put Jesse down. He looked up at me, his bloody snout like a dewy hibiscus, and in his little green eyes I saw something I hadn’t noticed before, but had been there the whole time – gratitude.

%p We spent the rest of the afternoon tearing apart an old blanket.

