Two storms hit the city last week, and those treacherous sidewalks got buried under an impressive amount of snow. Halifax was pretty well shut down for two days.

I didn't want to go outside this weekend anyway -- plenty to do in here. First things first, I took the opportunity to try out Shelter, a delightful badger family simulator. It's so good, I wish I'd made it. But for my attention, even a game so beautiful and heartbreaking was no match for Jesse, who was clearly in the mood for badger games of his own.

I've entertained his amusements from the very beginning: even in our first week together, he pioneered the venerable 'Completely Destroy The Recycling Pile,' which for him, I guess, is a similar experience to bowling. This week he's been way into 'Hide Behind The De-Humidifer.' I still don't know why he finds it so engaging.

But I couldn't give him my full attention today -- I had other things to do. After coming to terms with the fact that it's 2015, I decided I would finally get into that affiliate marketing that everyone's talking about; maybe I could make money while Jesse was sleeping. While my badger gnawed away on the de-humidifier cord, I got out my tablet and fired some links around, making sure to include a call-to-action. This would surely maximize revenue.

I soon escalated into banner ads, and, my cabin fever running hot, affiliate widgets.  I was just flirting with the possibility of wholesaling when boredom struck Jesse, and he came out from behind the boxy appliance with a new game in mind. One that would require my undivided attention.

His winter weight made him a formidable wrestling opponent, and though I had tried to clip his claws two Saturdays ago, the attempt had been about as futile as my defensive tactics. So Jesse won wrestling.

But that didn't ruin my day.

My day had already been ruined when I discovered how drastically I've been overpaying for my skeleton watch collection.
