%p After spitting one last, insulting snow at us, Halifax seems to have conceded to spring, a season as symbolic as it is inevitable.  Jesse, in his exuberance, has destroyed the kitchen. Wasn't too much of a hassle, though — I had to do some cleaning up anyway.

%p But as the flowers become visible from the window, I worry about the coming days. What adventures does summer hold? Will we go on that camping excursion I've been planning for years, and how large a first-aid kit will I be able to carry? I was even planning to learn to paraglide at some point, but I'll likely need to find a badgersitter for that. I hope the going rate is affordable.

%p Well, until next winter — wish us luck. Whatever happens, though, I'm sure I'll have more badger stories soon enough.
