%h1.badger-title Housecoat

%p Let me tell you about this housecoat.

%p I don't have a huge frame of reference -- I'm not constantly trying on other peoples' housecoats or anything -- but compared to my other clothes, my housecoat is by far the cosiest.

%p Or, was.

%p I'm going to skip over the part where Jesse befriended it, and started dragging it around the apartment like a security blanket; partly for brevity, but also because it's adorable and it might make him come off as the victim in this whole thing.

%p The trouble began when I noticed a draft near the bedroom window. The frame is pretty rotted, but now it's gotten to the point that the pane has actually sunken into the wood, leaving a half-inch gap along the top. It's letting in a huge amount of cold air -- although, it is at least some consolation that I now know how all those wasps got in this summer.

%p
  I left a message with the property manager, but he's about as ineffectual as the furnace, so in the meantime I needed an extra layer to keep me functional. I haven't been able to play much Go recently, as circumstances have thrown me back into Enterprise Java, and my spare time is now being spent wrestling with
  = succeed "." do
    = link_to 'Maven', 'http://maven.apache.org/', target: 'blank'
  I had to do something for myself.

%p I kind of figured I wouldn't be getting my housecoat back after Jesse had started using it as a daybed, but I stress: none of my other clothes compare, so I turned on the space heater and waited until Jesse felt its pull. Sure enough, he heard its distinctive crackling as it heated up, and left whatever he was trying to do with the garbage to curl up on the ottoman I had placed strategically nearby.

%p The housecoat once again mine, though with a new itch of wiry badger fur, I was actually able to learn something about Maven repositories, with even time left over before sunset to refactor a terrible function! Jesse slept, oblivious in his warmth, though from the way he had his claws in the ottoman, I could tell he was having one of those dreams where I end up needing gauze later. I tried to type quieter, but when his subconscious rage evidently became too much, he sprang from the ottoman, seeking blood.

%p That was when he saw the tail of our housecoat, swaying behind my unguarded legs.

%p Today Jesse is in mourning, and has collected the scraps into a pile beside the garbage. I had to get rid of the pieces that were too saturated, but when I ran out of gauze, I was forced to sneak a few dry ones from his shrine to staunch my wounds. Luckily he didn't notice.

%p I just wish he could have waited a week to do this. All the housecoats for sale now are Christmas-themed.
