%h1.badger-title Snow problem

%p Although this winter has been, it seems, darker than years previous, it's comparatively warm, and the precipitation that's fallen has mostly been rain. This week, however, the snow hit us day after day, and now covers the streets. I can hear the plow out there but it's basically just pushing stuff around.

%p Winters like these, I usually try to stay inside whenever I can, opting to hibernate through the worst of the misery. However, years of living on the street have given Jesse the stamina for running, and without a regular walk, he goes stir-crazy, burrowing into my armchairs for exercise. The orange one is getting very hollow indeed, and may soon join the Habitrail-like system he's carved through my mattress.

%p So, after investing in a strong leash (though not one with any negative reinforcement mechanisms) I wrapped a few scarves around my badger and we ventured out. The wind bit into my skin, and even with the added fleecy protection, Jesse shivered against the cold air. Since I gave him that bubble bath, his fur has lacked the hardy bristle that used to keep him insulated in sub-zero temperatures. It was a tough call, but I definitely couldn't let him keep smelling like the compost bins he had ripped open -- he didn't enjoy the experience, though, and the bathroom kind of looks like the scene of a suicide attempt now.

%p
  I trudged through the snow, thinking that maybe I could use this opportunity to pick up some salsa for some
  = link_to 'trendy potato chips', "https://twitter.com/search?q=%23stormchips", target: 'blank'
  I had purchased earlier. Jesse trotted along in front of me, his sharp little paws barely leaving tracks. Soon, however, he appeared to grow agitated at our speed, pulling at the leash like a disobedient dog. I didn't dare restrict his movement, and had to start jogging to keep up. His energy did not diminish, and soon I was in a full run, struggling to keep my footing in the snow.  My boots are heavy duty, but their weight provides a challenging resistance, and my lung capacity was growing to be more of a concern than even the elusive black ice.

%p Finally, blocks later, Jesse slowed his pace, and I collapsed into a snow drift, exhausted but strangely energized. Months of coding have done nothing for my fitness, and maybe my badger can sense this, or is just more health-conscious than I originally gave him credit for. He nudged at me until I got up, and I ended up buying some salsa, opting for 'Medium' instead of my usual 'Mild'.

%p So I'm guess I glad I left the house today! Jesse's all salty now, though, and he keeps prowling around the bathtub, sniffing meaningfully at the apricot shampoo.

%p This is going to sting.
