%p Winter is arguably over, but it is still cold. And Jesse isn't making things any easier.

%p Let me start from the beginning.

%p Ever since he developed a taste for high-end deli products a few months ago, I've had to spend a lot more on imported cheeses. Jarlsberg is expensive as it is, but soon he was burning through a pack a day. My budget was left in tatters, reminiscent of most of my clothing.

%p And as Jesse has grown larger and even more in charge, so has his appetite.

%p Contents of the butter dish. Bunches of bananas. Entire loaves of bread. I had to completely reorganize the cupboards to give myself more protected food-preparation space, but even then, he learned to muscle his way in, propelling himself to the counter and beyond with his powerful badger legs. Food preparation became, first and foremost, a painful exercise in self-defence, and eventually I grew to avoid it.

%p As a result, the last few months have been pretty lean.

%p I realized I had a problem when I started passing out even when I wasn't openly bleeding. Once, I woke up on the kitchen floor to discover Jesse had raided the dry goods cupboard, and was happily snuffling down a package of nutritional yeast. I couldn't blame him. That stuff is delicious.

%p But something had to be done.

%p I tried spiking the bread with appetite suppressants, but he just ate around them. I tried buying groceries I knew he wouldn't want, like bok choy, but I hate it too, so it withered in the crisper. In my desperation, I even left the front door open for him to leave my life, once and for all, but he chose to stay, knowing that, soon enough, I'd attempt another lasagna. And with my savings decimated, I couldn't afford the restaurants nearby, not for three meals a day.

%p
  Luckily, a
  = link_to 'type of nutritional slurry', 'https://www.soylent.com/', target: 'blank'
  appears to have been invented just for me! It's cost-effective, takes no preparation, and this badger has a hell of a time wrestling it away from my hands, even though he tries mercilessly.

%p Maybe this summer I can get Jesse back to eating livers and giblets, and I can reclaim the kitchen for myself. But until then, I'm done with food.

%p Though I may still sneak the occasional Jarlsberg slice from Jesse's dinners.
