%p My good friend Heather came over today for a Business Meeting.

%p “Good afternoon, Heather,” I said, offering my hand. She reluctantly shook it.

%p “Hi,” she said.

%p “Would you like a coffee? Or would you prefer to get straight down to Business?”

%p “Coffee would be great,” she said. We moved to the kitchen and she sat at the table.

%p “Are you alright?” she asked. “You seem a little different.”

%p “Oh, I got this badger!” I told her, and Jesse, at that moment, scampered in.

%p “Oh my God!” She drew up her legs.

%p “Isn’t he cute? Look, I got him a feeding bottle and everything.” I picked up Jesse and demonstrated the technique. I had put some honey in his milk and I could tell he enjoyed the taste.

%p “Chris, why the hell are you keeping that in your apartment? Have you taken it to a vet?” She was clearly not in the right frame of mind for Business.

%p “He’s been tested for all sorts of ailments. And he only sometimes bites. His name is Jesse!” I offered her the furry bundle but had to instead place him on the floor while I prepared the coffee.

%p Heather eyed the badger, who was sniffing around the base of the stove, looking for mice – he had caught one only fifteen minutes prior to Heather’s arrival, and the bloodlust had evidently struck again.

%p “So,” I said, “with regards to that website you needed designing. For Business.”

%p “Yeah, that’s just the thing,” she said, now making sustained eye contact with Jesse, “It’s just… I don’t think I need a website right now. I’m a nurse.”

%p “Not even for a blog?”

%p “I had one of those, and you hijacked it, and started your own blog in the comments.”

%p I had! So long ago now, a child’s lifetime ago, a time when the thought of a badger as a pet would have seemed ludicrous, if I’d had the idea.

%p Jesse ran at Heather and she screamed, but my relatively new animal friend had just seen a mouse beside the garbage can. It displaced some recycling I had propped up by a shelf.

%p “I… I can’t…” Heather left the kitchen and headed for the door.

%p “Heather!”

%p She turned around.

%p “I don’t know what’s gone wrong in your life, but you can’t possibly expect to keep a badger –”

%p Jesse had come out from behind a box formerly used to package shepherd’s pies and was making a whimpering noise. I could practically hear Heather’s heart melting.

%p I firmly pushed the plunger down on the French press and waited a good thirteen seconds.

%p “Shall I pour the coffee?”

%p She looked at Jesse, and then she looked at me.

%p “Oh, alright.”

%p She came back, and we talked Business. Jesse caught two more mice that afternoon, and I ended up designing that website! Though Heather spat out the coffee. I think I did it wrong somehow.

