Yesterday my self-loathing was more powerful than usual and I was glad to have Jesse around.
“Jesse,” I rasped from beneath the covers, “can you get me my slippers?” I did not want to move, as I had enclosed a lot of heat under the duvet, and in my half-sleep delirium had designed a business plan for a heat empire, in which I would sell the warmth to neighbouring beds in exchange for things like money. The insulation around my window was almost as useless as I was, and the cord to my space heater had been chewed through, first by mice, then more thoroughly by badger teeth.
Jesse was evidently downcast too, and did not stir from the bed of dirty clothes I had made him.
“Jesse.”
Curled up in a ball, he had a lot of heat to lose if he moved. He would be my first client if he did this for me.
“Slippers.”
I had taught him the command earlier in the week, but had not instilled discipline in the badger, instead giving him treats whenever he made that face of his.
“Slippers, Jesse.”
He did not budge, but made a decisive growl. I had heard this once before, when I had first attempted to take away his honey milk, and the deep scratches on my palm, wrist and along my jawline still stung with thankfully-not-infected hindsight.
Regaining more sense, I put one leg out into the frigid air to feel around for the slippers, fully aware that I was endangering my career in the temperature industry. I winced when my foot touched the bare floor, and my cheeks crackled with frozen tears. The slippers were not where I had thought I had left them, but it had been dark, and I had been bleeding.
“Jesse, where are my slippers.”
No sound. I began to shiver as air from the outside tainted my stores, and my dreams of being an industry leader faded back into my subconscious. I hoped the friction of my skin against the covers would provide some temporary relief as I slid out onto the floor, where I trusted the slippers would be. Not so.
“Jesse.”
His badger face tilted up toward me, and I saw redness in his eyes. There was probably a lot of dust on the floor; in my preoccupations over the past few days, I had neglected to sweep or vacuum. Feeling even worse, I pushed aside a shopping bag full of garbage and curled up beside him, vowing to give him any residual heat that still remained on my person.
But when I edged closer, I saw an edge of scratchy gray material underneath his paws. He had wrapped himself around my slippers, keeping them warm for me! He did not protest when I took them – in fact, I may have even felt a nudge of affection from his tapered head.
After breakfast I washed Jesse’s pile of clothes, and then we went back to bed, where we slept away another ten hours. I missed a hair appointment.
