%h1.badger-title Strategies

%p Jesse does not like it when I play Go.

%p
  With my badger friend back in the apartment, it was initially hard to find time to
  = link_to "get onto the server", 'http://www.gokgs.com/', target: 'blank'
  for even a quick game. A blitz takes anywhere from 5 to 15 minutes, which is more than enough time for Jesse to fall back into his feral habits. Just a few nights ago, I left him alone to go brush my teeth, and from the bathroom watched helplessly as he murdered my inflatable yoga ball. It was so graceful I almost forgot to floss.

%p But a good game of Go is something I require, much in the same way Jesse requires a good brushing, so I hatched a plan to divide my badger's attention for an adequate length of time. I placed my rolled-up yoga mat in the middle of the kitchen and shoved some raw liver down the middle, then hurried to the computer to find an opponent. Jesse took interest in the mat immediately, and the way he growled, it was almost as if he knew it and the ball had been part of a set.

%p
  Soon I was deep in a furious game, trying my best to ignore the sounds of foam carnage from the other room. The mat had been premium, but if Go has taught me anything, it's that sometimes you have to make tough sacrifices to get what you need. Using this strategy, I took a huge corner for just three stones, and readied myself to make a strike on my opponent's daunting center. I was laying down a string of authoritative
  %em sentes
  when I became aware of Jesse prowling around my feet.

%p
  "Are you done already?" I asked, trying to keep my concentration. But it was Jesse who was now transfixed, staring at the shapes on the screen -- black, white, maddening. The exercise equipment ruse had only seeded suspicion in his badger brain, and this new bi-coloured companion of mine was evidently an urgent threat. Just as my opponent forced a brutal
  = succeed "," do
    %em seki
  Jesse leapt at the computer, and foolishly I grabbed him, a mistake on par with catching a falling knife.

%p I'm definitely lucky to still have my eyesight, and I'm not sure how long we grappled, but it was long enough for me to lose the match on time restrictions. Jesse seemed to sense when this occurred, and left me to bleed, returning to the kitchen to finish off his liver.

%p
  I guess it's about time I blew the eleven dollars on the
  = succeed "." do
    = link_to "Android client", 'https://play.google.com/store/apps/details?id=com.gokgs.client.android&hl=en', target: 'blank'
