%p Whenever this month rolls around I am reminded of the winter I found Jesse. Those freezing cold days doing web design, constantly getting lacerated — I look at my old scars now and wonder how I survived. And I realize now that I was undercharging.

%p But that winter ended, followed by another, and as Jesse grew into an adult badger, the cold apartment became unbearable, evidently for both of us. One morning, I woke to discover the front door hanging open. Jesse had gotten out! I searched the neighbourhood high and low, squeaking his favourite honey bottle.

%p Had I not seen the signs? Sure, he had been spending more time beside the window, and there had been that day that he tore out the back of the dryer because he felt a draft. But where would he get his favourite organ meats, if not my fridge?

%p I returned home badgerless, sinking immediately into deep depression. I couldn't get out of bed, not without his sharp teeth in my carelessly exposed ankle. Who would catch our mice, and smear them across the living room floor? Where would I get my warmth, and where would he get his?

%p
  The last few years have been dark. Without a badger in my life, I was vulnerable to the allure of
  = succeed "," do
    = link_to "Go", "http://senseis.xmp.net/", target: 'blank'
  and descended into its black and white vortex, infinite and all-consuming. I graduated from plain old web design to mobile development, and later, to RESTful web applications. Life continued — and over time, I thought less of Jesse, my deep wounds healing without too much medical attention.

%p But get this:

%p
  I was on one of my walks last week, trying to soak in a few precious minutes of winter sun, when I heard a distinctive snuffling from behind a tree.
  %em It was Jesse!
  A little more silvery around the snout to be sure, but when he leapt from the sidewalk into my arms, almost throwing me into traffic, there was no question. I looked around, but unfortunately no one had captured the moment on a cellphone camera. It doesn't matter.

%p Jesse is back.
