%h1 Purchases

%table
  %thead
    %tr
      %th Product
      %th Purchased by
      %th Date

  %tbody
    - @purchases.each do |purchase|
      %tr
        %td= purchase.product.title
        %td= purchase.order.user.username
        %td= purchase.created_at

= render "admin_link"
