%h1 Purchases

%table
  %thead
    %tr
      %th Product
      %th Purchased by
      %th Date

  %tbody
    - @purchases.each do |purchase|
      %tr
        %td= purchase.product.title
        %td= purchase.user.username
        %td= purchase.created_at
%br
= link_to 'Admin menu', admin_path
