%h1 Listing woods_paintballs

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @woods_paintballs.each do |woods_paintball|
      %tr
        %td= link_to 'Show', woods_paintball
        %td= link_to 'Edit', edit_woods_paintball_path(woods_paintball)
        %td= link_to 'Destroy', woods_paintball, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Paintball', new_woods_paintball_path
