- if @cart && @cart[:books]
  :javascript
    var cart = #{ raw( @cart.to_json ) }
    var keys = Object.keys( cart.books);
    for(var i in keys) {
      $('.cart-dot').show();
      showProductInCart( keys[i]) ;
    }

:javascript
  function goToProductPage( slug ) {
    window.location = "/" + slug;
  }
