- if @cart
  :javascript
    $('.cart-dot').hide();
    var keys = #{@cart.keys};
    for(var i in keys) {
      addToCart(keys[i]);
    }

:javascript
  function goToProductPage( slug ) {
    window.location = "/" + slug;
  }
