#header
  %table
    %tr
      %td
        #logo-wrapper
          .left.face
            = link_to image_tag("cyan-circle.png", alt: "Christian DeWolf", width: "150", height: "150"), root_path
          %h1#mynameis Christian DeWolf
          %p#imake.subtitle.soft Sprawling Interactive Fiction

      %td
        = render "layouts/userbar"
