#header
  %table
    %tr
      %td
        #logo-wrapper
          %h1#mynameis Christian DeWolf
          %p#imake.subtitle.soft Sprawling Interactive Fiction

      %td
        = render "layouts/userbar"
