#header
  .left-header{style: "display: inline-block;"}
    #logo-wrapper
      .left.face
        = link_to image_tag("woods-circle.png", alt: "Binary Woods", class: "header-image"), woods_stories_path
    .header-words
      %h1#mynameis Binary Woods
      %p#imake.subtitle.soft Non-Linear Fiction

  = render "layouts/userbar"
