#header
  .left-header{style: "display: inline-block;"}
    #logo-wrapper
      .left.face
        = link_to image_tag("diamond-logo.png", alt: "Christian DeWolf", class: "header-image"), root_path
    .header-words
      %h1#mynameis Christian DeWolf
      %p#imake.subtitle.soft Non-Linear Fiction

  = render "layouts/userbar"
