#scalequail-footer-bar.center
  = image_tag "eggs.png", title: "Eggs of a quail", alt: "Quail eggs"
  %h5.menu
    Wolf Butler Art & Software (c) #{Time.now.year}
  %h6.menu
    The Scaled Quail and other art by
    = link_to "Amber Solberg", "http://www.ambersolberg.com", class: "quail-blue-l bit-larger"
