#scalequail-footer-bar.center
  = image_tag "eggs.png", title: "Eggs of a quail", alt: "Quail eggs"

  %h5
    %span.menu= "Wolf Butler Art & Software © #{Time.now.year}"
  %h6
    %span.menu
      The Scaled Quail and other art by
      = link_to "Amber Solberg", "http://www.ambersolberg.com", class: "quail-blue-l bit-larger menu"
