#header
  .left-header{style: "display: inline-block;"}
    .left.face{style: "margin-top: -15px;"}
      %a{ href: scalequail_path }= image_tag( "scalequail-circle.png", alt: "ScaleQuail logo" )

    %h1#mynameis ScaleQuail

  = render "layouts/userbar"
