.center
  %h1 Archives

#archive-wrapper
  %ul
    - @blog_posts.each do |post|
      %li
        = render 'link_to_post', locals: { post: post }

.center
  %br
  = link_to "Home", scalequail_path, class: 'bit-larger'
