%h1 Listing woods_items

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @woods_items.each do |woods_item|
      %tr
        %td= link_to 'Show', woods_item
        %td= link_to 'Edit', edit_woods_item_path(woods_item)
        %td= link_to 'Destroy', woods_item, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Item', new_woods_item_path
