.monologue-social-sharing{ data: { monologue: "monologue-social-sharing"} }
  %span.social-tagline
    = t('.tagline')
  %ul#social-share
    %li#twitter
      = render 'monologue/posts/social/twitter'
    %li#facebook
      = render 'monologue/posts/social/facebook'
