- if @tag_posts.size > 0
  %h3{style: "text-align: left;"}
    Tagged with:
    .platinum{style: "display: inline-block;"}= @tag

  - @tag_posts.each do |post|
    = render 'butler/blog/embed_post', locals: { post: post }
    %br
    %hr

- else
  %h1 No such tag!

= link_to "Home", butler_path
