- unless !@cart || !@all_products
  - display_setting = @cartsize == 0 ? "display: none;" : "display: inline-block;"

.center
  = image_tag( "shopping_cart_icon.png", alt: "Cart icon", class: 'cart-icon' )
  %h1{style: 'color: black; display: inline;'} My Cart

  .standalone-cart
    = render "store/cartwidget_content", {display_setting: display_setting}
    .empty-cart Your cart is empty.

  %br
  = link_to "Return to store", root_path
  %br
  %br

:javascript
  $(document).ready(function() {
    if( "#{ @lifemem }" === "add-to-cart") {
      addToCart( null, 5 );
    }
  });
