#node-editor
  = link_to '<< Story manager', manage_woods_story_path(@story)
  %br

  %label#node-index-label
  %input#node-name-box.woods-text.savetrigger{type: 'textbox', size: 30, onchange: "touchNode();"}

  %textarea#node-content-box.no-resize.woods-text.savetrigger{rows: 20, cols: 45, onchange: "touchNode();"}

  %input#left-text-box.woods-text.savetrigger{type: 'textbox', size: 22, onchange: "touchNode();"}
  %input#right-text-box.woods-text.savetrigger{type: 'textbox', size: 22, onchange: "touchNode();"}

  #moverule-box
    %label Move rule:
    %select#moverule-select
      - Woods::Node::MOVERULES.each do |moverule|
        %option.moverule-option{value: moverule[0]}= moverule[1]
