#tree-controls.panel

  %input.editor-button{type: 'button', value: 'Parent', onclick: 'moveToParent();', style: "width: 150px"}

  %input.editor-button{type: 'button', value: 'Left', onclick: 'moveLeft();'}
  %input.editor-button{type: 'button', value: 'Right', onclick: 'moveRight();'}

  %input.editor-button{type: 'button', value: 'Slide Left', onclick: 'slideLeft();'}
  %input.editor-button{type: 'button', value: 'Slide Right', onclick: 'slideRight();'}
