#tree-controls

  %input#parent-button.editor-button{type: 'button', value: 'Parent', onclick: 'moveToParent();', style: "width: 150px"}

  %input#left-button.editor-button{type: 'button', value: 'Left', onclick: 'moveLeft();'}
  %input#right-button.editor-button{type: 'button', value: 'Right', onclick: 'moveRight();'}

  %input#slide-left-button.editor-button{type: 'button', value: 'Slide Left', onclick: 'slideLeft();'}
  %input#slide-right-button.editor-button{type: 'button', value: 'Slide Right', onclick: 'slideRight();'}
