#tree-map.panel
  .map-row
    .map-cell{onclick: 'moveToParent();'}
      %span.map-cell-text#parent-cell

  .map-row
    .map-cell{onclick: 'slideLeft();'}
      %span.map-cell-text#left-of-current-cell
    .spacer
    .map-cell.highlighted-cell
      %span.map-cell-text#current-cell
    .spacer
    .map-cell{onclick: 'slideRight();'}
      %span.map-cell-text#right-of-current-cell

  .map-row
    .map-cell{onclick: 'moveLeft();'}
      %span.map-cell-text#l-cell
    .spacer
    .map-cell{onclick: 'moveRight();'}
      %span.map-cell-text#r-cell

  .map-row
    .map-cell{onclick: 'moveLeft(); moveLeft();'}
      %span.map-cell-text#ll-cell
    .map-cell{onclick: 'moveLeft(); moveRight();'}
      %span.map-cell-text#lr-cell
    .map-cell{onclick: 'moveRight(); moveLeft();'}
      %span.map-cell-text#rl-cell
    .map-cell{onclick: 'moveRight(); moveRight();'}
      %span.map-cell-text#rr-cell
