#tree-controls
  #primary-controls

    %input#parent-button.editor-button{type: 'button', value: 'Parent', onclick: 'moveToParent();'}

    %input#left-button.editor-button{type: 'button', value: 'Left', onclick: 'moveLeft();'}
    %input#right-button.editor-button{type: 'button', value: 'Right', onclick: 'moveRight();'}

    %input#slide-left-button.editor-button{type: 'button', value: 'Slide Left', onclick: 'slideLeft();'}
    %input#slide-right-button.editor-button{type: 'button', value: 'Slide Right', onclick: 'slideRight();'}

  #waterfall-controls
    %input#save-and-move-on.editor-button{type: 'button', value: 'Save & Move On', onclick: 'saveAndMoveOn();'}

  #alt-tree-controls
    %input#move-to-top-button.editor-button{type: 'button', value: 'Move to top', onclick: 'moveToTop();'}
    %input#revert-changes-button.editor-button{type: 'button', value: 'Revert changes', onclick: 'revertChanges();'}
    %input#save-node-now.editor-button{type: 'button', value: 'Save node now', onclick: 'saveNodeNow();'}
    %input#waterfall-toggler.editor-button{type: 'button', value: 'Switch to Waterfall mode', onclick: 'toggleWaterfallMode();'}
    %br
    %span#filled-nodes-counter
    %br
    %span#filled-percentage

  #error-console-wrapper
    %textarea#error-console{rows: 6, cols: 45}
    %input#sync-token-field.woods-text{type: 'hidden', value: "#{ Rails.application.config.sync_token }"}
    %input#pull-from-live.editor-button{type: 'button', value: 'Pull from live', onclick: 'pullDownNodeFromLive();', style: 'display: inline-block;'}
    %input#push-to-live.editor-button{type: 'button', value: 'PUSH to live', onclick: 'pushNodeToLive();', style: 'display: inline-block;'}
