%h1 Listing woods_storytrees

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @woods_storytrees.each do |woods_storytree|
      %tr
        %td= link_to 'Show', woods_storytree
        %td= link_to 'Edit', edit_woods_storytree_path(woods_storytree)
        %td= link_to 'Destroy', woods_storytree, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Storytree', new_woods_storytree_path
