%p
  I'm about to
  %a{href: "/scalequail/show_post?post=scaling_time_has_come"} scale up my small comedy startup
  into a highly-profitable, automated laughter machine, but before I begin, I want to set down some algorithms for the upcoming scale.

%p
  Yours will be different than mine, and I'm not even saying mine will work for me in all situations. But I think they're good rules of thumb moving forward.

%p
  My algorithms are as follows, and please note that I made them highly PowerPoint-able, in case anyone wants to throw them into a PowerPoint for any reason:

%p
  %ul
    %li
      0. Transparency by default.
    %li
      1. Low-hanging fruit first.
    %li
      2. Scale digitally, then physically.
    %li
      3. 2x first, then 5x, then 10x.
    %li
      4. Find a place for the auto-mailer.

%p I guess I'm already pretty deep into a blog post, so I might as well break these down a bit.

%p [0][Transparency by default][#name tag them manually]
What's the first question you ask your startup friend? "How's business?"

%p What if you already knew?

%p If you had the means to help them, and /already knew/ how business was, you wouldn't be wasting everyone's time with small talk. You'd be adding value to their business.

%p It may seem like I'm berating you here, but this isn't your fault -- it's theirs. What's their motivation for keeping business performance a secret? Shame? Maybe my sales weren't so good this week, but if it's public, everyone's going to see the awesome spike next week when I do a sick "growth-hack" on them. Including potential investors.

%p In practice, transparency by default means implementing public real-time dashboards, putting out regular newsletters or blog posts, and open-sourcing your code. (by the way, this whole application is open-sourced here).

%p [1] Low-hanging fruit first.
Sort of common sense, but even so, it needs codifying as an algorithm. Two features you want to implement? Do the easier one first. Start seeing the benefits from it.

%p [2] Scale digitally, then physically.
This is a personal one for me, but maybe also applicable to your business. I've got physical books I can sell, but it's cheaper and easier to distribute them digitally. Whenever given the option of which channel to support, go digital first.

%p [3] 2x first, then 5x, then 10x.
I might make 1 sale per day, but if I want to scale that up to 100, it's not going to happen in one fell swoop. Smaller, more frequent multipliers will give steadier growth, and are far easier to implement. And they add up.

%p [4] Find a place for the auto-mailer
If you have a system for automatically sending emails to your users when something happens on your site, like I do, always ask yourself when implementing a new feature -- what can the auto-mailer do here? Can it email my users about activity on the site? Can it email /me/ about something that I need to do? There's always a job for the auto-mailer.

%p
  Now that I've got some basic algorithms in place, I can start to scale up my business. I'm going to start digital-first --
  %a{href: "/scalequail/show_post?post=scaling_up_digital_sales_using_peoples_existing_friendships"} adding a multiplier
  to my eBook store.
