%p
  By now I've decided to scale my
  = succeed "," do
    %a{href: "/scalequail/show_post?post=let_me_tell_you_about_my_business"} startup
  rather than the
  = succeed "," do
    %a{href: "/scalequail/show_post?post=have_you_tried_not_scaling_your_business"} alternative of not-scaling
  but before you try it on your own business, ask yourself: "Do I have the raw material I need to scale?". Let me clarify what I mean about "raw material," because it isn't initially clear in the question I want you to ask yourself, out loud.

%p
  It seems to me, as someone imminently ready to scale a business, that one needs to have a product in place, or a service, that is currently able to be sold. If you've only got vaporware, and you don't plan on actually delivering, scaling up your business may bilk investors out of money, which is illegal. Be careful — make sure your product exists before officially attempting a scale.
  %strong You could be jailed.

.center
  = image_tag "scalequail/jailquail.png", class: "quailpost-image image-wrap", alt: "A jailed quail"

%p
  This product is a seed. I use this botanical metaphor as it is handy for visualizing the
  %em growth
  you want to mimic in the near future. Think of this seed, and envision the plant into which you want it to grow.

%p Do you see it? Right now? What are you imagining? Is it thick? Does it have flowers? Is it a TREE? Could it survive a few chops with an axe?

%p I should say right now: if your plant doesn't have built-in defense mechanisms against attackers, you're not thinking about this the right way. Maybe you should re-evaluate your personality.

%p
  Speaking of seeds, do you have seed
  %em funding?
  This whole "scaling" thing is going to be a lot easier if you do. Anyway. You need at least
  %em some
  money, and a willingness to spend it.

%p
  If you have a product, a clear vision of what you want it to turn into, the mindset to destroy anyone who positions themselves against you, and ideally a bit of money to throw around, you're ready to scale.
  %a.quailglow{href: "/scalequail/show_post?post=scaling_time_has_come", title: "In which I define the scope of the scale"} Let's begin.
