%p
  I've been running
  %a{href: "/scalequail/show_post?post=let_me_tell_you_about_my_business"} Wolf Butler Art & Software
  for almost 6 years now, and it's taught me a thing or two about not scaling a business.

%p First of all, if you never scale, you won't lose money in any significant way. It's pretty great. I don't have warehouses full of goods I'm unable to sell. Creditors aren't blowing up my phone. It's just a slow trickle to keep it alive, monthly hits of banking fees and a phone bill, plus what it takes to run my servers. It's under a hundred dollars a month, although there are some yearly business admin fees and of course the PO box rental and also taxes.

%p You can save a lot of money, too. I've released 3 books, one game (multiple times), a CRM, a couple of comic collections & multiple blogs, and NOT ONCE have I had a release party. Think of how much I've saved on wine, not to mention the cost of the venues.

%p Another great reason not to scale is that your business won't take over your life. You see some startup people with the heavy eyelids and the need to "blow off steam" at the drinking establishment. Don't scale, and these won't be a problem for you. Just go home after work and sleep! Sleep is so good.

%p An often underrated bonus to not scaling is that, if you're selling your products at conventions and other public exhibitions, people aren't mobbing your table. God! You see some of those tables. It's like, come on. Give the entrepreneur some space. If you keep your business not-scaled, you'll get some well-deserved time to be by yourself. And people do still come by to look.

%p I must say, I've gotten pretty good at not scaling. But having mastered that particular area of the business world, I think I'm ready for a new challenge. I'm ready to scale this business, and, if you have one of your own, you can follow along at home. Transparency is key.

%p
  It's time to make a
  %a{href: "/scalequail/show_post?post=the_pre_scale_checklist"} pre-scale checklist.
