%p
  I'm
  %a{href: "/scalequail/show_post?post=scaling_time_has_come"} scaling
  my comedy business one piece at a time, and today I'm focusing on "amping up" the physical distribution of my novels.

%p It's pretty bad right now.

%p I have PayPal buttons for each book, so buyers can order without creating an account like they'd do for eBook purchases. I'll get an email that one's been purchased, make a label, put it on an envelope (if I even have any that day! This business is a mess), and walk it to the post office. It's nearby, but the whole process is still a pain for a single sale.

%p
  Plus, if someone wants to buy, say,
  = link_to "Ghostcrime", ghostcrime_path
  and
  = link_to "Snapback", snapback_path
  together, they have to go to PayPal twice. Ridiculous!
  %em And
  because the user never creates an account, they can't consent to be emailed later for any promo blasts.

%p There are ways that I can make the fulfillment process less time-consuming — dedicated label printer, etc — but it's still going to be some work for every sale. However, it can be effectively 5-10x less work if I'm selling 5-10 books at once! Libraries and bookstores are going to want multiple copies, so I need an easy way for them to order in bulk.

%p
  This is a big task, though, so first I want to overhaul my cart system to allow purchase of both physical and digital books at the same time & remove the one-off PayPal buttons. That way, I get the new user signup no matter what's purchased, and customers who want to support me can buy multiple books at once, including eBooks for themselves and the
  %a{href: "/scalequail/show_post?post=scaling_up_digital_sales_using_peoples_existing_friendships"} gift multipacks
  I introduced in the last scale.

%p I'll implement this now:

.center
  = image_tag "scalequail/even-newer-cart.png", class: "quailpost-image", alt: "A new, improved cart"
  %p.caption
    Paperbacks and eBooks, together? That'll cost you.

%p Ah, the shipping fees seem a little high, but the functionality is there now. I also ordered in some packing materials, ie. good envelopes, tape, bubble wrap and an office-quality labeler. These books have to go out fast and arrive looking professional.

%p
  With the bug in the shipping calculation now fixed, I'm going to tentatively rate this scale a 2x — it improves user experience and my userbase, but it's not so big. The bigger scale, and challenge, is the retailer portal.

%p It's a significant effort. Here's what I need:
%ul
  %li
    %p a different version of the sign-up page which accepts ordering information right off the bat,
  %li
    %p a different version of the eBook store that optimizes the buying experience for bulk purchasers, including a discount calculator and options for re-ordering in future,
  %li
    %p probably a whole new design theme to emphasize the "books" aspect of my both-software-and-books publishing company,
  %li
    %p actual knowledge of how libraries and bookstores small and large purchase new books, so I can accommodate them.

%p This last item is pivotal, so, wearing a novelty foam quail head, I entered the local library and asked if I could speak to...

%p
  Ah, that didn't happen, and in fact, I'm not even going to carry out the steps I just described. Seems like a lot of work, and it's focusing too much on the physical distribution, where the
  %a{href: "/scalequail/show_post?post=business_algorithms_for_a_successful_scale"} returns are higher
  on the digital side.

%p
  Instead, I'm going to tackle something that's much easier in the short-term and requires no extra work per sale —
  %a{href: "/scalequail/show_post?post=overcharging_for_loyalty"} a loyalty program.
