%p
  Alright -- I've completed the
  = succeed "," do
    %a{href: "/scalequail/show_post?post=the_pre_scale_checklist"} Pre-Scale Checklist
  and I'm ready to scale my comedy startup. I've got a number of financially dormant products I can potentially "growth-hack" into the "profitsphere":

%p
  %ul
    %li
      %h3 Snapback
      %p A dark comedy novella series revolving around the ancient board game Go. The first book is free to download if you have an account, and physical copies can also be bought and shipped. The second book is available for purchase.

    %li
      %h3 Ghostcrime
      %p A sci-fi horror comedy crime novel about the role of robots in future Nova Scotian society, and what can happen when there are also ghosts involved. eBooks and physical copies are both available. Full disclosure: this is the one that I most want to succeed.

    %li
      %h3 Diamond Find
      %p A massive interactive story and possibly the most comprehensive diamond-finding simulator available. Right now you can play for free without signing up for an account, but if you sign up, it saves your diamonds and you can download them as HD wallpapers. Definitely, definitely scalable.

    %li
      %h3 ghostCRM
      %p A bare-bones CRM that keeps track of your contacts and reminds you about your obligations and upcoming tasks. It is free to use, though it does attempt to sell you a digital copy of Ghostcrime, the book for which it was designed as a tie-in. ghostCRM will play an integral role in scaling, as its CRM-like functions will help me manage my customer relations.

    %li
      %h3 I Found This Badger
      %p A blog about my experiences living with a badger, and what I learned along the way. Currently there's no way to interact with this blog or give me money because of it.

%p Scaling these may be a challenge, but luckily, I think it can be done.

%p For the sake of transparency, I've implemented some basic Digital Popularity Indicators, which display a real-time measure of popularity for that product:

.center{style: 'max-width: 500px; margin: 0 auto;'}
  = render '/store/popularity', locals: {disambiguation: false}

%p For the books, it's purchases, or in the case of the currently-free Snapback Vol.1, digital downloads. For Diamond Find, it's total number of players, and I'm measuring ghostCRM popularity with a straight count of active Assistants. I don't have one for the badger blog, because there's no measurable metric I can use comparable to the other products. If growth-hacked, that will change.

%p But right now I'm looking to increase the first two: Ghostcrime & Snapback. Those numbers are pitiful!

%p So how can it be done? Can it be known? Where does one begin?

%p
  I have chosen to start by writing
  = succeed "." do
    %a{href: "/scalequail/show_post?post=business_algorithms_for_a_successful_scale"} business algorithms
