%h3 Stories
%table.small-width
  %tr
    %th Title
    %th Size

  - @stories.each do |story|
    %tr
      %td= link_to story.name, woods_story_path(story)
      %td= story.nodes.count

%br
%br
= link_to "Back to ChristianDeWolf.com", root_path
