%p
  The hot new app
  %a{href: "https://play.google.com/store/apps/details?id=com.dotgears.flappybird&hl=en", target: "_blank", title: "a new popular game"} Flappy Bird
  is taking the phone-having world by storm! You navigate a bird through a series of pipes by tapping on the screen, which flaps the bird's wings. People everywhere are praising the game for its simplicity and its difficulty — can you get a score in the double digits? It's easy to get frustrated when a single mistake ends the game. In order to succeed, your gameplay must be perfect.

%p
  It's an addictive game, but it's not a good game.* It doesn't increase in difficulty as you play, so it's just a test of endurance on the same skill. The physics are also pretty terrible — a single flap of the wings will lift the bird the same amount regardless of how fast it's falling, which ignores momentum. Once you get used to this mechanic, the game becomes easy. I played for about a half hour and earned a high score of 74, which isn't terrible. But it just made me want to play something better.

%p
  In the 90's when our family had a Mac Powerbook, I spent a lot of time playing a game called
  = succeed "." do
    %a{href: "http://en.wikipedia.org/wiki/Glypha_III", title: "GLYPHAAA"} Glypha
  It was a clone of the 1982 arcade
  = succeed "," do
    %span{style: "text-decoration: underline;"} Joust
  where you ride an ostrich and duel with an increasing number of flying opponents. The wing-flapping mechanic is the same, but even in 1995, the gameplay was smoother and physics more realistic than
  = succeed "." do
    %span{style: "text-decoration: underline;"} Flappy Bird
  Luckily, Glypha got
  %a{href: "https://itunes.apple.com/app/glypha/id321273408?mt=8", title: "aww yeah"} ported to iOS
  and it's a free download! I just played it for
  %em far too long
  and it's still fantastic. I can't believe the game is 19 years old.

%p So, if you're going to spend your time on a bird-themed game this weekend, now you've got two.

%br
%p.diminutive.grayer * Do NOT try to argue that a game that's addictive is automatically good because it's accomplishing what it's supposed to. Slot machines are addictive but they're not good games.
