%p It may be 42 days into 2016, but I still haven't told you what my ten favourite things of 2015 were. Luckily you patiently waited.

%br

%h3 10. eBook Distribution Platform
%p
  This should actually rank higher but I didn't want to bury the lead: I made a way for you to
  = link_to "buy eBooks of Ghostcrime", root_path
  without making me walk to the post office! If you promise to check out the site, I promise to make the rest of these list items not directly self-promotional.

%h3 9. Rental cars
%p It's been a couple of years since I sold the ol' '96 Civic for parts, and I've been happier for it, but this summer I had reason to rent a vehicle for a week out of town. The Taurus was so new and technologically capable, I felt unworthy, but the driving was great. Though I was kind of concerned the rental agency would use the on-board computer to record my conversations and sell them in bulk to the highest bidder, so I tried not to sing along to the satellite radio too much.

%h3 8. Having a full-time coding job
%p Being self-employed was great and all, and the hours were fantastic. But there's nothing like the routine and paycheque of a proper job, especially one as fun as programming. Could have used a little more vacation, though -- I was itching to take a Taurus out again. I suspect they put a chemical into the air freshener to make you love the car.

%h3 7. Satellite radio
%p I alluded to this a few items up, but I guess everyone's known about this for years? It's pretty cool how it shows you what song is playing.

%h3 6. Gin Blossoms
%p I guess everyone already knew about them too but I was listening to some 90's Alternative mixes at work (to, uh, get in the 'zone') and they were pretty much the highlight. I was also introduced to Cake's early output this way. They don't get their own entry.

%h3 5. Bigger apartment
%p
  Being more employed helped finance a larger apartment. It's got tons of space for
  = link_to "animals", thisbadger_path
  to run around, and there isn't an angry neighbour downstairs who slams his closet door whenever I drop a piece of fruit. I've been eating a lot more avocados as a result.

%h3 4. Avocados
%p Creamy and neutral, these really bulked up my 2015 -- and my salads -- with delicious vegetable fat.

%h3 3. Small octopi
%p On the topic of food, I had a weird experience this year where I went to a decently upscale restaurant and ordered octopus. They were served whole, stood up on their curled legs like chess pieces, and as I ate them, I felt like an alien king. I'm not going to say the name of the restaurant. That's what Yelp is for.

%h3 2. Collab'ratin'
%p
  I somehow convinced the talented and hilarious
  %a{href: "http://www.flyknifecomics.com", target: "blank"} Bruce Delo
  to do the cover for Ghostcrime in the middle of his own manic rush to complete the weighty
  = succeed "." do
    %em KOBRA STALLION, Vol.1: Reptile Justice in the Stars
  It's the first (or second, depending on what you count) book in the series he's doing which is already epic enough to have its own wiki (though it doesn't actually have a wiki yet). It was pretty great to watch his creative process, tons of fun to bounce ideas around, and his daunting project gave me valuable perspective on my own. Also, we shared a table at Hal-Con, and that was a blast.

%h3 1. Pickled eggs
%p Sorry, Bruce -- pickled eggs edged you out this year. The tanginess of a pickle, with the nourishment of an egg? It can only be pickled eggs. I bought them whenever they were on sale. No way I'm paying $4.79 for six eggs and a jar of vinegar.

%br

%p
  Well, there you go. I hope it was worth the wait. So are you going to check out my new
  = link_to "site", root_path
  where you can buy DRM-free Ghostcrime eBooks? There's an easter egg where you can make it look like it's raining.
