%p A while back, before I became a proper programmer, I thought freelance writing was my calling. And with freelance websites teeming with jobs, how could I fail?

%p All sorts of ways, it turned out!

%p First of all, I had to bid on the jobs. These were mostly content creation gigs -- churning out articles based around a given keyphrase to boost the website's SEO. The active bids were pretty depressing. At the high end, I could make about a cent a word, and most of them were closer to a half-cent. When I finally was selected for one, I wrote about 21,000 words and made $168.

%p But I kept at it. I did some reviews of guitar software which I happened to own, and those paid comparatively better. But one job in particular, for a men's fashion and lifestyle company, was to write 100 tweets for something like a dollar each about style and online dating.

%p No one is more stylish than me. I should make that clear right now. At clubs, which I frequent, this is my reputation. But to apply for the gig, I had to send in a bunch of sample tweets anwyay.

%p Long story short, I did not get the job. I'm sure they just used all the best ones from the samples they got and never paid anyone, but I don't hold a grudge.

%p Here were my submissions, and some commentary, with a few years' perspective:

/////////////
%br
%h3.purpler Look good in stubble? Plan ahead to rock your perfect 5 o'clock shadow, exactly when you need it. #confidence #foresight #bothsexy
%p I still think this is pretty good men's advice. Plan a good stubble! Doesn't cost you anything.

%br
%h3.purpler Get one #watch you love that goes with everything and wear it all the time. If you have multiple watches, you're an asshole.
%p Probably didn't fit into the consumerist agenda the company was trying to push, but I stand by this menswear advice.

%br
%h3.purpler Invest an hour at the menswear store and figure out which kind of blazer you look best in.  Use that information FOR THE REST OF YOUR LIFE.
%p Probably should have told the reader to buy a blazer in every colour or something, but I'm still running off blazer knowledge from five years ago, and I'm doing fine. Blazers don't change that much.

%br
%h3.purpler Pay the barista in advance to draw a heart on your date's latte in caramel. Not a lot; like two dollars. #worth #it
%p These next few veer into heteronormative dating advice. Is it skeezy to engineer a date, or is it 'romantic'? Don't form an opinion just yet; we have yet to fully explore the topic.

%br
%h3.purpler Make her squeal with delight by producing a bouquet of flowers from under the table at the same time you say the word "blossom" (100 points)
%p This one would be pretty hard to pull off but I think it'd be a date this nameless female love interest would tell her friends about.

%br
%h3.purpler She doesn't want to hear about your phone. Unless she actually does want to hear about your phone. #redflag #escape
%p Why do people insist on talking about their phones? I don't care what plan you're on or how much you're spending every month. Do other people? Maybe if people had more caramel hearts on their drinks they'd actually try to connect on a personal level.

%br
%h3.purpler Is her online dating profile picture color-corrected?  She's hiding something, but then again, so's everybody.  Don't worry about it.
%p You're going to spend your whole relationship picking apart each others' flaws anyway, so why not start now? #mensfashion

%br

%p Getting passed over for that job wasn't the end of the world, but it still makes me wonder: could I have transformed the world of men's fashion and dating culture? I guess we'll never know. Until then: don't wear cologne. Everybody'll hate you.
