%p Here in the Commonwealth, we aren't shy about our favourite queens of yore. Every spring, we gather to remember Victoria, reciting the poems she wrote for us, and reminding each other in sober tones the adages she imparted on our ancestors.

%p However, if you've been feeling the effects of cyberwarfare recently, you don't want to lose any more clock cycles to the enemy. Here are some tips to optimize your security this weekend:
%br

%h3
  %strong 1. Protect your empire
%p
  You may have updated your WordPress to patch the latest vulnerability, but what good does that do if your passwords can't hold up against brute-force? Use a complex passphrase you can easily remember and a cipher substitution system that feels natural. It's what Victoria would have done.


%h3
  %strong 2. Scale out
%p
  Just as the beloved Queen expanded the British Empire under her rule, so you can expand your rule of the Internet-of-Computers. Get a few more servers and spread out -- because if someone brings down your web game with a DDoS, or if it simply goes mega-viral, you don't want your databases tanking with it (even if they're Mongo).


%h3
  %strong 3. Ensnare your enemies
%p
  How soon we forget that brave Queen Victoria goaded John Francis into carrying out his assassination attempt in 1842, only to have him pwned by her entourage. Following in her esteemed footsteps, you too can lay a trap for your predictable adversaries. Construct a good honeypot so you can analyze those who would analyze you, without relinquishing any meaningful data. Just don't give the whole thing away by disabling outgoing connections.


%h3
  %strong 4. Sanitize
%p
  Victoria's husband Albert died of Typhoid Fever, a consequence of the castle's poor sanitation. Don't let your data fall prey to the same fate, or at least a metaphorically similar one -- sanitize all your inputs, and don't forget to authenticate server-side. It's royally necessary.

%br

%p
  That should get you through the long weekend. But if you still find time to party, make sure your house doesn't become the the House of
  %em Hangover 
  by chugging a few glasses of water before bed. Just keep them away from the computer.
