%h2.blog-title 2013 Year In Review

%p
  Everybody's making lists of things about the year so I thought I would do the same. Except I really didn't listen to any new albums this year and the only movie I saw in theatres was
  = succeed "," do
    %span{style: "text-decoration: underline;"}Elysium
  which was visually striking but fairly shallow otherwise. So it's just going to be a list of stuff I liked this year. It follows:
 
%h3 10. Wireless headphones
%p
  Playing loud music or games during the night is a favourite pastime of mine, but in order to be respectful to neighbours, I have for years tethered myself to my desk with headphones. In March this changed when I procured a set of comfortable Sony headphones! Now I can walk about, sit in armchairs, wash dishes, cry in the bedroom, etc. without ever having to stop listening to....

 
%h3 9. Bee Gees Greatest Hits
%p
  Say what you will about the Gibb brothers but it won't take this gem off the list. It's great background music for any sort of task, menial or otherwise, and the stretch from 
  %em Jive Talking
  to 
  %em Islands In the Stream
  is basically perfect. Sometimes I feel bad for broadcasting this wirelessly so often, but if anyone else is picking up the signal on a baby monitor or something, they've definitely stopped using it by now.

 
%h3 8. AdBlock for Chrome
%p
  After YouTube cranked their ads early this year and continued to do so, their site elicited more and more profanity from me, especially when I'd set up a playlist of British comedy to listen to while away from the computer. But the AdBlock extension removes all of the pre-video ads and also cleans up Facebook a great deal! Thanks AdBlock. You really should be higher on the list. I didn't plan this very well.

 
%h3 7. Propellor Porter
%p A beer so dark, so smooth, so flavourful -- it can only be Propellor Porter. I wish I had some right now.

 
%h3 6. Wireless keyboard
%p
  For when I want to write but don't want to stare at a screen, I'll Bluetooth my Microsoft Wedge wireless keyboard to whatever device I have on me at the time, allowing me to write WHEREVER I WANT. The sensation of typing into nothingness is disorienting at first, and requires slightly more editing afterwards, but it's quite freeing.  I can type on the bus, in dark rooms, in parks, etc. Which is definitely my thing.

 
%h3 5. Trail-running
%p
  More physically and mentally taxing than hiking, trail-running is my new favourite exercise. I am lucky I did not get seriously injured though because I was 
  %em not 
  ready for how intense it was.

 
%h3 4. Ruby programming language
%p
  Mm, almost no brackets to speak of, and unit testing is ridiculously easy. With its simple syntax and casually-typed variables, it feels like programming in crayon. One day someone will pay me to do it professionally but until then it's stodgy Java all the way.

 
%h3 3. Proper server administration with DigitalOcean
%p
  Before this year I'd never been with a web-hosting company that gave me root access to a server and let me install whatever I wanted. I didn't think any of them allowed that. But then during my Ruby exploration I started a server on DigitalOcean and lo, I had to install my own software stack! Exactly how I wanted! Most fun I've ever had, except for that time that I lived with a
  = succeed "." do
    %a{:href => "http://www.thisbadger.com", :target => "_blank", :title => "I Found This Badger"} badger

%h3 2. Standing desk
%p
  After a serendipitous discovery of some sturdy end-tables at a yard sale, I made a platform for my normal-sized desk and my life changed forever. Or at least my lower back did. Standing desk rules. But not as much as....

 
%h3 1. Craisins
%p
  That's right, the dried cranberry snack topped the list this year. I used to buy them in bulk from the grocery store, but then I discovered, 
  = succeed "," do
    %em in the same store
  the make-your-own-candy-trail-mix station had them for half the price. Life-altering.
