%h2.blog-title 2017: Another Year to Evaluate

%p It's 8:45 on New Year's Eve, and I've just realized I still need to write one of these year-lists. Gonna blast through it quickly so I can go back to drinking.

%h3.purpler 10. Calvin and Hobbes

%p It's good every year, but this year I read the complete collection. So good! My favourite running joke is that Calvin subscribes to and is heavily influenced by a chewing gum lifestyle magazine. There's also a really nice part near the end where Calvin doesn't terrorize Rosalyn the babysitter for once & they play Calvinball.

%h3.purpler 9. A new recycling system

%p
  The
  %em pile
  in the kitchen grows unmanageable in almost no time at all, but this year we got a new
  %em bin
  to hold some of the items before disposal. It's certainly cut down on the clutter, and improved quality of life.

%h3.purpler 8. New couch

%p I'm just looking around the room at this point. Yes, the couch allows me to stretch out my 6'4" frame on a single piece of furniture in relative comfort. I recommend... couches.

%h3.purpler 7. New milk frother

%p
  This was on the list
  = succeed "," do
    %a{ title: "Obligatory 2016 Listicle", href: "butler/show_post?post=20161230_obligatory_2016_listicle"} last year
  but it's still really good! Frothes up that milk real nice for lattes and hot chocolates. Such a good appliance. You're still not getting an affiliate link though.

%h3.purpler 6. Vinegar store

%p
  I finally went to that oil and vinegar store nearby, and, turns out, they give you a spoon and let you taste all the vinegars! When I realized this, I almost cried. An employee came by and asked if I needed anything, and I was like, "I think everything is
  %em just fine
  right now." Pretty sure she backed away.

%h3.purpler 5. New cat litter system

%p Instead of the classic way where the cats piss into sand and track it all over the house, and it ends up on my feet and in the bed, etc. this new product uses litter pellets and an absorbent pad beneath a sort of grate. It cuts down on the smell and the constant dirt, and using off-brand pads, it even ends up being cheaper!

%h3.purpler 4. All the new friends I made along the way

%p Can't think off-hand who they are, but I think I built some solid relationships this year. If you're reading this: it's probably you.

%h3.purpler 3. All the old friends who stuck around

%p Too many to list, obviously, but thanks for making it a good year, old friends.

%h3.purpler 2. Almost being done this list

%p Just a little bit more to write before I can push the button on this post and cap it off for 2017 output.

%h3.purpler 1. Being done the list

%p I've really gotten lazier this year. Maybe kick it back into gear in 2018? Eh. Leave a comment and tell me to, if I ever build a comments system.
