%p
  Yes, the waiting is finally over. Tired of
  %em not collaborating with others
  on pieces of writing? Maybe you've always wanted to make an interactive story, but never had much time to invest in learning a scripting language. Or you might just want to play some free games. Whatever the case,
  %a{ title: "FractalFic -- Exponential Fiction", href: fractalfic_path, target: "blank"} FractalFic
  is now live and satisfies all interactive fiction needs! Well, most, anyway. I'm still adding features.
