%p When 'Computer World' hit the techno scene 36 years ago, it was clearly ahead of its time. But who could have believed that it would describe 2017 like a prophetic vision? Let's do a deep dive into Kraftwerk's masterpiece and see what those stylish, robotic men got exactly right.


%h3.purpler 1. Business, Numbers, Money, People

%p The evocative refrain is as prescient today as it was in 1981 -- computers DO power business. They keep track of numbers, exponentially more than they could in the past. Who uses computers? No, not animals. PEOPLE. And 'money'? It's like Kraftwerk foresaw Bitcoin.


%h3.purpler 2. Interpol & Deutsche Bank; FBI & Scotland Yard

%p These four organizations are still big players on the world stage, and you can bet that each of them makes extensive use of the Computer. Deutsche Bank would have to, if they are accessing the markets.


%h3.purpler 3. Time, Travel, Communication, Entertainment

%p When you think of computers, do you think of games? Kraftwerk's sly reference to entertainment may have, to the contemporary listener, brought Pong to mind, but in fact today the entertainment industry is almost entirely computerized. A large medium of communication, the internet, brings this entertainment into our homes, and when we need to travel, I know the first place I look is a computer. Do you remember when they say 'Time' in the song? Well, there's a clock in just about every computer now.


%h3.purpler 4. It's a "Computer World"

%p This is pretty indisputable. In 2017, while some shopkeepers may still keep records in worn, paper ledgers, a vast majority are using computers. Even day-spas and flotation tank centers use computers to manage bookings. These machines really have taken over the planet, to the degree that the world could now reasonably be classified as a "Computer" one.

%p I don't know why no one paid attention before now. But Kraftwerk was right all along, and 36 years later, that's astounding.

%p And that's not even taking into account what they said about pocket calculators.
