%p
  What a week it's been! The studio has been turned upside down by the unexpected return of my
  = succeed "." do
    = link_to "old badger friend", thisbadger_path, title: 'Jesse came back!'
  I've got a huge list of web technologies I want to learn this winter, though, so I hope he doesn't get in the way too much.
