%p Out of the goodness of her heart, my friend Lara has given me several computer games over the past few months, sometimes not even in the same months as holidays! I think she gets a lot of doubles out of Humble Bundle deals and the like. Anyway, last time she gave me a whole bunch, but on the condition that I review them on my blog. So here goes:

%br

%h3 The Whispered World
%p Lara warned me that the main character's voice in this was "exceptionally annoying", but even that was putting it nicely. Luckily, there's an option to turn it off, but the game also has annoying graphics. I had to stop after 10 minutes or so, and it takes a lot for me to give up on a point-and-click adventure. Not even going to link to this one's homepage.

%h3 The Dream Machine
%p
  This
  %a{ title: "The Dream Machine", href: "http://www.thedreammachine.se", target: "blank"} episodic point-and-click adventure
  is wonderful! It's done in a claymation style and has a simple, creepy story that has you fading in and out of dreams to solve puzzles. The copy Lara gave me had the first three chapters included, which was a solid three hours of immersive gameplay, though there is now a fourth chapter available. The whole thing reminded me of
  = succeed "," do
    %a{ title: "#100ClassicGames", href: "http://en.wikipedia.org/wiki/The_Neverhood", target: "blank"} The Neverhood
  in the best way possible. The puzzles aren't Myst-hard but in Chapter 3 you're required to come up with some very creative solutions.

%h3 And Yet It Moves
%p
  I can only play this
  %a{ title: "And Yet It Moves", href: "http://www.andyetitmoves.net", target: "blank"} disorienting platformer
  for about twenty minutes at a time, even though it's really fun. You're given the ability to rotate the world around your character, which also changes the direction of gravity, and thus you do as much falling as you do walking. Looks great with its torn-scrap-paper style, and all the sound effects are done vocally and fun to beat-box along to. Nice to pick up and play but it is exhausting. All the rotating, not the beat-boxing.

%h3 Dear Esther
%p
  This game. A
  = succeed ";" do
    %a{title: "Dear Esther", href: "http://dear-esther.com", target: "blank"} first-person shooter without the guns
  an RPG without strategy. It's more like an epistolary novel, but re-imagined on the Source engine.

%p When the game opens, you find yourself on the docks of an island in front of a run-down lighthouse, listening to an unidentified narrator reading a letter. There is only one speed of movement — walking — and all other actions are done for you, such as your flashlight coming on when you walk into a dark room, etc. Just relax, walk around the island and listen to the story. While it starts out dreary and a little unsettling, you eventually get to explore some gorgeous caves, and then later, when you get out into full moonlight... almost TOO beautiful. A couple of times, I was like, "Come on! A group of candles? Right there, on the ledge over the bay? Uhhhhhh." They really hammer it home. Luckily you can take screenshots, although they don't do the experience justice.

%p The letter-reader tells stories of the island and the people who once lived there, and as I discovered all the places he mentions, I found myself wondering, "Where is this going?" It's not easy to tell, even when the letter-reader becomes more frenzied and it's clear the game is wrapping up. But then. The ending. They nail it!

%p Thanks Lara.
