%p No matter how sparkling your personality, or how conventionally attractive your face, a good nickname can do wonders for your reputation.

%p I'm not talking about a simple truncation of your name. That's not special. Everyone can do it, including short-named people, although their options are sometimes limited to just a single letter. No; that kind of nickname is a laziness that, if afforded to friends and family, cheapens you with every utterance.

%p I'm talking about nicknames that tell a story, a mythos that can precede you. It's your personal brand from other peoples' mouths. They might as well be wearing T-shirts about you. If you can pull off a cool nickname, what more do you need?

%p
  Some people can't, though, and I'm almost certainly one of them. But here are some nicknames that I
  %em could
  have, if I changed some fundamental things about myself:

%h3.purpler "Spider"
%p My limbs are long and spindly for sure, and if you ever saw me on the wall at the climbing gym, you might be like, "Yo, buddy, where's your egg sac?" or even just feel a bit disgusted inside.

%p But I doubt I'd ever be able to make this one stick. Maybe a neck tattoo would help, or if I were publicly cruel to more strangers. I'll re-evaluate if I ever get a motorcycle.


%h3.purpler "The Needle"
%p
  For someone as tall and thin as me, with the ability to get under peoples' skin, "The Needle" would be an apt nickname, and it might cause people to think twice before fuckin' with me (as sometimes they do). "There's the Needle," they'd say, "Better stay out of
  %em his
  way."

%p
  Unfortunately, it brings to mind intravenous drugs, and I have neither the heroin addiction nor the recovery story to give this one the proper credibility. Plus, there's definitely the danger of people using the, "Is that because you're such a prick?" line against me. I still can't think of any comebacks to that one.


%h3.purpler "The Knife"
%p
  If I honed my insults a little better, so that they cut deep and cold, I could start getting people to call me "The Knife." A prominent facial scar would definitely help drive the point home. But that'd take a certain commitment to insultcraft, and I'm not sure I'm prepared for the social consequences of that. I might have to start carrying a knife.



%h3.purpler "The Surface"
%p You know, because I'm so smooth? Unfortunataly I'm slightly too clumsy to property do this one justice, and I'd probably have to explain the name to people more often than not, which is decidedly anti-smooth. Also, Microsoft mostly ruined this word, and I might not legally be able to use it for myself.



%h3.purpler "Scar"
%p To bring it back to lacerations for a second, a good scar teases a story just as well or better than a nickname. Now, I know what you're going to say: "If you want to cut your face so bad, just do it!" Ease up there. For this one it doesn't even have to be the face. It could be the hand, or even a good one across the chest. If it's not visible immediately, even better: people hear it and think, "where's the scar?" and they can make up their own gruesome story.

%p The trouble with this one is competition. If someone else wants that nickname for themselves, all they have to do is get a wilder scar. And there are professionals that will do this for even just a few hundred dollars. I could end up with a kind of arms race on my hands. And what, then, if people instead start calling me "Gauze"?


%p So I guess I'll just stick to my given name for now, at least until my personality changes, or I get a significant injury. We all need to have goals.
