%p
  I moved last month, and among the things that got lost in the shuffle, I forgot to tell you that I published
  %em Ghostcrime!

= image_tag "butler/blog/printed-books.png", width: '330px'

%p With covers and everything. I really went all out. Anyway, that was about three weeks ago, but no big deal — kind of did a 'soft launch' and sold a pile of them at the local sci-fi convention Hal-Con. Great experience overall, though I had to pretend I wasn't a total recluse, and that was pretty taxing.

%p Right now, I'm building my own digital distribution system for the eBook release. The big online retailers have been taking their cut of my profits for too long, and for what? Putting my work alongside shameless erotica and crackpot memoirs? No longer. In a few weeks, I'll see if I can remember to tell you that it's done.

%p
  Until then: if you can't wait to get your hands on
  = succeed "," do
    %em Ghostcrime
  printed on actual paper and signed by the author, you can
  = succeed "!" do
    %a{ href: "ghostcrime", onclick: "switchPage(this); return false;"} order a copy today
  Also, I've been paying the shipping (which I probably shouldn't be doing? eh) so depending on how far away from Atlantic Canada you live, you might get a pretty good deal.
