%h2.blog-title 7 reasons why Go is great (other than gameplay

%p People are sometimes baffled by my love of Go. This often inspires from me a gushing, almost manic explanation of everything great about it, condensed into as little time as possible. I'm pretty sure I don't do it justice.

%p But even ignoring the fact that it's thrilling and mentally stimulating, there's a lot about Go that makes it fun and accessible that has nothing to do with the relentless gameplay:

%br

%h3 1. Zero set-up time, easy clean-up
%p Feel like playing? Sit down at the board, take the lids off the bowls, and lay your first move. None of that card-shuffling, or queen-goes-on-her-own-colour nonsense.

%p At the end of the game you'll have to separate the black and white stones and put them back into their respective bowls, but it's kind of soothing, especially after a furious match.

%p Which reminds me:


%h3 2. Go is tactile
%p
  You have an entire bowl of smooth stones at your disposal. Some serious players consider unnecessary touching and/or rattling of the stones in the bowl to be
  = succeed "," do
    %a{title: "Etiquette", href: "http://senseis.xmp.net/?Etiquette", target: "blank"} rude
  but it feels really great on the fingers. Go ahead; I won't judge.


= image_tag "butler/blog/goban1.jpg", id: 'blog-goban-image'
%br
%br

%h3 3. Play as hard as you want
%p
  In Go, it's perfectly acceptable to slap down your stones with some force. In fact, it's encouraged! Feels great in an aggressive game, and it can be intimidating for your opponent. Or, you can quietly slide your moves into place, lulling your opponent into a false sense of security before playing the sneaky move you've been plotting for half the game.


%h3 4. You only need one other person
%p
  Can't get three people together for Catan? That's fine, because you only need one friend for Go. Even if you've got extra people, they should be perfectly happy to sit and watch, because:


%h3 5. Go is really fun to watch
%p
  It's the
  %em House of Cards
  of board games -- two players test each other, fighting small battles that tie into their overarching plans. Then, after some thrilling twists, someone plays a shocking move that completely throws the other person under a subway (spoilers). A lot can happen in 250-300 moves.


%h3 6. Quickly find a good opponent online
%p
  Are you truly, utterly alone? Not even that matters, because you can always log onto a Go server and find an opponent with a similar rank. On
  %a{title: "KGS Go Server", href: "https://www.gokgs.com", target: "blank"} KGS
  it usually doesn't take me more than a minute to get a game started, and it's a great place to get exposed to a huge range of playing styles. Plus, you can step in and watch most of the games being played, so it's an endless, free source of entertainment. Unlike
  = succeed "." do
    %em House of Cards


%h3 7. A rich history to explore
%p
  The game has been played for thousands of years. Strategies have come in and out of vogue with the changing of dynasties, and yet the game itself has hardly changed. And while it's fun to read about champions of days gone by, you can also study the hundreds of 
  %a{title: "Go proverbs", href: "http://senseis.xmp.net/?GoProverbs", target: "blank"} Go proverbs 
  that have passed the test of time. They'll help your game
  %em and
  give you some insight into dry Go humour.

%br

%p
  So what more could you want from a board game? Play through an
  %a{title: "Interactive Go tutorial", href: "http://playgo.to/iwtg/en/", target: "blank"} interactive tutorial
  and see what I get so crazy about.
