%h2.blog-title Animal-Themed Moves You Can Try When Playing Go

%p
  It seems like every day I play a game of Go unlike any I've played before! This is of course a mathematical certainty, but it does not mean that I don't repeat sequences that have proven successful in the past. Here are some of my favourite moves that
  %em you too
  can attempt:

%br

%h3 The Crane's Nest
%p
  This is a
  %a{href: "http://senseis.xmp.net/?CranesNestTesuji", target: "blank", title: "Crane's Nest"} fairly basic sequence
  but never fails to bring a smile to my otherwise emotionless face. I'm not sure what stone is supposed to be the 'egg' in the situation but I like to think it's the one that gets cleverly sacrificed.

%h3 Golden Chicken Standing On One Leg
%p
  Another bird-themed
  %a{href: "http://senseis.xmp.net/?GoldenChickenStandingOnOneLeg", target: "blank", title: "Golden Chicken"} position
  is also a favourite of mine, and it's a rare treat when I can make it work. The shortage of liberties of both sides of a split group prevents the capture of the invading stones, forcing the losing player to give up the position immediately. I used to call it an "Awkward Split" but its Chinese name is far superior.
 
%h3 Mole
%p
  A play on the
  %a{href: "http://senseis.xmp.net/?Submarine", target: "blank", title: "The Mole"} second line
  is an insidious way to invade an opponent's corner-side, as it allows a follow-up either into the corner or off to the side. It does, however, give your opponent the choice of which side to defend -- so if the corner is what you want, just take 3-3 right away instead.

%h3 Monkey Jump
%p
  Can't leave
  %a{href: "http://senseis.xmp.net/?MonkeyJump", target: "blank", title: "Monkey Jump"} this one
  out. A great way to reduce territory near the endgame. I think it's fair to say that everybody likes doing Monkey Jumps.

 
%h3 The Three Crows
%p
  Probably my 
  %a{href: "http://senseis.xmp.net/?4435enclosure#2", target: "blank", title: "Three Crows"} favourite shimari
  and the main reason I like to open at 4-4. This holds the corner but it's also high enough to have some influence on battles in the center.

 
%h3 Elephant Jump
%p
  This kind of
  %a{href: "http://senseis.xmp.net/?Elephant", target: "blank", title: "Elephant Jump"} jump
  can be cut easily, and I often use it to offer up a sacrifice stone. If your opponent is greedy, the Elephant Jump will be almost irresistible to cut through, and you can use this to leverage the side you want while losing only one stone. Greed, it's said, is something
  = succeed "." do
    %em we don't need

%br

%p OK I'm done.
