-# Public-facing listing of all (2) binarywoods stories

%h4.artifika.center An interactive fiction platform where all choices are binary.

.woods-index-choice
  %a{href: thecalicobrief_path}
    = image_tag("thecalicobrief/title.png", class: "in-game-image")
  %a{href: diamondfind_path}
    = image_tag("diamondfind/title.png", class: "in-game-image")
