%h1= @story.name

%table.woods-table
  %tr
    %th Tree name
    %th Size
  - @storytrees.each do |st|
    %tr
      %td= link_to st.name, woods_storytree_path(st)
      %td= st.max_level

%br
= link_to 'Back to story', @story
