#category-holder
  %span.diminutive.embolden Posted in:

  %span= link_to locals[:post][:category], category_blog_index_path + "?name=" + locals[:post][:category], class: "category-link"

%br

#tags-holder
  %span.diminutive.embolden Tags:

  - locals[:post][:tags].each do |tag|
    %span= link_to tag, tag_blog_index_path + "?name=" + tag, class: "tag-link"
