%h1 Blog Archives

= render 'link_to_post', locals: { post_name: '20160522_ghostcrime_2ed_printed' }
%br
= render 'link_to_post', locals: { post_name: '20160501_spring_cleaning' }
%br
= render 'link_to_post', locals: { post_name: '20160411_christian_at_geequinox' }

%br
= link_to "Home", root_path
