//  "I'm onto you, Colormind!" --the chief

$black: #000000;
$white: #ffffff;
$gray:  #808080;

// main + store colors

$l-back-purple:  #b6b5e3;
$back-purple:    #6664c0;

$ghost-green:    #428E84;
$l-ghost-green:  #69b7ad;


$violet-blue:    #5258AB;
$bright-purple:  #6A0AFA;
$link-blue:      #220AFA;
$slate-gray:     #444444;

$soft-cyan:      #BCDDE8;
$slate-purple:   #5B5E81;
$l-slate-purple: #99ABC4;
$sky-cyan:       #B5DBE8;
$ice-blue:       #8CCFE6;
$blue-smoke:     #E6E9EB;

$honey-yellow:   #E8CB7B;
$grass-green:    #6ECF65;
$purple-smoke:   #dedce9;
$l-purple-smoke: #e5e4e9;

$medium-purple:  #653AC2;
$rust-red:       #A83E3E;
$wet-clay:       #DEA4A4;

$health-green:   #6C9C46;
$light-jade:     #A6DEA4;
$algae-green:    #486532;

$off-white:      #f0f0f0;

// butler colors

$pumpkin-orange: #FF8A00;
$servile-purple: #8E3EA9;

$platinum-blue:  #88A8B0;
$light-platinum: #a2c2ca;

// binarywoods colors

$dark-gray:      #252525;
$shadow-gray:    #777777;
$light-gray:     #bfbfbf;
$smoke-gray:     #E6E6E6;
$alt-smoke-gray: #D6D6D6;

$dark-purple:    #340D5C;
$mega-pink:      #E2CFFA;
$mega-blue:      #CDD7F3;
$cloud-blue:     #F0F8FF;
