//  "I'm onto you, Colormind!" --the chief

$black: #000000;
$white: #ffffff;
$gray:  #808080;

$pumpkin-orange: #FF8A00;
$servile-purple: #8E3EA9;

$platinum-blue:  #88A8B0;
$light-platinum: #a2c2ca;
