#dealzone {
  background: #fff;
  width: 150px;
  margin-left: 1200px;
  box-shadow: 0 0 10px #777;
  padding: 25px;
  position: absolute;
}

.store-button {
  background-color: #BCDDE8;
  border: black 1px solid;
  border-radius: 5px;
  padding: 6px;
  margin-right: 20px;
}

.store-button:active {
  background-color: #8CCFE6;
  outline: none;
}

.store-button:focus {
  outline: none;
}

.store-button:active {

}

.store-price {
}

.left {
  float: left;
}

.small-width {
  width: 33%;
}

.half-width {
  width: 50%;
}

.modest-width {
  width: 65%;
}

.full-width {
  width: 100%;
}