p {
  line-height: 120%;
}

#dealzone {
  background: #fff;
  width: 150px;
  margin-left: 1200px;
  box-shadow: 0 0 10px #777;
  padding: 25px;
  position: absolute;
}

.store-button {
  background-color: #BCDDE8;
  border: black 1px solid;
  border-radius: 5px;
  padding: 6px;
  margin-right: 20px;
  margin-top: 6px;
  margin-bottom: 6px;
  cursor: pointer;
}

.store-button:active {
  background-color: #8CCFE6;
  outline: none;
}

.store-button:focus {
  outline: none;
}

.store-price {
}

.left {
  float: left;
}

.right {
  float: right;
  text-align: right;
}

.small-width {
  width: 33%;
}

.half-width {
  width: 50%;
}

.modest-width {
  width: 65%;
}

.full-width {
  width: 100%;
}

.center {
  text-align: center;
}

.vert-center {
  vertical-align: center;
}

.thumbnail {
  margin-right: 10px;
}

.embolden {
  font-weight: bold;
}

.diminutive {
  font-size: 65%;
}

.remove-button {
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 1px;
  padding-bottom: 1px;

  background-color: #E6E9EB;
  margin-right: auto;
}

.discount {
  color: #CFBF65;
}

.new-price {
  color: #6ECF65;
}

.strikethrough {
  text-decoration: line-through;
}
