.hackersteve-container {
  text-align: center;

}

.hackersteve-title {

}

.steveos-container {
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  display: none;
}

.steveos-header {
  border-bottom: 2px solid black;
}

// place for the icons to go
.program-container {

}

.steve-play-button {
  font-size: 1.5em;
  border: 1px black solid;
  border-radius: 10px;
  background-color: lightgrey;
}

// INDIVIDUAL PROGRAMS
.steveOS-directory {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.email-client {

}

.browser {

}

.console {

}

.steveOS-icon {
  margin: 10px;
  width: 75px;
  text-align: center;
  cursor: pointer;
}

.steveOS-icon-image {
  width: 40px;
}

.steveOS-icon-title {

}

.steveos-header-left {
  border-right: 2px solid black;
  display: inline-block;
  width: 200px;
}

.steveos-header-right {
  width: 200px;
  display: inline-block;
}
