// TITLE AND SUPERCONTAINER

.hackersteve-container {
  text-align: center;

}

.hackersteve-title {

}

.steve-play-button {
  font-size: 1.5em;
  border: 1px black solid;
  border-radius: 10px;
  background-color: lightgrey;
}

// MAIN / OS STYLING

.steveos-container {
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  display: none;
}

.steveos-header {
  border-bottom: 2px solid black;
}

.steveOS-icon {
  margin: 10px;
  width: 75px;
  text-align: center;
  cursor: pointer;
}

.steveos-header-left {
  display: inline-block;
  width: 200px;
}

.steveos-header-right {
  width: 200px;
  display: inline-block;
}

// OS NAVIGATION AND ICONS

// INDIVIDUAL PROGRAMS
.steveOS-directory {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

// place for the icons to go
.program-container {
}

.steveOS-icon-image {
  width: 40px;
}

.steveOS-icon-title {
}

// EMAIL CLIENT

.email-client {

}

.email-preview-container {
  cursor: pointer;
}

.email-table {
  margin: 0 auto;
  td {
    width: 50%;
    border: 1px solid black;
    text-align: left;
  }
}

// content of an email
.email-body-container {
  white-space: pre-line;
  text-align: left;
}

.email-body-from {
  text-align: left;
}

.email-body-subject {
  text-align: left;
}

.email-back-button {
  width: 40px;
  float: left;
  cursor: pointer;
}

/// BROWSER

.browser {

}

// CONSOLE

.console {

}
