.hackersteve-container {
  text-align: center;

}

.hackersteve-title {

}

.steveos-container {

}

.steveos-header {

}

// place for the icons to go
.program-container {

}


// INDIVIDUAL PROGRAMS
.steveOS-directory {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.email-client {

}

.browser {

}

.console {

}

.steveOS-icon {
  margin: 10px;
  width: 75px;
  text-align: center;
  cursor: pointer;
}

.steveOS-icon-image {
  width: 40px;
}

.steveOS-icon-title {

}
