body {
  font: 16px/180% Arial, Helvetica, sans-serif;
  color: #444;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

table {
  width: 100%;
}


#header {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 80%;
  margin: 0 auto;
}

#header h1 {
  font-size: 3em;
  margin: 0 0 10px 0;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 55px;
  font-family: Artifika, Helvetica, Arial, sans-serif !important;
}

.panel {
  box-shadow: 0 0 10px #777;
  z-index:        0;
  background:     #fff;
}

.glass {
  opacity: 0.75;
  background:     #fff;
  z-index:        0;
  border-radius: 5px;
  border: 0px solid;
}

#logo-wrapper {

}

#user-wrapper {
  height: 60px;
}

.left {
  float: left;
}

.right {
  float: right;
  text-align: right;
}

.small-width {
  width: 33%;
}

.half-width {
  width: 50%;
}

.modest-width {
  width: 65%;
}

.full-width {
  width: 100%;
}

.center {
  text-align: center;
}

.zero-margin {
  margin: 0 auto;
}

.embolden {
  font-weight: bold;
}

.diminutive {
  font-size: 65%;
}

.strikethrough {
  text-decoration: line-through;
}

.hidden {
  display: none !important;
}
