@import 'colormind';

body {
  font: 16px/180% Arial, Helvetica, sans-serif;
  color: #444;
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Artifika, Helvetica, Arial, sans-serif !important;
}

table {
  width: 100%;
}

.artifika {
  font-family: Artifika, Helvetica, Arial, sans-serif !important;
}

// HEADER STUFF

#header {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 85%;
  margin: 0 auto;

  h1 {
    font-weight: bold;
    letter-spacing: -1px;
    font-family: Artifika, Helvetica, Arial, sans-serif !important;
  }
}

#logo-wrapper {
  display: inline-block;
}

.subtitle {
  font-family: Artifika, Helvetica, Arial, sans-serif !important;
  margin-top: 0;
}

.face {
  margin-top: -30px;
  margin-right: 10px;
}

#user-wrapper {
  height: 60px;
  min-width: 160px;
  display: inline-block;
  float: right;
  position: static;
  padding: 0 5px 0 5px;
}

.cart-link-highlight {
  color: $pumpkin-orange !important;
}

.library-link-highlight {
  color: $platinum-blue !important;
}

// THE SUPERBAR

.superbar {
  width: 100%;
  border: 0px black solid;
  min-height: 32px;
}

.superbar-content {
  padding: 5px 20px;
  span {
    font-family: Artifika, Helvetica, Arial, sans-serif !important;
    font-size: 0.8em;
  }
}

.superbar-spacer {
  width: 25px;
  display: inline-block;
}

.superbar-random-message {
  float: right;
  max-width: 500px;
}

// PANELS ETC

.panel {
  box-shadow: 0 0 10px $shadow-gray;
  z-index: 0;
  background: $white;
  margin-top: 9px;
  padding: 1px 40px 40px 40px;
  border-radius:  40px;
}

.smart-panel {
  margin: 0 auto 25px;
}

.glass {
  opacity: 0.75;
  background: $white;
  z-index: 0;
  border-radius: 10px;
  border: 0px solid;
}

// TOOLBOX

.left {
  float: left;
}

.inline {
  display: inline-block;
}

.right {
  float: right;
  text-align: right;
}

.small-width {
  width: 33%;
}

.half-width {
  width: 50%;
}

.modest-width {
  width: 65%;
}

.sizeable-width {
  width: 80%;
}

.full-width {
  width: 100%;
}

.center {
  text-align: center;
}

.no-bullets {
  list-style: none;
}

.blog {
  p {
    //text-align: justify;
  }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.justify {
  text-align: justify !important;
}

.zero-margin {
  margin: 0 auto;
}

.embolden {
  font-weight: bold;
}

.diminutive {
  font-size: 65%;
}

.strikethrough {
  text-decoration: line-through;
}

.blackened {
  color: black !important;
}

.hidden {
  display: none !important;
}

.niceblue {
  color: $violet-blue;
  text-decoration: underline !important;
  font-weight: bold;
}

.no-resize {
  resize: none;
  border-radius: 4px;
}

.swell, .skoosh {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.swell:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
}

.skoosh:active {
  transform: scale(0.90) !important;
  -webkit-transform: scale(0.90) !important;
}

// Blog stuff

.blog-link {
  font-weight: bold;
  text-decoration: underline;
  color: $ghost-green;
}

#category-holder, #tags-holder {
  display: inline-block;
}

.category-link {
  font-size: 85% !important;
}

.tag-link, .category-link {
  font-size: 70%;
  font-weight: bold;
  text-decoration: underline;
}

/// DEVISE

.field {
  text-align: center;
  margin-bottom: 20px;

  input, select {
    font-size: 1.1em;
    width: 225px;
    min-height: 25px;
    padding: 5px;
    border-radius: 4px;
  }

  input[type='checkbox'] {
    width: 10px;
  }

  .half {
    width: 125px;
    margin: 0 5px 0 5px;
  }
}

.actions {
  margin-top: -10px;
  .bigger {
    font-size: 16px;
    margin-right: 0;
  }
}

.header-image {
  width: 150px;
  height: 150px;
}


/// ADMIN

.stats-area, .maintenance-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.stats-block {
  display: inline;
  margin: 10px;
  padding: 5px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  width: 70px;
  background-color: $mega-blue;
}

.stats-number {
  font-weight: 700;
}

.stats-desc {
  font-size: 11px;
  line-height: 1;
}

.maintenance-panel {
  display: inline;
  background-color: $mega-pink;
  border: 1px solid $black;
  padding: 10px;
  border-radius: 10px;
  vertical-align: top;
  margin: 10px;
  width: 200px;
}

.pagination, .pagination-controls, .pagination-info {
  display: inline;
}

.pagination-controls {
  float: left;
}

.pagination-info {
  float: right;
}

.admin-spacer {
  margin-left: 15px;
}

.admin-icon {
  height: 24px;
  margin: 0 5px;
}

.no-name-emphasis {
  color: cornflowerblue;
}

/////  RESPONSIVE //////

// small
@media screen and (min-width: 320px) {

  #header h1 {
    font-size: 2em;
    margin: 0 0 10px 0;
    line-height: 55px;
  }

  #mynameis {
    width: 145px;
  }

  #user-wrapper {
    position: absolute;
  }

  #logo-wrapper {
    max-height: 95px;
    max-width: 160px;
  }

  .face {
    width: 100px;
    height: 100px;
  }

  .header-image {
    width: 100px;
    height: 100px;
  }

  .superbar-random-message {
    display: none;
  }

}

@media screen and (min-width: 450px) {

  #mynameis {
    width: 200px;
  }

 .face {
    width: 150px;
    height: 150px;
  }

  .superbar-random-message {
    display: none;
  }

}

// medium
@media screen and (min-width: 680px) {

  #header h1 {
    font-size: 2em;
    margin: 0 0 10px 0;
    line-height: 55px;
  }

  #mynameis {
    width: 300px;
  }

  #user-wrapper {
    position: static;
  }

  .smart-panel {
    width: 550px;
  }

  #logo-wrapper {
    height: 95px;
    width: 160px;
  }

  .header-image {
    width: 150px;
    height: 150px;
  }

  .superbar-random-message {
    display: inline;
  }

}

// large
@media screen and (min-width: 1034px) {

  #header h1 {
    font-size: 3em;
    margin: 0 0 10px 0;
    line-height: 55px;
  }

  #mynameis {
    width: 425px;
  }

  .header-words {
    display: inline-block;
  }

  #user-wrapper {
    position: static;
  }

  .smart-panel {
    width: 640px;
  }

  #logo-wrapper {
    height: 95px;
    width: 160px;
  }

  .superbar-random-message {
    display: inline;
  }

}
