@import 'colormind';

body {
  font: 16px/180% Arial, Helvetica, sans-serif;
  color: #444;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Artifika, Helvetica, Arial, sans-serif !important;
}

table {
  width: 100%;
}

// HEADER STUFF

#header {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 80%;
  margin: 0 auto;

  h1 {
    font-weight: bold;
    letter-spacing: -1px;
    font-family: Artifika, Helvetica, Arial, sans-serif !important;
  }
}

#logo-wrapper {
  display: inline-block;
}

.subtitle {
  font-style: italic;
  margin-top: 0;
}

.face {
  margin-top: -30px;
  margin-right: 10px;
}

#user-wrapper {
  height: 60px;
  min-width: 200px;
  display: inline-block;
  float: right;
  position: static;
}

// PANELS ETC

.panel {
  box-shadow: 0 0 10px $shadow-gray;
  z-index: 0;
  background: $white;
  margin-top: 9px;
  padding: 1px 40px 40px 40px;
  border-radius:  40px;
}

.smart-panel {
  margin: 0 auto 25px;
}

.glass {
  opacity: 0.75;
  background: $white;
  z-index: 0;
  border-radius: 10px;
  border: 0px solid;
}

// TOOLBOX

.left {
  float: left;
}

.right {
  float: right;
  text-align: right;
}

.small-width {
  width: 33%;
}

.half-width {
  width: 50%;
}

.modest-width {
  width: 65%;
}

.full-width {
  width: 100%;
}

.center {
  text-align: center;
}

.blog {
  p {
    //text-align: justify;
  }
}

.justify {
  text-align: justify !important;
}

.zero-margin {
  margin: 0 auto;
}

.embolden {
  font-weight: bold;
}

.diminutive {
  font-size: 65%;
}

.strikethrough {
  text-decoration: line-through;
}

.hidden {
  display: none !important;
}

.niceblue {
  color: $violet-blue;
  text-decoration: underline !important;
  font-weight: bold;
}

// Blog stuff

.blog-link {
  font-weight: bold;
  text-decoration: underline;
  color: $ghost-green;
}

#category-holder, #tags-holder {
  display: inline-block;
}

.category-link {
  font-size: 85% !important;
}

.tag-link, .category-link {
  font-size: 70%;
  font-weight: bold;
  text-decoration: underline;
}

a.tag-link {
  color: $bright-purple !important;
}

a.category-link {
  color: $link-blue !important;
}
//

@media screen and (min-width: 320px) {

  #header h1 {
    font-size: 2em;
    margin: 0 0 10px 0;
    line-height: 55px;
  }

  #mynameis {
    width: 200px;
  }

  #user-wrapper {
    position: absolute;
  }

}
@media screen and (min-width: 680px) {

  #header h1 {
    font-size: 2em;
    margin: 0 0 10px 0;
    line-height: 55px;
  }

  #mynameis {
    width: 300px;
  }

  #user-wrapper {
    position: static;
  }

  .smart-panel {
    width: 550px;
  }

}
@media screen and (min-width: 1034px) {

  #header h1 {
    font-size: 3em;
    margin: 0 0 10px 0;
    line-height: 55px;
  }

  #mynameis {
    width: 600px;
  }

  #user-wrapper {
    position: static;
  }

  .smart-panel {
    width: 640px;
  }

}
