@import 'colormind';

p {
  margin: 1em 0;
  line-height: 120%;
}

a {
  text-decoration: none;
  color: $slate-purple;
}

a:hover {
  transition: color 0.3s;
  color: $l-slate-purple;
  //color: #ED2D2D;  the red
}

.link-selected {
  color: $l-slate-purple !important;
}

th {
  text-align: left;
  background-color: $white;
}

#deal-products {
  text-align: left;
}

#cartwidget {
  background-image: radial-gradient(circle farthest-corner at 45px 45px , #000000 0%, #303030 50%, #000000 95%) !important;
  border-radius: 10px;
  width: 360px;
  padding: 10px 2px;
  border: 2px solid $black;
  margin: 15px 0;
}

.cartwidget-item {
  width: 320px;
  margin: 15px;
}

.cartwidget-title {
  color: white !important;
  font-weight: bold;
}

.cartwidget-itemtype {
  color: white !important;
}

.cartwidget-price {
  color: white !important;
  float: right;
}

.cartwidget-image {
  float: left;
  display: inline;
  border-radius: 5px;
  height: 30px;
  width:  30px;
  margin-right: 10px;
}

.cartwidget-prod-details {
  display: inline;
}

#cartwidget-pricedetails {
  background-color: $dark-gray;
  padding: 5px;
  margin: 20px 2px;
  text-align: center;
}

.cartwidget-total {
  margin-left: 10px;
}

.standalone-cart {
  border-radius: 30px;
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
  width: 360px;
  padding: 10px 2px;
  border: 1px solid $white;
  margin: 15px auto;
}

.spinner {
  margin-bottom: 10px;
  margin-right: 10px;
}

#check_out_button {
  display: block;
  margin: 3px auto;
}

#gift-checkout {
  text-align: center;
}

.gift-form-wrapper {
  display: none;
}

.gift-input {
  //height: 50px;
  font-size: 1.1em;
  max-width: 200px;
  display: inline-block;
  border-radius: 3px;
}

.gift-name-input {
  //height: 50px;
  font-size: 1.1em;
  max-width: 120px;
  display: inline-block;
  border-radius: 5px;
}

.gift-submit {
  display: inline-block;
}

#store-wrapper {
  position: relative;
}

#discount_price {
  margin-right: 10px;
}

#mobile-title {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 55px;
  text-align: center;
  margin-top: 0;
  color: $dark-gray;
}

.store-button {
  color: $off-white;
  background: $button-slate;
  background: -moz-linear-gradient(top, $l-slate-purple 0%, $slate-purple 50%, $l-slate-purple 100%);
  background: -webkit-linear-gradient(top, $l-slate-purple 0%,$slate-purple 50%, $l-slate-purple 100%);
  background: linear-gradient(to bottom, $l-slate-purple 0%,$slate-purple 50%, $l-slate-purple 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$l-slate-purple', endColorstr='$l-slate-purple',GradientType=0 );

  border: $black 1px solid;
  border-radius: 5px;
  padding: 6px;
  margin-right: 10px;
  margin-top: 6px;
  margin-bottom: 6px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
}

.gift-button {
  color: $off-white;
  background: $button-slate;
  background: -moz-linear-gradient(   top, $light-jade 0%, $health-green 50%, $light-jade 100%);
  background: -webkit-linear-gradient(top, $light-jade 0%, $health-green 50%, $light-jade 100%);
  background: linear-gradient(  to bottom, $light-jade 0%, $health-green 50%, $light-jade 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$light-jade', endColorstr='$light-jade',GradientType=0 );

  border: $black 1px solid;
  border-radius: 5px;
  padding: 6px;
  margin-right: 10px;
  margin-top: 6px;
  margin-bottom: 6px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
}

.pp-button {
  margin-top: 4px;
}

.product-object {
  margin: 25px 0;
}

.store-button:active, .gift-button:active {
  color: $alt-smoke-gray !important;
  outline: none;
  transform: scale(0.90) !important;
  -webkit-transform: scale(0.90) !important;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.store-button:focus, .gift-button:focus {
  outline: none;
}

.store-button:disabled, .gift-button:disabled {
  color: black;
}

.store-price {
}

.vert-center {
  height: 13px;
  line-height: 26px;
  vertical-align: middle;
}

.thumbnail {
  margin-right: 10px;
}

#bookdeal-button {
  cursor: pointer;
}

.remove-button {
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 1px;
  padding-bottom: 1px;

  margin-left: 10px;

  background-color: $blue-smoke;
  float: right;
  z-index: 200;
}

.physical-button {
  margin-top: 22px;
  background-color: $honey-yellow;
}

.digital-button {
  margin-top: 22px;
  background-color: $mega-pink;
}

.discount {
  color: $grass-green;
}

.new-price {
  color: $grass-green;
}

.product-table {
  tr:nth-child(odd)     { background-color: $purple-smoke; }
  tr:nth-child(even)    { background-color: $l-purple-smoke; }
}

.background {
  background: rgb(182,181,227); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(182,181,227,1) 0%, rgba(102,100,192,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(182,181,227,1) 0%,rgba(102,100,192,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(182,181,227,1) 0%,rgba(102,100,192,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.product-image {
  float: left;
  margin: 5px 20px 20px 0;
}

.store-image {
  border-radius: 36px;
  float: left;
  cursor: pointer;
}

.menu {
  margin: 0;
  padding: 0;
}

.menu-item {
  display: inline-block;
  margin-right: 58px;
}

.menu-item:last-of-type {
  margin-right: 0;
}

.purpler {
  color: $medium-purple;
}

.gold {
  color: $honey-yellow;
}

.greener {
  color: $ghost-green;
}

.dotbox {
  border-bottom: 1px dashed $gray;
  margin-bottom: 25px;
  padding-bottom: 25px;
}

.alert {
  margin: auto;
  margin-bottom: 22px;
  margin-top: 20px;
  max-width: 500px;
  padding: 8px;
  text-align: center;
  border-radius: 20px;
}

.alert-notice {
  border: 1px solid $health-green;
  background-color: $light-jade;
  color: $algae-green;
}

.alert-danger {
  border: 1px solid $rust-red;
  background-color: $wet-clay;
  color: $rust-red;
}

#footer-bar {
  border-radius: 30px;
  width: 640px;
  margin: 0 auto;
  opacity: 0.9;
  color: black;
}

#error_explanation {
  width: 450px;
  border: 2px solid $rust-red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: $off-white;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: $rust-red;
    color: $white;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#leadbox {
  text-align: center;
}

#newsletter-signup-wrapper {
  margin-top: -10px;
}

.newsletter-input {
  font-size: 1.25em;
  min-width: 250px;
  min-height: 33px;
  padding: 5px;
  border-radius: 4px;
}

.newsletter-signup-button {
  background-color: $mega-pink;
  margin: -5px 0 0 5px;
  font-size: 13px;
}

.enter-valid-email {
  color: $honey-yellow;
  margin-bottom: -20px;
}

#mynameis, #imake {
  color: $dark-gray;
}

#mobile-badger, #mobile-diamonds, .mobile-product, #mobile-quail {
  text-align: center;
}

// holds the digital and physical widgets
.money-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.digital-widget {
  background-image: radial-gradient(circle farthest-corner at 45px 45px , #000000 0%, #303030 50%, #000000 95%) !important;
  border-radius: 10px;
  width: 350px;
  padding: 10px;
  border: 2px solid $black;
  margin: 15px;
}

.physical-widget {
  background-image: radial-gradient(circle farthest-corner at 45px 45px , #000000 0%, #303030 50%, #000000 95%) !important;
  border-radius: 10px;
  width: 250px;
  padding: 10px;
  border: 2px solid $black;
  margin: 15px;
}

.product-text {
  font-family: CMUSerifRoman;
  font-weight: normal;
  font-style: normal;
  font-size: 1.2em;
}

// POPULARITY INDEX STUFF

#popularity-index {
  h1 {
    color: black;
  }
}

.popularity-index-image {
  width: 75px;
  height: 75px;
  border-radius: 30px;
  float: left;
  cursor: pointer;
}

.popular-product {
  display: inline-block;
  margin: 2px 20px;
  padding: 2px;
}

.order-count {
  margin-left: 5px;
  color: black;
}

.popular-products-wrapper {
  text-align: center !important;
}

.storefront-ruler {
  margin: 15px 0 15px 0;
 // border: $light-gray 1px solid;
}

////////// BEGIN RESPONSIVE ////////////////

@media screen and (min-width: 1px) {
  // STEP 1 -- VERY SMALL

  // #super-wrapper {
  //   margin: 0 auto;
  // }

  #store-wrapper, #about-wrapper, #blog-wrapper, #newsletter-wrapper {
    min-width: 330px;
    margin: 0 auto 25px auto;
    text-align: left;
    padding: 40px 15px 15px 15px;
  }

  // #about-header, #blog-header {
  //   text-align: center;
  // }

  // #store-col2 {
  //   margin: 0 auto;
  //   text-align: center;
  // }

  #footer-bar {
    width: 360px;
  }

  .header-words {
    display: none;
  }

  #mobile-title {
    display: block;
  }

  #ghostcrm-banner, #bookdeal-banner {
    margin: 0 auto 15px auto;
    text-align: center;
  }

  #ghostcrm-banner-image, #bookdeal-button {
    width: 323px;
    height: 100px;
  }

  // .store-image {
  //   margin-right: 10px !important;

  // }

  #mobile-badger, #mobile-diamonds, .mobile-product, #mobile-quail {
    display: block;
  }
  #desktop-badger, #desktop-diamonds, .desktop-product, #desktop-quail {
    display: none;
  }
  .store-image {
    float: none;
  }

  #finds-table {
    max-width: 350px;
    margin: 0 auto;
  }

}


@media screen and (min-width: 601px) {
  // STEP 2 -- SMALLISH

  #ghostcrm-banner, #bookdeal-banner {
    margin-bottom: 15px;
    margin-left: 25px;
    text-align: center;
  }

  #ghostcrm-banner-image, #bookdeal-button {
    width: 490px;
    height: 150px;
  }

  #super-wrapper {
    margin: 0 auto;
  }

  #store-wrapper, #about-wrapper, #blog-wrapper, #newsletter-wrapper {
    width: 500px;
    margin: 0 auto 25px auto;
    text-align: left;
    padding: 15px 40px 40px 40px;
  }

  #about-header, #blog-header {
    text-align: center;
  }

  #store-col2 {
    margin: 0 auto;
    text-align: center;
  }

  #footer-bar {
    width: 550px;
  }

  .store-image {
    margin-right: 10px !important;
    float: left;
  }

  #mobile-badger, #mobile-diamonds, .mobile-product, #mobile-quail {
    display: none;
  }
  #desktop-badger, #desktop-diamonds, .desktop-product, #desktop-quail {
    display: block;
  }

  #finds-table {
    max-width: 500px;
    margin: 0;
  }

}

@media screen and (min-width: 801px) {
  // STEP 3 -- MEDIUM
  #super-wrapper {
    margin: 0 auto;
    padding: 25px;
  }

  #store-wrapper, #about-wrapper, #blog-wrapper, #newsletter-wrapper  {
    margin: 0 auto 25px auto;
    text-align: left;
  }

  #about-header, #blog-header {
    text-align: center;
  }

  #store-col2 {
    margin: 0 auto;
    text-align: center;
  }

  #store-wrapper, #about-wrapper, #blog-wrapper, #newsletter-wrapper {
    width: 640px;
  }

  #mobile-title {
    display: none;
  }

  .header-words {
    display: inline-block;
  }

}

@media screen and (min-width: 1341px)  {
  // STEP 4 -- THE MAX
  #super-wrapper {
    text-align: center;
  }

  #store-wrapper, #about-wrapper, #blog-wrapper, #newsletter-wrapper, #ghostcrm-banner, #bookdeal-banner  {
    display: inline-block;
    vertical-align: top;
    text-align: left;
  }

  #about-header, #blog-header {
    text-align: left;
  }

  #store-col2 {
    display: inline-block;
    width: 550px;
  }

  #store-wrapper {
    width: 640px;
    margin: 0 auto 25px 0;
  }

  #about-wrapper, #blog-wrapper, #newsletter-wrapper {
    margin: 0 auto 25px 25px;
    width: 450px;
    clear: right;
  }

}
