p {
  margin: 1em 0;
  line-height: 120%;
}

a {
  text-decoration: none;
  color: #5b5e81;
}

a:hover {
  transition: color 0.3s;
  color: #99ABC4;
  //color: #ED2D2D;  the red
}

.link-selected {
  color: #99ABC4 !important;
}

th {
  text-align: left;
  background-color: #fff;
}

#dealzone {
  position: absolute;
  z-index: 100;
  top: -100px;
  right: 40px;
  display: inline-block;
}

.dealzone-image {
  border-radius: 30px 30px 0 0;
}

.dealzone-prod-details {
  border-radius: 0 0 30px 30px;
  background-color: #B5DBE8;
  margin-top: -9px;
}

#dealzone-pricedetails {
  background-color: #EBEBEB;
  padding: 5px;
  border-radius: 0 0 10px 10px;
  margin-top: -9px;
  margin-right: 4px;
  text-align: right;
  float: right;
}

.pricedetails-processing {
  margin-top: 26px !important;
}

#store-wrapper {
  position: relative;
}

#deal-products, #checkout {
  display: inline-block;
  z-index: 100;
}

#checkout {
  position: absolute;
  top: -26px;
  left: 135px;
}

#discount_price {
  margin-right: 10px;
}

.store-button {
  background-color: #BCDDE8;
  border: black 1px solid;
  border-radius: 5px;
  padding: 6px;
  margin-right: 20px;
  margin-top: 6px;
  margin-bottom: 6px;
  cursor: pointer;
  font-size: 11px;
  text-align: center;
}

.pp-button {
  margin-top: 4px;
}

.product-object {
  margin: 25px 0;
}

.store-button:active {
  background-color: #8CCFE6;
  outline: none;
}

.store-button:focus {
  outline: none;
}

.store-price {
}

.vert-center {
  height: 13px;
  line-height: 26px;
  vertical-align: middle;
}

.thumbnail {
  margin-right: 10px;
}

.remove-button {
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 1px;
  padding-bottom: 1px;

  background-color: #E6E9EB;
  margin-right: auto;
}

.physical-button {
  margin-top: 22px;
  background-color: #E8CB7B;
}

.digital-button {
  margin-top: 22px;
  background-color: #C4BADE;
}

.discount {
  color: #CFBF65;
}

.new-price {
  color: #6ECF65;
}

.product-table {
  tr:nth-child(odd)     { background-color: #dedce9; }
  tr:nth-child(even)    { background-color: #e5e4e9; }
}

#menu-container {
  border: 1px dashed #919191;
  border-left: none;
  border-right: none;
  padding: 8.33333px 0;
  margin: 25px 0;
  font-size: 175%;
  font-family: Artifika, Georgia, Serif;
  text-decoration: none !important;
  width: 100%;
}

.background {
  background: rgb(182,181,227); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(182,181,227,1) 0%, rgba(102,100,192,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(182,181,227,1) 0%,rgba(102,100,192,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(182,181,227,1) 0%,rgba(102,100,192,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.product-image {
  float: left;
  margin: 5px 20px 20px 0;
  border-radius: 25px;
}

.store-image {
  border-radius: 5px;
}

.menu {
  margin: 0;
  padding: 0;
}

.menu-item {
  display: inline-block;
  margin-right: 58px;
}

.menu-item:last-of-type {
  margin-right: 0;
}

.menu-text {
  color: #1D2378;
}

.purpler {
  color: #653AC2;
}

.gold {
  color: #E8CB7B;
}

.greener {
  color: #428E84;
}

.dotbox {
  border-bottom: 1px dashed #919191;
  margin-bottom: 25px;
  padding-bottom: 25px;
}

.alert {
  margin: auto;
  margin-bottom: 22px;
  margin-top: 20px;
  max-width: 500px;
  padding: 8px;
  text-align: center;
  border-radius: 20px;
}

.alert-notice {
  border: 1px solid #6C9C46;
  background-color: #A6DEA4;
  color: #486532;
}

.alert-danger {
  border: 1px solid #A83E3E;
  background-color: #DEA4A4;
  color: #A83E3E;
}

#notice {
  color: green;
}

#footer-bar {
  border-radius: 30px;
  background-color: #BCDDE8;
  width: 640px;
  margin: 0 auto;

}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

@media screen and (max-width: 800px) {
  // STEP 1 -- SMALLEST

  #super-wrapper {
    margin: 0 auto;
  }

  #store-wrapper, #about-wrapper, #blog-wrapper {
    width: 500px;
    margin: 0 auto 25px auto;
  }

  #store-col2 {
    margin: 0 auto;
    text-align: center;
  }

  #footer-bar {
    width: 550px;
  }

  .store-image {
    margin-right: 10px !important;

  }

}

@media screen and (min-width: 801px) {
  // STEP 2 -- MEDIUM
  #super-wrapper {
    margin: 0 auto;
    padding: 25px;
  }

  #store-wrapper, #about-wrapper, #blog-wrapper  {
    margin: 0 auto 25px auto;
  }

  #store-col2 {
    margin: 0 auto;
    text-align: center;
  }

  #store-wrapper, #blog-wrapper {
    width: 640px;
  }

  #about-wrapper {
    width: 640px;
  }

}

@media screen and (min-width: 1341px)  {
  // STEP 3 -- THE MAX
  #super-wrapper {
    text-align: center;
  }

  #store-wrapper, #about-wrapper, #blog-wrapper  {
    display: inline-block;
    vertical-align: top;
    text-align: left;
  }

  #store-col2 {
    display: inline-block;
    width: 550px;
  }

  #store-wrapper {
    width: 640px;
    margin: 0 auto 25px 0;
  }

  #about-wrapper, #blog-wrapper {
    margin: 0 auto 25px 25px;
    width: 450px;
    clear: right;
  }

}
