@import 'colormind';

p {
  margin: 1em 0;
  line-height: 120%;
}

a {
  text-decoration: none;
  color: $slate-purple;
}

a:hover {
  transition: color 0.3s;
  color: $l-slate-purple;
  //color: #ED2D2D;  the red
}

.link-selected {
  color: $l-slate-purple !important;
}

th {
  text-align: left;
  background-color: $white;
}

#dealzone {
  position: absolute;
  z-index: 100;
  top: -100px;
  right: 40px;
  display: inline-block;
}

.dealzone-image {
  border-radius: 30px 30px 0 0;
}

.dealzone-prod-details {
  border-radius: 0 0 30px 30px;
  background-color: $sky-cyan;
  margin-top: -9px;
}

#dealzone-pricedetails {
  background-color: $smoke-gray;
  padding: 5px;
  border-radius: 0 0 10px 10px;
  margin-top: -9px;
  margin-right: 4px;
  text-align: right;
  float: right;
}

.pricedetails-processing {
  margin-top: 26px !important;
}

#store-wrapper {
  position: relative;
}

#deal-products, #checkout {
  display: inline-block;
  z-index: 100;
}

#checkout {
  position: absolute;
  top: -26px;
  left: 135px;
}

#discount_price {
  margin-right: 10px;
}

.store-button {
  background-color: $soft-cyan;
  border: $black 1px solid;
  border-radius: 5px;
  padding: 6px;
  margin-right: 20px;
  margin-top: 6px;
  margin-bottom: 6px;
  cursor: pointer;
  font-size: 11px;
  text-align: center;
}

.pp-button {
  margin-top: 4px;
}

.product-object {
  margin: 25px 0;
}

.store-button:active {
  background-color: $ice-blue;
  outline: none;
}

.store-button:focus {
  outline: none;
}

.store-price {
}

.vert-center {
  height: 13px;
  line-height: 26px;
  vertical-align: middle;
}

.thumbnail {
  margin-right: 10px;
}

.remove-button {
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 1px;
  padding-bottom: 1px;

  background-color: $blue-smoke;
  margin-right: auto;
}

.physical-button {
  margin-top: 22px;
  background-color: $honey-yellow;
}

.digital-button {
  margin-top: 22px;
  background-color: $mega-pink;
}

.discount {
  color: $honey-yellow;
}

.new-price {
  color: $grass-green;
}

.product-table {
  tr:nth-child(odd)     { background-color: $purple-smoke; }
  tr:nth-child(even)    { background-color: $l-purple-smoke; }
}

.background {
  background: rgb(182,181,227); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(182,181,227,1) 0%, rgba(102,100,192,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(182,181,227,1) 0%,rgba(102,100,192,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(182,181,227,1) 0%,rgba(102,100,192,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.product-image {
  float: left;
  margin: 5px 20px 20px 0;
}

.store-image {
  border-radius: 5px;
  float: left;
}

.menu {
  margin: 0;
  padding: 0;
}

.menu-item {
  display: inline-block;
  margin-right: 58px;
}

.menu-item:last-of-type {
  margin-right: 0;
}

.purpler {
  color: $medium-purple;
}

.gold {
  color: $honey-yellow;
}

.greener {
  color: $ghost-green;
}

.dotbox {
  border-bottom: 1px dashed $gray;
  margin-bottom: 25px;
  padding-bottom: 25px;
}

.alert {
  margin: auto;
  margin-bottom: 22px;
  margin-top: 20px;
  max-width: 500px;
  padding: 8px;
  text-align: center;
  border-radius: 20px;
}

.alert-notice {
  border: 1px solid $health-green;
  background-color: $light-jade;
  color: $algae-green;
}

.alert-danger {
  border: 1px solid $rust-red;
  background-color: $wet-clay;
  color: $rust-red;
}

#footer-bar {
  border-radius: 30px;
  background-color: $soft-cyan;
  width: 640px;
  margin: 0 auto;
}

#error_explanation {
  width: 450px;
  border: 2px solid $rust-red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: $off-white;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: $rust-red;
    color: $white;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#leadbox {
  text-align: center;
}

#newsletter-signup-wrapper {
  margin-top: -10px;
}

.newsletter-input {
  font-size: 1.25em;
  min-width: 250px;
  min-height: 33px;
  padding: 5px;
  border-radius: 4px;
}

.newsletter-signup-button {
  background-color: $mega-pink;
  margin: -5px 0 0 5px;
  font-size: 13px;
}

.enter-valid-email {
  color: $honey-yellow;
  margin-bottom: -20px;
}

#ghostcrm-banner {
  margin-bottom: 15px;
  margin-left: 25px;
}

#mynameis, #imake {
  color: $dark-gray;
}
////////// BEGIN RESPONSIVE ////////////////

@media screen and (max-width: 800px) {
  // STEP 1 -- SMALL

  #super-wrapper {
    margin: 0 auto;
  }

  #store-wrapper, #about-wrapper, #blog-wrapper, #newsletter-wrapper {
    width: 500px;
    margin: 0 auto 25px auto;
    text-align: left;
  }

  #about-header, #blog-header {
    text-align: center;
  }

  #store-col2 {
    margin: 0 auto;
    text-align: center;
  }

  #footer-bar {
    width: 550px;
  }

  .store-image {
    margin-right: 10px !important;

  }

}

@media screen and (min-width: 801px) {
  // STEP 2 -- MEDIUM
  #super-wrapper {
    margin: 0 auto;
    padding: 25px;
  }

  #store-wrapper, #about-wrapper, #blog-wrapper, #newsletter-wrapper  {
    margin: 0 auto 25px auto;
    text-align: left;
  }

  #about-header, #blog-header {
    text-align: center;
  }

  #store-col2 {
    margin: 0 auto;
    text-align: center;
  }

  #store-wrapper, #about-wrapper, #blog-wrapper, #newsletter-wrapper {
    width: 640px;
  }

}

@media screen and (min-width: 1341px)  {
  // STEP 3 -- THE MAX
  #super-wrapper {
    text-align: center;
  }

  #store-wrapper, #about-wrapper, #blog-wrapper, #newsletter-wrapper, #ghostcrm-banner  {
    display: inline-block;
    vertical-align: top;
    text-align: left;
  }

  #about-header, #blog-header {
    text-align: left;
  }

  #store-col2 {
    display: inline-block;
    width: 550px;
  }

  #store-wrapper {
    width: 640px;
    margin: 0 auto 25px 0;
  }

  #about-wrapper, #blog-wrapper, #newsletter-wrapper {
    margin: 0 auto 25px 25px;
    width: 450px;
    clear: right;
  }

}
