@import '../colormind';

body {
  background-color: $white;
  font-family: courier;
  background-image: image-url('scale-bg2.png');
  background-repeat: repeat;
  background-position: -200px 200px;
}

.scalequail-block {
  white-space: pre;
  background-color: $light-gray;
  color: $quail-brown;
  border-radius: 5px;
}

.emphasis {
  font-weight: 999;
  font-size: 1.2em;
}

#scalequail-content {
  max-width: 700px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, tr, th, a, li, ul, p {
  font-family: CMUSerifRoman;
  font-weight: normal;
  font-style: normal;
}

.scalequail-post {
  a {
    font-weight: bold;
    color: $quail-blue-l;
  }

  a:hover {
    font-weight: bold;
    color: $quail-blue-h;
  }

  p {
    font-size: 1.2em;
  }
}

.subtle {
  color: $gray;
}

.tag-link {
  font-size: 0.8em;
  color: $quail-blue-l !important;
}

.quail-blue-l {
  color: $quail-blue-l;
}

.pop {
  color: $quail-brown;
}

.coming-soon {
  cursor: pointer;
}

#user-wrapper {
  background-color: $white;
  color: $black;
  a {
    color: $black;
  }
  border: 1px $black solid;
  border-radius: 20px;
}

#scalequail-footer-bar {
  max-width: 400px;
  margin: 30px auto 0 auto;
}

.bit-larger {
  font-size: 1.25em !important;
}

#mobile-title {
  font-size: 2em;
  font-weight: bold;
  line-height: 55px;
  text-align: center;
  margin-top: -30px;
}

#scalequail-nav {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  max-width: 400px;
  margin: 0 auto 50px auto;
}

#archive-wrapper {
  max-width: 400px;
  margin: 0 auto;
}

.datemargin {
  margin-bottom: -10px;
}

.diminutive {
  font-size: 65% !important;
}

.ital {
  display: inline-block;
  font-style: italic;
}

.scaling-in-progress {
  padding: 5px;
  background-color: white;
  border: 1px solid black;
  border-radius: 30px;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 350px;
}

.in-progress-quail {
  margin-right: 15px;
}

.quailpost-image {
  border-radius: 10px;
}

.caption {
  margin: -5px 0 10px 0;
  font-size: 80% !important;
}

.blog-permalink {
  text-decoration: none !important;
  h2 {
    cursor: pointer;
  }
}

.quail-blog-title {
  color: $slate-gray !important;
}

.quailglow {
   -webkit-animation: color_change 1.5s infinite alternate;
      -moz-animation: color_change 1.5s infinite alternate;
       -ms-animation: color_change 1.5s infinite alternate;
        -o-animation: color_change 1.5s infinite alternate;
           animation: color_change 1.5s infinite alternate;
}

@-webkit-keyframes color_change {
 from { color: $quail-blue-x;
        text-shadow: -1px 1px 8px #bbcfef, 1px -1px 8px #fff; }
   to { color: $quail-blue-l; }
}
@-moz-keyframes color_change {
 from { color: $quail-blue-x;
        text-shadow: -1px 1px 8px #bbcfef, 1px -1px 8px #fff; }
   to { color: $quail-blue-l; }
}
@-ms-keyframes color_change {
 from { color: $quail-blue-x;
        text-shadow: -1px 1px 8px #bbcfef, 1px -1px 8px #fff; }
   to { color: $quail-blue-l; }
}
@-o-keyframes color_change {
 from { color: $quail-blue-x;
        text-shadow: -1px 1px 8px #bbcfef, 1px -1px 8px #fff; }
   to { color: $quail-blue-l; }
}
@keyframes color_change {
 from { color: $quail-blue-x;
        text-shadow: -1px 1px 8px #bbcfef, 1px -1px 8px #fff; }
   to { color: $quail-blue-l; }
}

/////  RESPONSIVE //////

// small
@media screen and (min-width: 320px) {

  #mobile-title {
    display: block;
  }

  #header h1 {
    font-size: 2em;
    margin: 0 0 10px 0;
    line-height: 55px;
  }

  #mynameis {
    display: none;
  }

  #logo-wrapper {
    height: 95px;
    width: 95px;
  }

  #scalequail-content {
    padding: 15px;
  }

  .quail-title-image {
    width: 300px;
  }

  .quailpost-image {
    width: 300px;
  }

}

@media screen and (min-width: 450px) {

  #mynameis {
    display: none;
  }

  #mobile-title {
    display: block;
  }

  .quail-title-image {
    width: 400px;
  }
}

// medium
@media screen and (min-width: 650px) {

  #header h1 {
    font-size: 2em;
    margin: 0 0 10px 0;
    line-height: 55px;
  }

  #mynameis {
    display: none;
  }

  #mobile-title {
    display: block;
  }

  #logo-wrapper {
    height: 95px;
    width: 95px;
  }

  .quail-title-image {
    width: 400px;
  }

}

@media screen and (min-width: 750px) {
  #mynameis {
    display: inline-block;
    width: 230px;
  }

  #mobile-title {
    display: none;
  }

  .quail-title-image {
    width: 500px;
  }
}

// large
@media screen and (min-width: 1034px) {

  #header h1 {
    font-size: 2.5em;
    margin: 0 0 10px 0;
    line-height: 55px;
  }

  #mynameis {
    width: 400px;
  }

  #mobile-title {
    display: none;
  }

  .header-words {
    display: inline-block;
  }

  #user-wrapper {
    position: static;
  }

  #logo-wrapper {
    height: 95px;
    width: 160px;
  }

  .quail-title-image {
    width: 500px;
  }

}
