#header
  .left-header{style: "display: inline-block;"}
    #crm-logo-wrapper
      .left.face
        %a{ href: root_path }= image_tag( "go-logo.jpg", alt: "A go board and stones" )

  = render "layouts/userbar"
