= javascript_include_tag "hackersteve/steve", "data-turbolinks-track" => true

// Main layout
.hackersteve-container
  %h1.hackersteve-title Hacker Steve in... DEANHACK 5000

  .steveos-container
    .steveos-header
    .program-container
      // ALL PROGRAM STRUCTURES GO HERE
      .steveOS-directory


      .email-client


      .browser


      .console

