%h1 Diversions

%p Demos or games I have made for fun & practice.

-# %a{href: rainfield_diversions_path}
-#   = image_tag 'rainfield.png', alt: 'Rainfield'

%a{href: stocks_diversions_path}
  = image_tag 'stocks.png', alt: 'Stoooooocks'

%br
%br

= link_to "Home", root_path
