%h1 Rainfield

%p A soothing display of raindrops.

%canvas#ocean{width: "1300", height: "999"}
%canvas#rainfield{width: "1300", height: "999"}

= link_to "Back to Diversions", diversions_path

= render "scripts/ocean"
