%script{src: "https://d3js.org/d3.v4.min.js"}
%script{src: "https://unpkg.com/d3fc/build/d3fc.min.js"}
= javascript_include_tag "stocks/stocks"

%h1 STOOOOCKS

#stocks-wrapper
  #stock-info
    %span#stock-symbol
    #stock-price

  #stock-chart{style: "width: 100%; height: 250px"}
  #player-info
    %span Portfolio:
    %span#player-cash
    #player-portfolio

    %span Net worth:
    %span#player-networth

  #environment-info
    %span
      %strong#date-display

  %button{onclick: "buyStockWithPortfolio(currentStock, myPortfolio, 100);"} Buy 100


:javascript

  $(document).ready(function() {
    initializeGame();
    startGame();
  });
