%script{src: "https://d3js.org/d3.v4.min.js"}
%script{src: "https://unpkg.com/d3fc/build/d3fc.min.js"}
= javascript_include_tag "stocks/stocks"

= stylesheet_link_tag "stocks/stocks"

%h1 STOOOOCKS

#stocks-wrapper
  #environment-info
    %span
      %strong#date-display

  #stock-info
    %span
      %strong#stock-symbol
      ·
      %span#stock-name
    #stock-description
    #stock-price

  #stock-chart{style: "width: 100%; height: 250px"}
  #player-info
    %span Cash:
    %span
      %strong#player-cash
    #player-portfolio

    %span Net worth:
    %span
      %strong#player-networth

  %hr

  %button#buy-100{onclick: "buyStockWithPortfolio(  currentStock, myPortfolio, 100 );"} Buy 100
  %button#sell-100{onclick: "sellStockWithPortfolio( currentStock, myPortfolio, 100 );"} Sell 100
  %br
  %button#buy-500{onclick: "buyStockWithPortfolio(  currentStock, myPortfolio, 500 );"} Buy 500
  %button#sell-500{onclick: "sellStockWithPortfolio( currentStock, myPortfolio, 500 );"} Sell 500
  %br
  %button#buy-1000{onclick: "buyStockWithPortfolio(  currentStock, myPortfolio, 1000 );"} Buy 1,000
  %button#sell-1000{onclick: "sellStockWithPortfolio( currentStock, myPortfolio, 1000 );"} Sell 1,000

%br

= link_to "Back to Diversions", diversions_path

:javascript
  $(document).ready(function() {
    initializeGame();
    startGame();
  });
