%p
  Do you have dreams about your novel getting
  %strong.emphasis stolen
  before you can finish writing it?

%p MORE OF THIS TO COME

%p I do.

%p It doesn't seem rational. No one's going to want to finish it themselves and publish it. No, most likely it'd be someone I've wronged over the years finally taking sweet vengeance, or an unlucky bout of ransomware.

%p I bring this up because I want to talk about backups today. How are you backing up your novel in progress? Are you doing it after every session?

%p I bet you aren't even writing a novel. I'm not judging you, but I'm going to warn you that the rest of this post, which targets people who are, may be lost on you.

%p Without further ado, here is the rest of the post.

%h3 Easy method: Just Use Dropbox

%p If your novel lives in Dropbox, you've got a copy on your drive and automatic backups on the cloud. There's even a kind of version control if you log in that lets you download earlier snapshots of your file.

%p So why wouldn't you use Dropbox?

%p I'm not here to put ideas in your head that using Dropbox is bad. After all, it would ruin my future chances of getting this blog sponsored by them.

%p
  But let's say there are reasons that you don't want to store your book on hard drives that belong to a huge corporation. I mean, it's not like they're going to
  %strong.emphasis steal your novel
  or anything. But let's say you don't want to.

%h3 Emailing to yourself

%p No, see... the email server is owned by a different huge corporation! We've already established that you're paranoid about that sort of thing, because
%strong.emphasis that's how novels get stolen.

%p So stop emailing your novel to yourself, because you'll end up with a huge folder of old versions, and you also might accidentally forward it to somebody who's going to publish it themselves, leaving you with no credit.




%p I've certainly got enough enemies at this point that I've mentally prepared for the consequences of getting firebombed
