.right= image_tag("cyan-circle.png", alt: "Christian DeWolf", width: "150", height: "150")
%p
  I live in
  %strong
    Halifax, Nova Scotia,
  where I write books and build software.

%p
  Do you need an interactive website or database solution for your business? Consider me to build your next web application. Please send me an
  %strong
    %a{title: "Email me", href: "mailto:chrisdewolf@gmail.com"} email
  with an outline of your project. Together we can
  %strong
    %a{onclick: "window.onEachFrame(Ocean.run); $('#rain-trigger').addClass('hidden'); $('#no-rain').removeClass('hidden');", href: "#", id: "rain-trigger"} make it rain.
    %span#no-rain.hidden.greener make it rain.

%p
  This site was built with Ruby on Rails.  Visit my GitHub page to
  %strong
    %a{href: "https://github.com/christiancodes/christianrails/", target: "blank"} view the source code
  or
  %strong
    %a{href: "https://github.com/christiancodes/christianrails/issues", target: "blank"} report a bug.
