%h1#about-header About

%p
  I live in
  %strong
    Halifax, Nova Scotia,
  where I write books and build software.

%p
  Do you need an interactive website or database solution for your business? Consider me to build your next web application. Please
  %strong
    %a{title: "Email me", href: "mailto:me@christiandewolf.com", class: "niceblue"} send me an email
  with an outline of your project.

%p
  This site was built with Ruby on Rails.  Visit my GitHub page to
  %strong
    %a{href: "https://github.com/christiancodes/christianrails/", target: "blank", class: "niceblue"} view the source code
  or
  %strong
    %a{href: "https://github.com/christiancodes/christianrails/issues", target: "blank", class: "niceblue"} report a bug.

%p
  %strong
    = link_to "Follow me on Twitter", "http://www.twitter.com/dewolfchristian", target: "blank", class: "niceblue"
  if you like web development, one-liners, or cats.

%p
  I also run
  %strong
    = link_to "Wolf Butler Art & Software,", butler_path, class: "niceblue"
  a digital publishing company.  Let me know if you need anything laid out or produced.
