#desktop-badger
  %table
    %tr
      %td.small-width.center{style: "vertical-align: text-top;"}
        %br
        %a{href: thisbadger_path}
          = image_tag( "badger-circle.jpg", class: "store-image" )

      %td
        %h2 I Found This Badger
        = render "badger_machine_content"

#mobile-badger
  %a{href: thisbadger_path}
    = image_tag( "badger-circle.jpg", class: "store-image" )

  %h2 I Found This Badger

  = render "badger_machine_content"
