%table
  %tr
    %td.small-width.center{style: "vertical-align: text-top;"}
      %br
      %a{href: thisbadger_path}
        = image_tag( "badger-circle.jpg", class: "store-image" )

    %td
      %h2 I Found This Badger
      %p
        In the fall of 2009, I found a
        %a{title: "I Found This Badger", href: thisbadger_path, class: "niceblue"} badger
        on the sidewalk. We became friends immediately.

      %p These are our stories.
