%form.center{action: "https://www.paypal.com/cgi-bin/webscr", method: "post", target: "_top"}
  %input{type: "hidden", name: "cmd", value: "_s-xclick"}
  %input{type: "hidden", name: "hosted_button_id", value: "SK5Q8BP65UJHE"}
  %input#bookdeal-button.swell{type: "image", src: image_path('holiday-deal.png'), border: "0", name: "submit", alt: 'Books: the perfect gift!', title: 'GHOSTCRIME & Snapback Vol.1+2 - Order now with PayPal'}
