%p
  The
  = link_to 'publishing company', butler_path, class: 'niceblue'
  legally responsible for all of my books and games. Features a blog jam-packed with short-form comedy, and archives of past failures. In the midst of
  = succeed "." do
    = link_to "significant growth-hacking", scalequail_path, class: "niceblue"

%br
