%p
  In this interactive sequel to
  %strong
    = succeed "," do
      = link_to "Gray", gray_graveyard_index_path, class: "niceblue"
  Calico's back, and she'll stop at nothing to bring her coworkers to justice. It's time to compile
  = succeed "." do
    %a{title: "The Calico Brief", href: thecalicobrief_path, class: "niceblue"} The Calico Brief
