#deal-products
  - if @all_products.size > 0
    - @all_products.each do |prod|
      = render 'store/cartwidget_product',  {prod: prod}
      = render 'store/cartwidget_giftpack', {prod: prod}

#checkout{style: "#{ display_setting }"}
  .cartwidget-pricedetails
    %p.cartwidget-discount
      %span.discount_label Save:
      %span.discount_price.new-price

    %p.cartwidget-subtotal
      %span.embolden Subtotal:
      %span.subtotal_price.embolden $0.00

    %p.cartwidget-tax
      %span Tax:
      %span.tax_amount.embolden $0.00

    %p.cartwidget-shipping
      %span Shipping:
      %span.shipping_price.embolden $0.00

    %p.cartwidget-total
      %span.embolden Total:
      %span.total_price.embolden $0.00

  .paypal-stuff
    - paypal_image = "https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-small.png"
    %input{id: "check_out_button", onclick: "doCheckout('cart');", type: "image", src: paypal_image, alt: "Check out with PayPal" }

    %p.diminutive.center{style: "color: grey !important;"} All prices expressed in CAD.

    // errors
    %p.checkout-errors.center.hidden{style: "color: white !important;"} Sorry - an error occurred. Please try again.
    %p.checkout-errors-severe.center.hidden{style: "color: white !important;"} OK, I guess it's broken. Please shame Christian on Twitter: @dewolfchristian

    .hidden.center{id: "processing"}
      = image_tag("spin.gif", class: 'spinner')
      %span{style: "vertical-align: 10px;"} Processing...
