- display_setting = "display: none;"
- unless @cart == {} || !@all_products
  - cartsize = @cart[:books].keys.length + @cart[:giftpacks].keys.length
  - display_setting = "display: inline-block;" if cartsize > 0

#cartwidget{style: "#{display_setting}"}
  %span.artifika{style: 'margin-bottom: 5px;'} My Cart
  = render 'store/cartwidget_content', {display_setting: display_setting}
