%p
  If you happen to like them,
  %a{title: "Do you like COMPUTERS", href: computers_path, class: "niceblue"} this is a blog
  about computers. Tips, tricks and opinions, with the occasional DIY project.
