- paypal_image = "https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-small.png"

- unless !@cart || !@all_products
  - display_setting = @cart.size == 0 ? "display: none;" : "display: inline-block;"


  #checkout{style: "#{display_setting}"}
    %div{style: "text-align: right;"}
      %input{id: "check_out_button", onclick: "doCheckout();", type: "image", src: paypal_image, alt: "Check out with PayPal" }
    #dealzone-pricedetails
      %span#dealzone-discount
        %span#discount_label Save:
        %span#discount_price.new-price
      %span#dealzone-total
        %span.embolden Total:
        %span#total_price.embolden $0.00
    .hidden.center{id: "processing"}
      = image_tag("spin.gif")
      %span{style: "vertical-align: 10px;"} Processing...

  #dealzone{style: "#{display_setting}"}
    #deal-products
      - if @all_products.size > 0
        - @all_products.each do |prod|
          = render 'store/dealzone_product', {prod: prod}
