%table
  %tr
    %td.small-width.center{style: "vertical-align: text-top;"}
      %br
      = image_tag( "diamondfind-icon.png", class: "store-image" )
    %td
      %h2 Diamond Find
      %p You've been busy finding diamonds, and now you can download your finds in HD! All wallpapers are 1600x900.

      %table.full-width
        - @finds.each do |f|
          %tr
            %td
              = button_to "JPEG", { controller: 'woods/items', action: 'download', item_id: f.item.id }, class: 'store-button'
            %td
              .store-format.embolden= f.item.name
