#desktop-diamonds
  %table
    %tr
      %td.small-width.center{style: "vertical-align: text-top;"}
        %br
        %a{href: diamondfind_path}
          = image_tag( "diamondfind-icon.png", class: "store-image" )
      %td
        %h2 Diamond Find

        = render 'diamond_machine_content'

%br
#mobile-diamonds
  %a{href: diamondfind_path}
    = image_tag( "diamondfind-icon.png", class: "store-image" )

  %h2 Diamond Find

  = render 'diamond_machine_content'
