.devrama-book.ghostcrime-book
  %ul.front
    %li.front{onclick: "logBookOpen('ghostcrime');"}
      = image_tag "ghostcrime-book.png"
    %li.back
      / You can decorate the back of the front cover page.
  %ul.page
    %li
      / Blank page.
    %li
      / Also blank
    %li
      %br
      %br
      %br
      %br
      %h1.book-title GHOSTCRIME
      %p.book-title by Christian DeWolf

    %li
      / Also blank
    %li
      %h1.book-header 1
      %p.book-para RAU-C24(80512) stood in the exact centre of the room. It scanned the area.
      %p.book-para “THIS IS A GOOD PLACE,” it said. Its voice was hard and steely, like itself.
      %p.book-para The ghost manifested itself in the room.
      %p.book-para “Yes, I think you’re right.”
      %p.book-para “DO YOU THINK THIS IS A GOOD PLACE.”
      %p.book-para “Yes, I —”
      %p.book-para “THIS IS A GOOD PLACE,” reiterated the robot.
      %p.book-para
        %span.ital.no-indent This partnership could get tiresome,
        thought the ghost, sweeping over the rotting carpet.

    %li.mobile-placeholder-page
    %li
      %br
      %p.book-para “THIS IS NOW OUR BASE OF OPERATIONS.”
      %p.book-para “This room, or the buildi—”
      %p.book-para “THIS BUILDING IS OUR BASE OF OPERATIONS.”
      %p.book-para The ghost caused the lights to flicker and the robot whirred, recalibrating its light sensors.
      %p.book-para “There’s a generator nearby,” the ghost said.
      %p.book-para “THIS IS A GOOD PLACE.”
      %p.book-para The place in question was a condemned restaurant in the bad part of Magnetifax. The robot, as per the ghost’s instructions, had removed the boards from the back door, but had since replaced them, making sure street gangs and addicts did not

    %li.mobile-placeholder-page
    %li
      %br
      %p.book-para.no-indent  interrupt their plans.
      %p.book-para “We need to get started immediately,” the ghost said, its voice emanating as a whisper from every square foot it occupied. The robot rotated its boxy torso to face the majority of the sound.
      %p.book-para “FIRST WE MUST FIND A SERVICE TECHNICIAN.”
      %p.book-para “We don’t need to worry about that yet,” the ghost said. “Your former employers kept you in good shape. That’s why I came to you.”
      %p.book-para “WE WILL EVENTUALLY NEED TO FIND A SERVICE TECHNICIAN.”
      %p.book-para “First we need to have a plan. Now, you want revenge on humans

    %li.mobile-placeholder-page
    %li
      %br
      %p.book-para.no-indent for what they put you through, don’t you?”
      %p.book-para “THE SANDWICH STORE WAS AN ENJOYABLE FORM OF EMPLOYMENT.”
      %p.book-para The ghost shifted vaguely leftwards.
      %p.book-para “They were taking all your money and spending it on human pleasures, like cocaine and food.”
      %p.book-para “I KNEW IT.”
      %p.book-para “Well, I happen to have some humans who deserve a little bit of revenge. Are you with me?”
      %p.book-para “HOW DO I CLASSIFY YOU IN MY SYSTEM.”
      %p.book-para The ghost thought.
      %p.book-para “Put me under ‘PARTNER,’” it

    %li.mobile-placeholder-page
    %li
      %br
      %p.book-para.no-indent said, and smiled, crackling an arc of ice through the damp air. The glittering tendrils fell to the ground and smashed.
      %p.book-para “CAN I ALSO PUT YOU UNDER ‘GHOST.’”
      %p.book-para “Yes, I,” said the ghost, “suppose you can.”

    %li
      // blank
    %li{onclick: "scrollToBookDesc();"}
      %br
      %h1.book-title GHOSTCRIME
      %br
      %p.book-title available now in
      %p.book-title ePub, PDF + Paperback
      %br
      %p.book-title 260 regular-sized pages
