#header
  #logo-wrapper
    .left.face
      %a{ href: main_app.root_path }= image_tag("cyan-circle.png", alt: "Christian DeWolf", class: 'elastiface')
    %h1#mynameis Christian DeWolf
    %p#imake.subtitle Books + Software

  = render 'layouts/userbar'
