#header
  .left-header{style: "display: inline-block;"}
    #logo-wrapper
      .left.face
        %a{ href: main_app.root_path }= image_tag( "face-circle-2.png", alt: "Christian DeWolf" )
    .header-words
      %h1#mynameis Christian DeWolf
      %p#imake.subtitle Books · Software · Blogs

  = render 'layouts/userbar'
