#header
  #logo-wrapper
    .left.face
      %a{ href: main_app.root_path }= image_tag( "cyan-circle.png", alt: "Christian DeWolf" )
    %h1#mynameis Christian DeWolf
    %p#imake.subtitle Coding & Creative

  = render 'layouts/userbar'
