%a{href: "https://www.m3lon.com"}
  = image_tag "melon/m3lon-a-melon-selector.png", alt: 'm3lon - A Melon Selector', title: 'm3lon - Which melon will you choose?', id: 'melon-banner-image', class: 'swell'
