%a{title: "Diamond Find", href: diamondfind_path}
  = image_tag("diamondfind-icon.png", alt: "Diamond Find", width: "150", height: "150", class: "product-image")
%h3
  %strong
    Diamond Find
%p
  Explore the soulless Diamond City and trek to the staggering Diamond Mountains on a hypnotizing hunt for diamonds!
  %a{title: "Diamond Find", href: diamondfind_path, class: "niceblue"} Diamond Find
  is a free diamond-finding adventure with over 500 endings and 100 legendary diamonds to discover.

%h3
  %p &nbsp;

%a{href: "http://www.wolfbutler.com/", target: "_blank"}
  = image_tag("wolfbutler-icon.jpg", alt: "Wolf Butler Art & Software", width: "150", height: "150", class: "product-image")
%h3
  %strong
    Wolf Butler Art & Software
%p
  A
  %a{title: "Wolf Butler Art &amp; Software", href: "http://www.wolfbutler.com/", target: "_blank", class: "niceblue"} digital comedy publisher
  offering apps, ebooks, comics & blogs. Submit your own comedy products to get them served to Butler readers.

%br
