%a{title: "FractalFic: Exponential Fiction", href: "http://www.fractalfic.com/", target: "_blank"}
  = image_tag("fractalfic-icon.jpg", alt: "FractalFic", width: "150", height: "150", class: "product-image")
%h3
  %strong 
    FractalFic – Exponential Fiction
%p  
  Play and write your own interactive stories on this
  %a{title: "FractalFic -- Exponential Fiction", href: "http://www.fractalfic.com/", target: "_blank"} collaborative web platform. 
  Advertise your product by writing a game based around it, submit illustrations to other authors, or team up with friends on a giant story.

%h3
  %p &nbsp;

%a{href: "http://www.wolfbutler.com/", target: "_blank"}
  = image_tag("wolfbutler-icon.jpg", alt: "Wolf Butler Art & Software", width: "150", height: "150", class: "product-image")
%h3
  %strong
    Wolf Butler Art & Software
%p
  A 
  %a{title: "Wolf Butler Art &amp; Software", href: "http://www.wolfbutler.com/", target: "_blank"} digital comedy publisher
  offering apps, ebooks, comics & blogs. Submit your own comedy products to get them served to Butler readers.

%br
