%h1 Explore

%a{href: "http://www.wolfbutler.com/", target: "_blank"}
  = image_tag("wolfbutler-icon.jpg", alt: "Wolf Butler Art & Software", width: "150", height: "150", class: "product-image")
%h3
  %strong
    Wolf Butler Art & Software
%p
  A
  %a{title: "Wolf Butler Art &amp; Software", href: "http://www.wolfbutler.com/", target: "_blank", class: "niceblue"} digital comedy publisher
  offering apps, ebooks, comics & blogs. Submit your own comedy products to get them served to Butler readers.

%br
