%p
  A disruptive journey into the lucrative heart of growth-hacking,
  %a{title: "ScaleQuail", href: scalequail_path, class: "niceblue"} ScaleQuail
  is the blog that scales itself. All scaling solutions are open-source.
