- if @available_products.size > 0
  - @available_products.each do |avail|
    = render 'store_product', { product: avail }
  %br
  %p.diminutive.center All prices expressed in CAD. Prices do not include tax.

- else
  %h2 Nothing left to buy!
  %p Thanks for your support. Come back soon for new releases.
  // TODO Suggest something else to do with the money 
