-# How a product appears in the Storefront

.desktop-product
  .product-object
    = render "store/store_product_content", { product: product }

.mobile-product
  = render "store/store_product_content", { product: product }
