%table
  %tr
    %td.small-width.center{style: "vertical-align: text-top;"}
      %br
      %a{href: butler_path}
        = image_tag("wolfbutler-icon.jpg", alt: "Wolf Butler Art & Software", width: "150", height: "150", class: "store-image")
    %td
      %h2
        Wolf Butler Art & Software
      %p
        A
        = link_to 'digital comedy publisher', butler_path, class: 'niceblue'
        offering apps, ebooks, comics & blogs. Submit your own comedy products to get them served to Butler readers. Or, don't, and save me a ton of work.

      %br
