%table
  %tr
    %td.small-width.center{style: "vertical-align: text-top;"}
      %br
      %a{href: butler_path}
        = image_tag("wolfbutler-icon-white.png", alt: "Wolf Butler Art & Software", width: "150", height: "150", class: "store-image")
    %td
      %h2
        Wolf Butler Art & Software
      %p
        The
        = link_to 'publishing company', butler_path, class: 'niceblue'
        legally responsible for all of my books and games. Features a blog jam-packed with short-form comedy, and archives of past failures. In the midst of
        = succeed "." do
          = link_to "significant growth-hacking", scalequail_path, class: "niceblue"

      %br
