= render 'layouts/userbar'
%br
- if @owned_products.size > 0
  %h1 Library
  - @owned_products.each do |owned|
    = render 'store_product', {product: owned}

- if @available_products.size > 0
  %h1 Available products
  - @available_products.each do |avail|
    = render 'store_product', {product: avail}

%br
%p.diminutive.center All prices expressed in CAD. Prices do not include tax.
%br
= link_to 'Home', root_path