.panel
  %h1 Game error!

  %p Sorry, but whatever you tried is not currently working. I'll probably be notified -- if that isn't broken as well.

  %p
    = link_to "Back to Diamond Find", diamondfind_path
