- if current_user

  #drawer-holder

  = javascript_include_tag "vendor/drawer.js",  "data-turbolinks-track" => true
  = stylesheet_link_tag    "vendor/drawer.css", media: "all", "data-turbolinks-track" => true

  :javascript
    $(document).ready(function(){
      var prods = #{ raw( Store::Product::CHECKLIST_PRODUCTS.to_json ) };
      var myNav = [];
      prods.forEach(function(prod) {
        myNav.push({content: prod.name, href: prod.slug});
      })
      new Drawer().addListItems( myNav );

      // TODO mark off which products have been read
    });
