- unless !@cart || !@all_products 
  - klass = @cart.size == 0 ? "hidden" : ""

  #dealzone{class: "#{klass}"}
    %p.embolden Your basket:
    - if @all_products.size > 0
      - @all_products.each do |prod|
        = render 'store/dealzone_product', {prod: prod}

    #check_out
      %table
        %tr
          %td.half-width
            #discount_label Save: 
          %td.half-width
            #discount_price.new-price
      %table
        %tr
          %td.half-width
            .embolden Total:
          %td.half-width
            #total_price.embolden $0.00
          
      %button{id: "check_out_button"} Check out now
