#header
  %h1 Christian DeWolf
  %p.soft Books + Software
  #menu-container
    %ul.menu
      %li.menu-item
        %a#store-link.menu-text.link-selected{href: "#", onclick: "showStore(); return false;"} Store
      %li.menu-item
        %a#explore-link.menu-text{href: "#", onclick: "showProducts(); return false;"} Explore
      %li.menu-item
        %a#services-link.menu-text{href: "#", onclick: "showServices(); return false;"} Services