<!DOCTYPE html>
<html>
  <head>
    <title>Christian DeWolf - Programming / Creative</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <meta property="og:image" content="http://www.christiandewolf.com/fbicon.jpg">
    <meta property="og:title" content="Christian DeWolf - Programming / Creative">
    <meta property="og:url" content="http://www.christiandewolf.com">
    <meta property="og:description" content="Web programming, design &amp; custom data solutions for your business.">

    <link href='https://fonts.googleapis.com/css?family=Artifika' rel='stylesheet' type='text/css'>
    
  </head>

  <body class="background">
    <%= yield %>
  </body>
</html>
