%h1 Year in review: 2014

%p
  It's that time of the year again -- I mark the
  %a{title: "Daylight Calculator", href: "http://jan.moesen.nu/daylight-calculator/?location=Halifax%2C+NS%2C+Canada&amp;latitude=44.6488625&amp;longitude=-63.5753196", target: "blank"} extra minute of daylight
  at both ends of the day, if it isn't overcast, and have to think up another annual summary post. Like I have the energy. Let's get this over with.


%h3 10. Pickled beans
%p These just made the list today. Crunchier than pickled eggs, these over-sized beans are sure to chase away the winter blues.


%h3 9. Blankets
%p I invested in some fuzzy blankets last winter and they're certainly up there with the best.


%h3 8. Sunlight
%p At some point this year, there was sunlight, I'm sure, for most of the day. It was really warm outside, and sunlight was the root cause. It makes the list.


%h3 7. Riven: The Sequel to Myst
%p Decided to go back to this miserable cluster of islands after 16 years. I'd forgotten how it's just one vague, sprawling puzzle, and I'd somehow romanticized the whole thing in my mind as a fun time. Which is why I also have to include...


%h3 6. Official Riven Strategy Guide
%p
  Kept
  %a{ title: "Riven Strategy Guide", href: "http://www.amazon.ca/Official-Riven-Sequel-Hints-Solutions/dp/1566867096", target: "blank"} this slim volume
  handy for over a decade just in case I ever had a Riven emergency. I know there are online walkthroughs, but what if there wasn't Internet, or power, and only half a battery charge left?


%h3 5. Java programming language
%p
  The clean, easy-going Ruby language made the list
  = succeed "," do
    %a{ title: "2013 Year in review", href: "butler/show_post?post=20131231_2013_in_review", target: "blank"} last year
  but this must have angered Java, as it's back with a vengeance. So strict and unforgiving, under the guise of being helpful. UnsupportedOperationException? Thanks, you asshole, I kind of figured. If I give it a list spot, maybe it'll go away.


%h3 4. Giving up on what I'm doing to go to sleep
%p
  An excellent strategy. Year-end wrap-ups are supposed to be about media that was released that year, anyway, and I actively avoided most of that. Hope it was good? I might have to read some lists later.
