%h2 Marketing in 2013 and How Much I Hate It

%p The blog continues. Here is a short list of marketing terms I have learned within the past year and have grown to hate:

%ul
  %li
    %p "SEO" - Search Engine Optimization. Ideally, it's giving your website a good design and naming your pages properly so that people searching for your content can find it easily. However! Did you know that freelance writers are hired to re-write existing articles 10+ times in different ways, using different words and keywords, simply to get more search engine traffic, not adding value in any way? I tried to bid on one of those jobs but I was undercut by someone who would do it for $10. Anyway, SEO is a "skill" you can list on your resume if you want to make your living doing that for people.
%ul
  %li
    %p "Impression" - I think this used to be 'eyeballs' back in the dot-com/Dilbert era, but it's how many people 'saw' your ad. Except not really, because it's how many times the page on which your ad appears was loaded, whether it made an "impression" or not. If you're using this word, you're either lying to yourself or someone else.
%ul
  %li
    %p "CPC" - Cost Per Click! How much are YOU paying an advertiser, on average, for every click you get on your banner ad? I admit, it's an important metric for determining which ads/sites connect with readers most, but honestly, I hate my life and what it's become. "Metric". God. I don't even know who I am anymore.
%ul
  %li
    %p "Cuts/slices" - technically not marketing-related, but when you've got a pile of data, and you want to draw conclusions from it by running different queries and filters, why not refer to it as a piece of meat? "If we slice the stats this way..." MMmm, yeah, I can taste the numbers. "Senior management ideally wants to see these cuts of the data..." If you're an overpaid consultant and lunchtime's approaching, distract everybody from your lack of actual skill with these juicy terms. Is your data also marbled? (try sorting it)

%p I'm sure there are more but it is past lunchtime and I want meat but all I have is that frozen rack of lamb, which I was SAVING for a SPECIAL OCCASION
