%h1 Unpopular Versions of Diamond Find I Have Made

%p
  It began with a series of
  %a{ title: "Diamond Find Comics", href: "http://www.wolfbutler.com/blog/wp-content/uploads/2014/05/df2.jpg", target: "blank"} barely
  legible comics.

%p
  Who can say why? But in the fall of 2011 I had an idea for an interactive story based on this idea. I became obsessed and so sat down and wrote a little Java program that would construct one in a .CSV file. I'd only build the engine to actually read/play the file four months later, after I'd written over 80,000 words of diamond adventures, because I'm committed like that.




%h3 Diamond Find: Alpha
%p
  A minimal reader did the job, and with a little character art it was playable:

= image_tag "butler/blog/alpha.png", width: "497", height: "438", class: "center"

%p
  I sent it around to a few people to do editing and testing, but knew at this point I knew it could be more. I added a second .CSV with more encounters and B-stories, including branching consequence trees for finding some of the unique diamonds, and a questionable storyline where the Feds send their best profiler to hunt you down after you assassinate a city councillor for a diamond.
%h4 Total users: ~10



%h3 Diamond Find for Android
%p
  Designing the game for a phone presented the challenge of text size -- how to fit the content into a screen so small? I was also thinking ahead to smartwatches, which I still believe are the future. It was at this point that I decided it would work best as a speed-reading game, and thus implemented it as a flashy, lightning-fast comedy brain trainer. I even tracked down Volker Tripp, who'd done music for some of my <a title="ShadowWraith" href="http://www.youtube.com/watch?v=UmkD-2YBW0A&amp;list=PL3CE2FD5D6670E858" target="_blank">favourite games</a> in the 90's, to license some of his .MOD music for the soundtrack. However, he stopped responding to my emails after a little while, which was disappointing, but also saved me 1300 EUR. This version is no longer available, but was the first to feature HD diamond graphics.

= image_tag "butler/blog/android.png", width: "400", height: "240", class: "center"

%h4 Total users: ~35



%h3 Diamond Find LP
%p
  I definitely wanted to capture a hip demographic, and market research pointed straight to vinyl. While it took a bit of editing, I managed to fit the game onto two sides of an LP and pressed a limited edition copy:

= image_tag "butler/blog/diamondfindLP.jpg", width: "725", height: "537", class: "center"

%p
  However, it failed to attract a minimum bid at auction and thus remains unsold. This collector's item can be yours though, for the right price! Serious inquiries only.
%h4 Total users: 0 (still in mint condition)



%h3 Diamond Find Terminus
%p
  After dismissing the idea to port the game to the more popular iOS, I decided to make a website where people could play Diamond Find for free! At first the plan was to implement it in Rails, and thus I ported the game to the Ruby language, creating a terminal-based skeleton:

= image_tag "butler/blog/terminus.png", width: "725", height: "271", class: "center"

%p
  Functional, but I eventually decided that Java-based GWT was a better fit for what I wanted, and shelved Terminus after only a week.
%h4 Total users: 2



%h3 Diamond Find: THE ULTIMATE VERSION
%p
  That's right, the definitive Diamond Find is yet to come! In <strong>maybe a month or so</strong>, you'll be able to play a web-based implementation, completely free. What's more, I'm releasing it on a platform that will allow you to write and publish your own Diamond Find-style adventures with ease. Soon to be the first name in casual non-linear fiction, <strong><a title="FractalFic" href="http://fractalfic.com" target="_blank">FractalFic</a> is almost here.</strong>

%p For mass appeal, though, I watered down the story slightly by removing the city councillor murder plot. The gun is chocolate now.
