%h1 New book forthcoming

%p
  If you like your sci-fi, horror and comedy all mashed together, you'll love this new book that I've written,
  = succeed "!" do
    %strong Ghostcrime
  In just over two months, I'll have an edition printed, and hopefully an ebook shortly after.
  = succeed "?" do
    %em Do you feel that
  It's adrenaline. Go see a doctor if it gets unbearable.
