%h1 Deer Hunter 2014 is Appalling, More Than Expected

%p A few months ago I saw Deer Hunter 2014 available for free on the App Store, so I downloaded it, remembering - and stay with me here - a good experience I had one time with a Deer Hunter game, back in the 90's. That was Deer Hunter 2, and most of the game was just walking around in a snowy forest, looking for deer. It was relaxing! You could set up tree stands and spritz urine around to lure in animals! I did see a deer once, and shot at it, and tracked its hoofprints through the snow. I think I had to stop playing before I ever found the deer, but I still have fond memories of that day.

%p
  So why not see what Deer Hunter 2014, using
  = succeed "," do
    %em next year's technology
  could do?

%p
  I played it and it is 
  = succeed "." do
    %em terrible

%p Shockingly, disgustingly bad. My days of forest hiking are over - you can't walk. You stand there and the animal is there and you shoot it. It's not even hard. If not standing right there, the deer are running right past you in great streams, stupidly out in the open in straight lines, and you can just pick them off. I counted no fewer than 27 deer in one 90-second round. But you can only shoot three because that's how many you need to win the level.

%p The animals don't react to gunshots either - no scattering, or whatever actual animals do when they're scared. (edit: they do in higher levels, but not enough to make it actually difficult)

%h3 "Lung Shot!"

%p You get an extra five in-game dollars for a Lung Shot. Sometimes, when you've pulled the trigger and the game knows you've killed the animal, it'll go into Bullet Time mode and the camera will follow the bullet in slow motion to its target. The impact is an explosion of blood, and at first glance it looks like the designers put a lot of effort into the animals-dying physics, but as you progress you see that they all fall down and die the exact same way. A few levels in, you're told about the Infrared Sight, which will help with your accuracy (but has limited battery life). While in use, it lights up the animal's organs most useful to you as its murderer - bright lumps for the lungs, the beating heart and the brain.

%p You can also use Hollow Points ("Deal Double Damage!") and drink sports drinks. The sports drinks slow down time. This is useful on Timber Wolf levels, where wolves run at you as you shoot at them - the first challenge in the game. Even if you don't want to use your power-ups, the game automatically goes into slow motion when the wolf is jumping at you anyway, and gives you x-ray vision into its body so you can hit the brain or the heart. If you get killed by a wolf, you get a "Hunt Failed" but still earn $30 for some reason.

%p I played with giddy but nervous hesitation. They were trying to make me comfortable, and I knew they would try to sell me something soon. It was all too easy. Grinding out in-game money like this, something was bound to show up. Indeed, there is a Power Bar at the top of the menu console, which decreases whenever you go on a hunt. When it gets to the bottom, you can't play anymore, and you have to wait ten minutes to regenerate another unit of power. OR, you can buy more power with gold bars, which you sometimes receive for "levelling up". If you don't have enough gold, you can definitely buy some.

%p Gold is used to buy better guns (more rifle stability!), upgrades for your guns (full-chrome interior barrel, mmm), and a variety of other things that make killing the animals easier. You can also buy passes to play online in "Club Hunts," which are just like the regular game except your kills are counted toward a worldwide total of slaughtered animals. I got to play a few of them before buying a pass, so 8 of those hundreds of thousands of kills are mine.

%p
  Let me say this. If you are putting money into this game, you are an idiot. Not only are you financially admitting that you like this
  %em worthless
  game, you're powerless to resist the give-you-something-then-take-it-away model of free-to-play gaming. After a bit more playing (for review purposes) I was able to unlock the second geographical area, allowing me to kill hyenas and cheetahs in Africa. Shortly after it becomes impossible to progress without putting money into it - the hides of the animals thicken as the levels ascend, and that high-powered rifle that was perfectly capable of shooting a ram through the skull can no longer bring an animal down with a single shot. This makes it particularly hard to win the "Kill 3 black bears with a heart shot" [sic] level.

%p What happened to Deer Hunter? In no way does this feel like hunting. I should say at this point I've never hunted anything, but I'm fairly positive it isn't this insultingly easy. How did you find these animals? The game glosses over this detail. This is not for hunters. This... this is for people who genuinely enjoy watching animals dying in slow motion. It also exists, I think, to sell guns. You play the game, you shoot some animals, hear some guitar riffs, and then go out and buy that shotgun you've always wanted, with the full-chrome interior barrel.

%p So to summarize: awful game, for stupid people.

%p But, I have to admit, it is kind of fun to shoot ducks out of the air. They explode in feathers!
