%h1 You aren't buying enough

%p I think we should all try just a little bit harder to be better consumers.

%p
  Do you have money? Don't tell anyone if you do -- a friend might ask you to have some, and you'll have to think of an excuse not to give them any. No, if you have money, the best thing to do is buy more things and raise your standard of living. You've earned it! The only time it's acceptable to tell someone how much money you have in your bank account is if it's so little, you know the number to the cent. "I've only got three dollars and twenty-seven cents in my savings account," you can say with a laugh. Others might laugh too, but wait for the eerie silence as each person thinks of a way to change the subject. They definitely have more money than you, and they don't want to even the score. They have couches to buy.

%p
  You might be talking to someone who has upwards of twenty thousand dollars to their name -- but you'd never know! Not until they buy that car, anyway. "I 
  %em had
  twenty thousand dollars," the new driver chuckles, "but I'm pretty broke now!" Don't worry too much, though, and don't offer them any of your money. There are things you haven't bought yet. Have you
  %em seen
  stores? You can pick up anything you want, within reason, and leave the store with it, after parting with the dollar amount listed on its tag. Notice that good feeling in the pit of your stomach as you make off with your new purchase? You can have that any time you want. There's probably a store really close to you right now.

%p
  I mean, what do you think you're doing? Every time you're not adding a new physical object to your personal inventory, you are
  %em insulting
  everyone involved with it. Someone had to design it -- possibly even an entire team of people. Someone had to build the machinery to manufacture it, and people are employed full-time to keep those machines running at maximum efficiency, 24/7. They're so smart! Are you calling them
  = succeed "?" do
    %em chumps
  Another person, a creative genius, did the typography for the packaging. Look at the letters! You don't want to own that box for a few hours before you put it in the recycling? I mean garbage. You can put it in the garbage.

%p
  That product on the shelf you haven't bought yet -- an inspector personally made sure that it was safe for you to have in your home. A supply chain manager, who went to school to learn the art of international commercial transportation, succeeded in bringing it a great distance so that you could see it, and hold it in your hands. Smell the product! Did you see the TV commercial for it? That thirty-second ad cost far more than twenty thousand dollars to make. Someone could have bought a vehicle for that kind of money, but they didn't. That's a sacrifice that was made for
  = succeed "." do
    %em you
  And you aren't even grateful. Do you feel good about yourself? Because you'd be wrong. The
  %em customer
  is always right, and I don't hear a receipt getting printed, you dirtbag.

%p
  You are fat, and cheap, and classless, and you smell, and you're ugly, and none of the colours in your living room go well together. And you still have money? What are you even planning to do with it? No -- don't tell me.

%p Show me.

%p Buy something today. The cashier will thank you.
