%h1 Breaking badger news

%p
  What a week it's been! The studio has been turned upside down by the unexpected return of my
  = succeed "." do
    %a{title: "Jesse came back!", href: "http://www.thisbadger.com", target: "blank"} old badger friend
  I've got a huge list of web technologies I want to learn this winter, though, so I hope he doesn't get in the way too much.
