%h1 Press to Impress

%p
  I've been neglecting the blog a bit trying to get FractalFic launched, but 
  = succeed "," do
    %em speaking of blogs
  my friends at
  %a{ title:"ClamBlog interview", href:" http://clamblog.blogspot.ca/2014/06/chowder-and-chat-programmer-visits-house.html", target: "blank"} ClamBlog
  recently did an interview with me about the project. Check it out!

%p I should probably try to get a little more press than this.
