%h2.blog-title Grocery shopping tips

%p When I was young I remember some "smart shopper" tips that were drilled into me, making me feel smart. How was I to know that some of them were false?
%br
%ul
  %li
    %p
      %strong "Never shop hungry"
      always reminded me to eat something before I went to the store. The premise is that if you're hungry, you'll buy all sorts of "impulse foods" like pizza pockets and English muffins instead of "good" foods like turnips. While I may be more cutthroat and focused when my stomach is growling, it does not rob me of all logic, so today I did an experiment, and shopped hungry. Although I almost passed out on the walk home, my bags were laden with quality food that I really wanted to eat, and as soon as I unpacked my groceries, I made a delicious salad, with cranberries and sunflower seeds from the bulk section.
%ul
  %li
    %p
      %strong "Always get milk from the back of the fridge"
      is actually still a good tip, although the design of the milk shelves in my local store discourages this practice by making it hard to reach back there. Luckily I have long arms.

%br
%p These are the only "smart shopper" tips I can really remember, so I guess one for two isn't bad. But I have tips of my own that I will now share.
%br

%ul
  %li
    %p
      %strong "Avoid the salt fridge at all costs"
      \- you know the one, with the frozen pizzas and mozza sticks and wieners dipped in batter. Just don't look at that fridge! What, do you want to eat 200% of your daily sodium needs in a single sitting? Or are you just going to eat 4 mozza sticks? No, because you heated the toaster oven to 450° and you don't want to waste the heat. Just roast up some red peppers and onions. They're delicious.
%ul
  %li
    %p
      %strong "Tune out the sale colour"
       - stores use tags of a brighter, sometimes even 
      %em neon
      colour to denote a price drop, or "sale," on their products. You might think, "Sale! I can 
      %em save money
      by making a choice right now!" However, most of the sales are terrible. Six dollars is still too much to pay for ice cream, hoofprints or not. And don't let it affect your bread decisions, because all you'll get with economy bread is mold, days earlier. There's plenty of old bread in the dumpster out behind the store, if you return under the cover of darkness.
%ul
  %li
    %p
      %strong "Do you need cheese?"
      \- sometimes the answer is a resounding "yes," such as when you've promised to make someone cheese-bread or have committed to a fondue party with co-workers. But usually cheese is optional. First of all, it's the most expensive thing in the store, other than those artisanal oils with the sprigs of parsley in the bottles. You couldn't spare a dollar for the homeless man you passed on the street, but you'll drop nine on a wedge of Jarlsberg? It is smoky, I'll admit, but you're only cheating yourself. And the homeless man. I bet if you gave him the cheese, he wouldn't even accept it, and you'd still feel like an awful person.

%br

%p That's all for grocery tips this week. Next time, I'll be talking about different varieties of egg and how the brown, speckled ones, which look the most delicious, are in fact no different from the white kind.
