#blackink.hidden
  = image_tag 'butler/blackink-0.jpg', id: 'blackink-cover-image'
  %br/
  %br/
  %br/
  %p In October of 2012, I gave this book to a friend as a wedding gift. Because nothing can erase the bond of a true partnership -- or black ink.
  %br/
  %p Returning soon.
