#ghostcrime.hidden
  = image_tag('butler/cover-cut.png', alt: "Ghostcrime", height: "443", title: "PROCESSING", width: "500" )
  %br
  %br

  %p.grayer Welcome to Magnetifax, Nova Scotia's newest futuristic municipality.  With a serial killer on the loose and someone abducting Metal People (robots -- but don't call them that to their faces), it seems like Detective Stebbins' day can't get any worse.  But the clues to a grisly murder spell out 'Ghost', and Stebbins realizes he's going to have to watch his back -- unless he's just losing his grip on sanity.

  %p.grayer In this spine-chilling crime-thriller-comedy, follow the investigation of the Magnetifax Police Department as they square off against costumed murderers, ghost experts, obstinate technology and adorable raccoons, on the way to uncovering a mystery that goes all the way to the top.  But it's not just any crime they're out to stop -- it's

  %h1.Courier{align: "center"} Ghostcrime
  %h3.Courier{align: "center"} by Christian DeWolf

  %br
  %h5.Courier.diminutive.grayer Cover art by Bruce Delo
  %br
  %br
  %a{href: '../'}
    = image_tag('butler/ordernow.png', alt: "Order now!", title: "Order now!" )
  %br

  %h5.Courier.diminutive{align: "center"}
    %span.whitener Paperback
    %span.grayer |
    %span.whitener 275 pages
    %span.grayer |
    %span.whitener $20
