#gray.hidden
  %table
    %tr
      %td
        %h3 Just another week on the fourth floor...
        %br/
        %p.left Father Gray is a successful real estate agent at SootCo, coasting on the work of others while he hides in his office, perfecting his hazelnut cappuccino recipe. But Cat City favours the cats, and when the other animals decide to rise up and take over, the SootCo team gets embroiled in a battle that they want absolutely no part of.

        = image_tag("butler/coffeecup.jpg")

        %p.left Threatened by a well-armed strike team from competitor Real Estate Unlimited, as well as the possibility that the third floor might contain ghosts, Gray and his coworkers need to use all of their swivel chair expertise to protect their lives, their jobs, and their reputation with the fancy lobster place across the street, which does not look favourably on cancelled reservations.

        = image_tag("butler/lobster.jpg", width: "300px", height: "306px", alt: "Gray")

        %br/
        %br/
        %h1
          %b Gray:
        %h3.grayer Second Edition
        %br/
        %h2 2016   Q3
      %td
        #gray-cover
          = image_tag("butler/gray-cover.jpg", class: "df-cell", alt: "Gray")
          %h5.df-table.Courier.grayer.diminutive Temporarily out of print!

:javascript
  function grayscroller() {
    var vPosition = window.pageYOffset,
        contentHeight = 1200;
    if(vPosition < contentHeight) {
      $('#gray-cover').css("margin-top", vPosition - 500 + 'px');
    }
  }
