%table.product-icon.swell
  %tbody
    %tr
      %th
        %a{href: locals[:product][:code]}
          = image_tag('butler/buttons/' + locals[:product][:icon], width: locals[:product][:iconW], height: locals[:product][:iconH])
    %tr
      %th
        %a.product-link.courier{href: locals[:product][:code]}= locals[:product][:productName]
    %tr
      %th
        .product-description.courier.diminutive{href: locals[:product][:code]}= locals[:product][:description]
