#reserve.hidden
  = image_tag( "butler/gold.jpg", alt: "Which precious metal is the best?", class: 'precious-image')
  %h1.courier Precious Metals Reserve
  %br/
  %br/
  %p.grayer The Precious Metals Reserve has been liquidated.
  %p.grayer Its business model, while only fractionally flawed, was ultimately undermined by market forces, notably the lackluster global demand for precious metals co-opted for comedy.
  %p.grayer
    While the Reserve will re-distribute no more metal, precious or otherwise, its legacy will exist in the pieces it
    = succeed "." do
      %a#silver-link.diminutive{href: "silverstock"} did pass on
    %br/

:javascript
  $('#silver-link').click(function(){
    switchPage(this);
    return false;
  });
