#snapback.hidden
  = image_tag('butler/go-alt.jpg', title: "Fuseki")
  %br/
  %br/
  %br/
  %h1.purpler{style: "text-align: center"} Snapback
  %h4{style: "text-align: center"} Serial novel - coming soon
