#snapback.hidden
  = image_tag('butler/snapback-cover.png', title: "Snapback: Volume 1", alt: "A Go board", id: 'snapback-cover-image')
  %br
  %br
  %br

  %p Go is the most popular board game in the world, and yet, no one at Felix's high school has heard of it. When his classmate Lindsay proves herself a natural genius, word travels fast, and soon an old friend from Felix's past arrives to see for himself. But beneath his curiosity lies something far more sinister...

  %br

  = image_tag('butler/snapback-title-info.jpg', title: "Snapback: Fuseki", alt: "Snapack: Fuseki", id: 'snapback-title-image')

  %br
  %br

  %a{href: "http://www.playerprophet.com", target: 'blank'}
    = image_tag('butler/snapback-illustration-info.jpg', title: "Illustrated by Dawn Davis", alt: "Illustrated by Dawn Davis", id: 'snapback-illustrated-image')
  %br

  %p{style: "text-align: center"}
    = link_to "Paperback / Digital editions available now", snapback_path
