#snapback.hidden
  = image_tag('butler/go-alt.jpg', title: "Snapback: Volume 1", alt: "A Go board")
  %br/
  %br/
  %br/

  %p When Felix Boates introduces the game of Go to his high school, he expects he'll have to teach everybody from scratch -- except Lindsay Ralston is somehow an instant pro. When word of her skill reaches an old friend from Felix's past, they're both swept away on an international adventure to visit a top-secret Go academy. But the school is more sinister and dangerous than either of them bargained for...

  %br/

  %h1.purpler{style: "text-align: center"} Snapback
  %h4{style: "text-align: center"} November 2016
