#thisbadger.hidden
  %p Once, I found a badger on the sidewalk.
  %p We became friends immediately.
  %h3 These are our stories.
  %br/
  %br/
  %a{:href => "http://www.thisbadger.com", :target => "_blank", :title => "I Found This Badger"}
    = image_tag('butler/badger-fur-small.jpg', title: 'Badger stories!')
