%h1 Listing Palettes

%table
  %thead
    %tr
      %th

  %tbody
    - @palettes.each do |pal|
      %tr
        %td= pal.name

%br

= link_to "Back to story manager", manage_woods_story_path(@story)
