.admin-panel.panel
  %h1 Customer Service Policy

  %p
    %span Wolf Butler Art & Software strives at all times to provide a high quality of customer service. As such, we aim to respond to any question or complaint regarding ChristianDeWolf.com and its products within 24 hours. Please email your inquiry to
    %span
      %a{mailto: "christian@wolfbutler.com"} Christian [at] WolfButler.com.

  %p
    %span Our policies around refunds can be found in the
    = link_to "Refund Policy.", refund_policies_path

  = render "back"
