.dotbox
  %h1 Privacy Policy

  %p Wolf Butler Art & Software endeavors to collect as little personal information from users as possible. We will not share this information, which includes but is not limited to email addresses, with third-party advertisers or affiliates without your express permission. We will also take every precaution to ensure that this data is not compromised.

  %p If you consent to receive emails when you sign up for a ChristianDeWolf.com account, we may, from time to time, email you about the platform, or other Wolf Butler Art & Software products, offers and promotions. We will do our best to limit these communications.

  %p This site uses cookies for the purpose of session tracking. If you do not allow them to be set on your computer, the site will not function correctly for you. The site does not set any cookies from third-party sites or advertisers.

  %p 
    %span Any questions about our Privacy Policy can be communicated directly to 
    %span
      %a{mailto: "christian@wolfbutler.com"} Christian [at] WolfButler.com.

  = render "back"