%h1 Privacy Policy

%h4 Last updated: August 18, 2016

%p Wolf Butler Art & Software collects information from users as needed, which includes but is not limited to email addresses & IP address. We will not share your personal information with third-party advertisers or affiliates without your express permission. We take every precaution to ensure that our data is not compromised. We also keep private the information you enter into your account through the ghostCRM organizational application, including your Contacts and their information. We will not contact any of your Contacts on your behalf without your express permission.

%p If you consent to receive emails when you sign up for a ChristianDeWolf.com account, we may, from time to time, email you about the platform, or other Wolf Butler Art & Software products, offers and promotions. We do our best to limit these communications.

%p This site uses cookies for the purpose of session tracking and third-party payment functions. If you do not allow them to be set on your computer, the site will not function correctly for you.

%p
  %span Any questions about our Privacy Policy can be communicated directly to
  %span
    %a{mailto: "christian@wolfbutler.com"} Christian [at] WolfButler.com.

= render "back"
