.admin-panel.panel
  %h1 Refund Policy

  %p ChristianDeWolf.com uses PayPal to sell digital goods to users. A successful transaction through PayPal should add the requested product(s) to the user's Library and enable downloading of all available formats.

  %p
    %span If your payment was processed and the requested product(s) were not added to your Library, please contact the administrator at
    %span
      %a{mailto: "christian@wolfbutler.com"} Christian [at] WolfButler.com
    %span and the matter will be investigated. The requested product(s) will be added to your Library upon confirmation that the correct payment was received.

  %p No refunds will be issued to the user if one or more digital copies of the purchased product(s) are found to have been downloaded through the user's account.

  %p Prices on the Site may change over time and we offer no partial refunds for products purchased at a different rate than the rate currently listed.

  = render "back"
