.dotbox
  %h1 Terms of Use

  %h4 WOLF BUTLER ART & SOFTWARE ChristianDeWolf.com Terms of Use

  %h4 Last updated: December 27, 2015

  %p ChristianDeWolf.com is a gateway to access books and software (the "Products") produced wholly and in part by Christian DeWolf (the "Author"). It is maintained by Wolf Butler Art & Software (the "Publisher"), a company based in Halifax, Nova Scotia. By using ChristianDeWolf.com and its servers/databases (wholly referred to as the "Site"), you (the "User") agree to this Terms of Use document (the "Terms"), thereby entering into a binding agreement with the Publisher.

  %p By using the Site, you agree not to hack, exploit or otherwise disrupt the operation of the Site or its hosted content. You agree not to attempt to obtain hosted Products by means other than the Site's interface, or without paying the listed price. You also agree not to use scripts or other forms of automation to create dummy accounts, break into the accounts of other Users of the Site, or engage in other nefarious interactions with the Site. 

  %p While all Products obtained through the Site are free from digital copy protection, you agree not to share or distribute any of the Products without the Author's express permission. You may make copies of the Products for personal use only, such as transferring to your own mobile reading device or making a private backup.

  %p 
    %span You agree to the 
    %span= link_to "Privacy Policy", privacy_policies_path
    %span and the
    %span= link_to "Refund Policy,", refund_policies_path
    %span and agree that while the Publisher will use fair and reasonable judgement in disputes, the Publisher has final say in all matters.

  %p These Terms and policies incorporated herein constitute the entire agreement between you and the Publisher. They supersede any and all prior or contemporaneous agreements between you and the Publisher relating to your use of the Site. The Publisher may assign or modify these Terms, in part or in whole, at any time.

  = render "back"
